<a href="https://colab.research.google.com/github/Subidghimire/Gini-coefficient-as-travel-time-reliability/blob/main/2022CartripsNBMDELJULY12_DESCRIPTIVES_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

ValueError: mount failed

# Functions

In [ ]:
def label_income (hh):
 if hh['HHFAMINC']==1:
   return '10000'
 if hh['HHFAMINC']==2:
   return '12500'
 if hh['HHFAMINC']==3:
   return '20000'
 if hh['HHFAMINC']==4:
   return '30000'
 if hh['HHFAMINC']==5:
   return '42500'
 if hh['HHFAMINC']==6:
   return '62500'
 if hh['HHFAMINC']==7:
   return '87500'
 if hh['HHFAMINC']==8:
   return '112500'
 if hh['HHFAMINC']==9:
   return '137500'
 if hh['HHFAMINC']==10:
   return '175000'
 if hh['HHFAMINC']==11:
   return '200000'

In [ ]:
def equivalent_income1 (df):
 if ((df['HHSIZE']==1) & (df['label_income']<= 14800)):
   return 'Poor'
 if ((df['HHSIZE']==2) & (df['label_income']<= 18900)):
   return 'Poor'
 if ((df['HHSIZE']==3) & (df['label_income']<= 23280)):
   return 'Poor'
 if ((df['HHSIZE']==4) & (df['label_income']<= 29950)):
   return 'Poor'
 if ((df['HHSIZE']==5) & (df['label_income']<= 35510)):
   return 'Poor'
 if ((df['HHSIZE']==6) & (df['label_income']<= 40160)):
   return 'Poor'
 if ((df['HHSIZE']==7) & (df['label_income']<= 45690)):
   return 'Poor'
 if ((df['HHSIZE']==8) & (df['label_income']<= 51010)):
   return 'Poor'
 if ((df['HHSIZE']>=9) & (df['label_income']<= 60300)):
   return 'Poor'
 else:
   return 'Not-Poor'

In [ ]:
def equivalent_income2 (df):
 if ((df['HHSIZE']==1) & (df['label_income']<= 2*14800)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==2) & (df['label_income']<= 2*18900)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==3) & (df['label_income']<= 2*23280)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==4) & (df['label_income']<= 2*29950)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==5) & (df['label_income']<= 2*35510)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==6) & (df['label_income']<= 2*40160)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==7) & (df['label_income']<= 2*45690)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==8) & (df['label_income']<= 2*51010)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']>=9) & (df['label_income']<= 2*60300)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 else:
   return 'Not-Poor'

In [ ]:
def CRES(df):
   if ((df['HHVEHCNT']==0)& ((df['equivalent_income']== "Low-income") | (df['equivalent_income']== "Poor"))):
     return 'Carless'
   if ((df['HHVEHCNT']>=1) & ((df['equivalent_income']== "Low-income") | (df['equivalent_income']== "Poor"))):
     return 'CRES'
   else:
     return 'Other'

In [ ]:
def race_name(df):
  if df['R_RACE'] == 1:
    return 'White'
  elif df['R_RACE'] == 2:
    return 'Black or African American'
  elif df['R_RACE'] == 3:
    return 'Asian'
  elif df['R_RACE'] == 4:
    return 'American Indian or Alaska Native'
  elif df['R_RACE'] == 5:
    return 'Native Hawaiian or other Pacific Islander'
  elif df['R_RACE'] == 6:
    return 'Multiracial'

In [ ]:
def age_range(df):
  if ((df['R_AGE_IMP'] >= 5) & (df['R_AGE_IMP'] <= 15)):
    return '5-15'
  elif ((df['R_AGE_IMP'] >= 16) & (df['R_AGE_IMP'] <= 24)):
    return '16-24'
  elif ((df['R_AGE_IMP'] >= 25) & (df['R_AGE_IMP'] <= 39)):
    return '25-39'
  elif ((df['R_AGE_IMP'] >= 40) & (df['R_AGE_IMP'] <= 64)):
    return '40-64'
  elif ((df['R_AGE_IMP'] >= 65) & (df['R_AGE_IMP'] <= 84)):
    return '65+'
  elif (df['R_AGE_IMP'] >= 85):
    return '85+'

In [ ]:
def gender_id(df):
  if (df['R_SEX_IMP'] == 1):
    return 'Male'
  if (df['R_SEX_IMP'] == 2):
    return 'Female'

# Loading in Data

2017 Data

In [ ]:
    hhdf_2017 = pd.read_csv('/content/hhv2pub.csv')
    perdf_2017 = pd.read_csv('/content/perv2pub.csv')
    tripdf_2017 = pd.read_csv('/content/tripv2pub.csv')

In [ ]:
idtv = pd.read_csv('/content/ldtv2pub.csv')
idtv

,HOUSEID,PERSONID,LONGDIST,MAINMODE,INT_FLAG,LD_NUMONTRP,ONTP_P1,ONTP_P2,ONTP_P3,ONTP_P4,...,WTPERFIN2D,R_AGE,R_SEX,WORKER,DRIVER,R_RACE,R_HISP,PROXY,EDUC,R_SEX_IMP
0,9000013002,1,1,1,1,2,1,1,2,2,...,13363.809355,39,2,2,1,1,2,1,7,2
1,9000013002,2,1,3,1,2,1,1,2,2,...,19360.094919,42,1,1,1,1,2,2,7,1
2,9000013002,3,0,3,1,5,1,1,1,1,...,7285.044994,8,-7,-1,-1,1,2,2,-1,1
3,9000013002,4,0,3,1,5,1,1,1,1,...,27109.336829,5,-7,-1,-1,1,2,2,-1,1
4,9000013016,1,0,1,1,2,1,1,-9,-9,...,0.000000,32,2,1,1,1,2,1,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,9000218021,1,0,14,1,1,1,-9,-9,-9,...,8249.957449,74,2,2,1,1,2,1,6,2
16993,9000218034,1,1,3,1,2,1,1,-9,-9,...,0.000000,60,2,2,1,1,2,1,2,2
16994,9000218034,2,1,3,1,2,1,1,-9,-9,...,0.000000,62,1,2,1,1,2,1,1,1
16995,9000218036,1,0,-1,-1,-1,-1,-1,-1,-1,...,0.000000,42,2,2,2,1,2,1,1,2
16996,9000218040,1,0,1,1,2,1,-9,-9,-9,...,0.000000,58,2,1,1,1,2,1,4,2

In [ ]:
idtv.HBRUR

AttributeError: 'DataFrame' object has no attribute 'HBRUR'

In [ ]:
hhdf_2017.columns

Index(['HOUSEID', 'WTHHFIN', 'WTHHFIN5D', 'WTHHFIN2D', 'NUMADLT', 'HOMEOWN',
       'HOMETYPE', 'RAIL', 'CENSUS_D', 'CENSUS_R', 'HH_HISP', 'DRVRCNT',
       'CNTTDHH', 'CDIVMSAR', 'FLAG100', 'HHFAMINC', 'HHFAMINC_IMP', 'HH_RACE',
       'HHSIZE', 'HHVEHCNT', 'HHRELATD', 'LIF_CYC', 'MSACAT', 'MSASIZE',
       'TRAVDAY', 'URBAN', 'URBANSIZE', 'URBRUR', 'PPT517', 'YOUNGCHILD',
       'RESP_CNT', 'URBRUR_2010', 'TDAYDATE', 'WRKCOUNT', 'STRATUMID'],
      dtype='object')

In [ ]:
perdf_2017

,HOUSEID,PERSONID,WTPERFIN,WTPERFIN5D,WTPERFIN2D,R_AGE,R_SEX,R_RELAT,WORKER,DRIVER,...,MSACAT,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,HHFAMINC_IMP
0,9000013002,1,3938.688806,0.000000,13363.809355,39,2,7,2,1,...,1,5,1,1,4,1,202202,1,1021,11
1,9000013002,2,5409.514573,0.000000,19360.094919,42,1,1,1,1,...,1,5,1,1,4,1,202202,1,1021,11
2,9000013002,3,3013.582163,0.000000,7285.044994,8,-7,2,-1,-1,...,1,5,1,1,4,1,202202,1,1021,11
3,9000013002,4,6214.108740,0.000000,27109.336829,5,-7,2,-1,-1,...,1,5,1,1,4,1,202202,1,1021,11
4,9000013016,1,3183.420810,4177.234452,0.000000,32,2,7,1,1,...,3,3,4,1,2,1,202202,2,1021,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,9000218021,1,1183.690130,0.000000,8249.957449,74,2,7,2,1,...,3,1,1,4,6,2,202212,0,1032,4
16993,9000218034,1,7793.315388,10009.558598,0.000000,60,2,7,2,1,...,4,6,5,4,6,2,202212,0,1032,4
16994,9000218034,2,7775.819529,9681.166429,0.000000,62,1,1,2,1,...,4,6,5,4,6,2,202212,0,1032,4
16995,9000218036,1,33531.177084,38232.679184,0.000000,42,2,7,2,2,...,4,6,4,4,6,2,202301,0,1032,2
16996,9000218040,1,11455.059845,12936.571349,0.000000,58,2,7,1,1,...,4,6,5,4,6,2,202212,1,1032,6

In [ ]:
tripdf_2017

,HOUSEID,PERSONID,TRIPID,SEQ_TRIPID,VEHCASEID,FRSTHM,PARK,HHMEMDRV,TDWKND,TRAVDAY,...,WORKER,DRIVER,R_RACE,R_HISP,PROXY,EDUC,PRMACT,R_SEX_IMP,VEHTYPE,HHFAMINC_IMP
0,9000013002,1,1,1,900001300201,1,2,1,1,1,...,2,1,1,2,1,7,3,2,3,11
1,9000013002,1,2,2,900001300201,1,2,1,1,1,...,2,1,1,2,1,7,3,2,3,11
2,9000013002,2,1,1,900001300202,1,-1,1,1,1,...,1,1,1,2,2,7,-1,1,3,11
3,9000013002,2,2,2,900001300202,1,-1,1,1,1,...,1,1,1,2,2,7,-1,1,3,11
4,9000013002,2,3,3,900001300202,1,-1,1,1,1,...,1,1,1,2,2,7,-1,1,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31069,9000218013,1,2,2,900021801301,1,2,1,2,5,...,2,1,1,2,1,7,5,2,3,3
31070,9000218013,1,3,3,900021801301,1,2,1,2,5,...,2,1,1,2,1,7,5,2,3,3
31071,9000218040,1,1,1,900021804001,1,2,1,2,5,...,1,1,1,2,1,4,-1,2,4,6
31072,9000218040,1,2,2,900021804001,1,2,1,2,5,...,1,1,1,2,1,4,-1,2,4,6
31073,9000218040,1,3,3,-1,1,2,-1,2,5,...,1,1,1,2,1,4,-1,2,-1,6

2009 Data

2001 Data

# Filtering by Income/Auto and Spatial

2017

In [ ]:
    hhdf_2017F = hhdf_2017
    hhdf_2017F['HHFAMINC'] = hhdf_2017F['HHFAMINC'].astype(int)
    inc_filt = [1,2,3,4,5,6,7,8,9,10,11]
    hhdf_2017F = hhdf_2017F[hhdf_2017F['HHFAMINC'].isin(inc_filt)]

    hhdf_2017F['label_income'] = hhdf_2017F.apply (lambda hhdf_2017F: label_income(hhdf_2017F), axis=1)
    hhdf_2017F['label_income'] = pd.to_numeric(hhdf_2017F['label_income'], downcast="float")
    hhdf_2017F['equivalent_income'] = hhdf_2017F.apply (lambda hhdf_2017F: equivalent_income1(hhdf_2017F), axis=1)
    hhdf_2017F['equivalent_income'] = hhdf_2017F.apply (lambda hhdf_2017F: equivalent_income2(hhdf_2017F), axis=1)
    hhdf_2017F['CRES/No-CRES'] = hhdf_2017F.apply (lambda hhdf_2017F: CRES(hhdf_2017F), axis=1)

    cols_to_use = hhdf_2017F.columns.difference(perdf_2017.columns)
    cols_to_use = cols_to_use.tolist()
    cols_to_use.append('HOUSEID')

    hhpdf_2017 = pd.merge(hhdf_2017F[cols_to_use], perdf_2017,on='HOUSEID',how='right')
    hhpdf_2017.dropna()

<ipython-input-16-c70b60e4068a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhdf_2017F['label_income'] = hhdf_2017F.apply (lambda hhdf_2017F: label_income(hhdf_2017F), axis=1)
<ipython-input-16-c70b60e4068a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhdf_2017F['label_income'] = pd.to_numeric(hhdf_2017F['label_income'], downcast="float")
<ipython-input-16-c70b60e4068a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhdf_2017F['equivalent_income'] = hhdf_2017F.apply (lambda hhdf_2017F: equivalent_income1(hhdf_2017F), axis=1)
<ipython-input-16-c70b60e4068a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhdf_2017F['equivalent_income'] = hhdf_2017F.apply (lambda hhdf_2017F: equivalent_income2(hhdf_2017F), axis=1)
<ipython-input-16-c70b60e4068a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhdf_2017F['CRES/No-CRES'] = hhdf_2017F.apply (lambda hhdf_2017F: CRES(hhdf_2017F), axis=1)

,CNTTDHH,CRES/No-CRES,FLAG100,HHRELATD,HOMETYPE,PPT517,RESP_CNT,URBRUR_2010,WTHHFIN,WTHHFIN2D,...,MSACAT,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,HHFAMINC_IMP
0,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,5,1,1,4,1,202202,1,1021,11
1,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,5,1,1,4,1,202202,1,1021,11
2,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,5,1,1,4,1,202202,1,1021,11
3,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,5,1,1,4,1,202202,1,1021,11
4,6.0,Other,1.0,1.0,3.0,0.0,2.0,1.0,2982.998407,0.000000,...,3,3,4,1,2,1,202202,2,1021,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,0.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,2508.248447,16373.594134,...,3,1,1,4,6,2,202212,0,1032,4
16993,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,4,6,5,4,6,2,202212,0,1032,4
16994,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,4,6,5,4,6,2,202212,0,1032,4
16995,0.0,Carless,1.0,2.0,1.0,0.0,1.0,2.0,76132.849334,0.000000,...,4,6,4,4,6,2,202301,0,1032,2
16996,3.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,9052.679669,0.000000,...,4,6,5,4,6,2,202212,1,1032,6

In [ ]:
tripdf_2017

,HOUSEID,PERSONID,TRIPID,SEQ_TRIPID,VEHCASEID,FRSTHM,PARK,HHMEMDRV,TDWKND,TRAVDAY,...,WORKER,DRIVER,R_RACE,R_HISP,PROXY,EDUC,PRMACT,R_SEX_IMP,VEHTYPE,HHFAMINC_IMP
0,9000013002,1,1,1,900001300201,1,2,1,1,1,...,2,1,1,2,1,7,3,2,3,11
1,9000013002,1,2,2,900001300201,1,2,1,1,1,...,2,1,1,2,1,7,3,2,3,11
2,9000013002,2,1,1,900001300202,1,-1,1,1,1,...,1,1,1,2,2,7,-1,1,3,11
3,9000013002,2,2,2,900001300202,1,-1,1,1,1,...,1,1,1,2,2,7,-1,1,3,11
4,9000013002,2,3,3,900001300202,1,-1,1,1,1,...,1,1,1,2,2,7,-1,1,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31069,9000218013,1,2,2,900021801301,1,2,1,2,5,...,2,1,1,2,1,7,5,2,3,3
31070,9000218013,1,3,3,900021801301,1,2,1,2,5,...,2,1,1,2,1,7,5,2,3,3
31071,9000218040,1,1,1,900021804001,1,2,1,2,5,...,1,1,1,2,1,4,-1,2,4,6
31072,9000218040,1,2,2,900021804001,1,2,1,2,5,...,1,1,1,2,1,4,-1,2,4,6
31073,9000218040,1,3,3,-1,1,2,-1,2,5,...,1,1,1,2,1,4,-1,2,-1,6

In [ ]:
tripdf_2017.TRPMILES

0         3.902424
1         3.902424
2        17.077067
3         4.748291
4        14.098819
           ...
31069     3.295836
31070     3.059043
31071     0.102548
31072     0.257303
31073     0.000000
Name: TRPMILES, Length: 31074, dtype: float64

In [ ]:
tripdf_2017 = tripdf_2017[['HOUSEID','PERSONID','TRPTRANS','TRPMILES','TRPHHVEH','WHYTRP90','WTTRDFIN']]
tripdf_2017

,HOUSEID,PERSONID,TRPTRANS,TRPMILES,TRPHHVEH,WHYTRP90,WTTRDFIN
0,9000013002,1,3,3.902424,1,10,1.608362e+06
1,9000013002,1,3,3.902424,1,10,1.608362e+06
2,9000013002,2,3,17.077067,1,10,2.208973e+06
3,9000013002,2,3,4.748291,1,10,2.208973e+06
4,9000013002,2,3,14.098819,1,10,2.208973e+06
...,...,...,...,...,...,...,...
31069,9000218013,1,3,3.295836,1,3,2.736726e+06
31070,9000218013,1,3,3.059043,1,3,2.736726e+06
31071,9000218040,1,4,0.102548,1,4,4.729168e+06
31072,9000218040,1,4,0.257303,1,4,4.729168e+06
31073,9000218040,1,20,0.000000,2,4,4.729168e+06

In [ ]:
tripdf_2017['houseidpersonid'] = tripdf_2017['HOUSEID'].astype(str)+"-"+tripdf_2017['PERSONID'].astype(str)
tripdf_2017

<ipython-input-20-53a9d8a3514b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tripdf_2017['houseidpersonid'] = tripdf_2017['HOUSEID'].astype(str)+"-"+tripdf_2017['PERSONID'].astype(str)

,HOUSEID,PERSONID,TRPTRANS,TRPMILES,TRPHHVEH,WHYTRP90,WTTRDFIN,houseidpersonid
0,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1
1,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1
2,9000013002,2,3,17.077067,1,10,2.208973e+06,9000013002-2
3,9000013002,2,3,4.748291,1,10,2.208973e+06,9000013002-2
4,9000013002,2,3,14.098819,1,10,2.208973e+06,9000013002-2
...,...,...,...,...,...,...,...,...
31069,9000218013,1,3,3.295836,1,3,2.736726e+06,9000218013-1
31070,9000218013,1,3,3.059043,1,3,2.736726e+06,9000218013-1
31071,9000218040,1,4,0.102548,1,4,4.729168e+06,9000218040-1
31072,9000218040,1,4,0.257303,1,4,4.729168e+06,9000218040-1
31073,9000218040,1,20,0.000000,2,4,4.729168e+06,9000218040-1

In [ ]:
tripdf_2017['count']=1
tripdf_2017

<ipython-input-21-a716897fee89>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tripdf_2017['count']=1

,HOUSEID,PERSONID,TRPTRANS,TRPMILES,TRPHHVEH,WHYTRP90,WTTRDFIN,houseidpersonid,count
0,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1,1
1,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1,1
2,9000013002,2,3,17.077067,1,10,2.208973e+06,9000013002-2,1
3,9000013002,2,3,4.748291,1,10,2.208973e+06,9000013002-2,1
4,9000013002,2,3,14.098819,1,10,2.208973e+06,9000013002-2,1
...,...,...,...,...,...,...,...,...,...
31069,9000218013,1,3,3.295836,1,3,2.736726e+06,9000218013-1,1
31070,9000218013,1,3,3.059043,1,3,2.736726e+06,9000218013-1,1
31071,9000218040,1,4,0.102548,1,4,4.729168e+06,9000218040-1,1
31072,9000218040,1,4,0.257303,1,4,4.729168e+06,9000218040-1,1
31073,9000218040,1,20,0.000000,2,4,4.729168e+06,9000218040-1,1

In [ ]:
numtrps1 = tripdf_2017.groupby(['houseidpersonid'])['count'].sum().rename('trips')
numtrps1

houseidpersonid
9000013002-1    2
9000013002-2    3
9000013002-4    2
9000013016-1    3
9000013016-2    3
               ..
9000217992-2    2
9000218006-1    3
9000218006-2    2
9000218013-1    3
9000218040-1    3
Name: trips, Length: 10592, dtype: int64

In [ ]:
df9 = pd.DataFrame(numtrps1)
df9

                 trips
houseidpersonid
9000013002-1         2
9000013002-2         3
9000013002-4         2
9000013016-1         3
9000013016-2         3
...                ...
9000217992-2         2
9000218006-1         3
9000218006-2         2
9000218013-1         3
9000218040-1         3

[10592 rows x 1 columns]

In [ ]:
df9.reset_index(inplace=True)

In [ ]:
df9

      houseidpersonid  trips
0        9000013002-1      2
1        9000013002-2      3
2        9000013002-4      2
3        9000013016-1      3
4        9000013016-2      3
...               ...    ...
10587    9000217992-2      2
10588    9000218006-1      3
10589    9000218006-2      2
10590    9000218013-1      3
10591    9000218040-1      3

[10592 rows x 2 columns]

In [ ]:
df9.trips.value_counts()

trips
2     5481
3     1574
4     1524
1      641
5      562
6      376
7      190
8      120
9       55
10      28
11      20
12      10
13       4
14       3
15       2
36       1
22       1
Name: count, dtype: int64

In [ ]:
hhpdf_2017['houseidpersonid'] = hhpdf_2017['HOUSEID'].astype(str)+"-"+hhpdf_2017['PERSONID'].astype(str)
hhpdf_2017

,CNTTDHH,CRES/No-CRES,FLAG100,HHRELATD,HOMETYPE,PPT517,RESP_CNT,URBRUR_2010,WTHHFIN,WTHHFIN2D,...,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,HHFAMINC_IMP,houseidpersonid
0,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,5,1,1,4,1,202202,1,1021,11,9000013002-1
1,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,5,1,1,4,1,202202,1,1021,11,9000013002-2
2,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,5,1,1,4,1,202202,1,1021,11,9000013002-3
3,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,5,1,1,4,1,202202,1,1021,11,9000013002-4
4,6.0,Other,1.0,1.0,3.0,0.0,2.0,1.0,2982.998407,0.000000,...,3,4,1,2,1,202202,2,1021,7,9000013016-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,0.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,2508.248447,16373.594134,...,1,1,4,6,2,202212,0,1032,4,9000218021-1
16993,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,6,5,4,6,2,202212,0,1032,4,9000218034-1
16994,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,6,5,4,6,2,202212,0,1032,4,9000218034-2
16995,0.0,Carless,1.0,2.0,1.0,0.0,1.0,2.0,76132.849334,0.000000,...,6,4,4,6,2,202301,0,1032,2,9000218036-1
16996,3.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,9052.679669,0.000000,...,6,5,4,6,2,202212,1,1032,6,9000218040-1

In [ ]:
s = hhpdf_2017[['houseidpersonid', 'CNTTDTR']]
s

      houseidpersonid  CNTTDTR
0        9000013002-1        2
1        9000013002-2        3
2        9000013002-3        0
3        9000013002-4        2
4        9000013016-1        3
...               ...      ...
16992    9000218021-1        0
16993    9000218034-1        0
16994    9000218034-2        0
16995    9000218036-1        0
16996    9000218040-1        3

[16997 rows x 2 columns]

In [ ]:
tripdf_2017

,HOUSEID,PERSONID,TRPTRANS,TRPMILES,TRPHHVEH,WHYTRP90,WTTRDFIN,houseidpersonid,count
0,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1,1
1,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1,1
2,9000013002,2,3,17.077067,1,10,2.208973e+06,9000013002-2,1
3,9000013002,2,3,4.748291,1,10,2.208973e+06,9000013002-2,1
4,9000013002,2,3,14.098819,1,10,2.208973e+06,9000013002-2,1
...,...,...,...,...,...,...,...,...,...
31069,9000218013,1,3,3.295836,1,3,2.736726e+06,9000218013-1,1
31070,9000218013,1,3,3.059043,1,3,2.736726e+06,9000218013-1,1
31071,9000218040,1,4,0.102548,1,4,4.729168e+06,9000218040-1,1
31072,9000218040,1,4,0.257303,1,4,4.729168e+06,9000218040-1,1
31073,9000218040,1,20,0.000000,2,4,4.729168e+06,9000218040-1,1

In [ ]:
#tripdf_2017 = tripdf_2017[tripdf_2017['TRPHHVEH']==1]
#tripdf_2017

,HOUSEID,PERSONID,TRPTRANS,TRPMILAD,TRPHHVEH,WHYTRP90,WTTRDFIN,houseidpersonid,count
0,30000007,1,3,5.847584,1,5,75441.90580,30000007-1,1
1,30000007,1,3,5.741650,1,5,75441.90580,30000007-1,1
2,30000007,2,6,90.178294,1,1,71932.64581,30000007-2,1
3,30000007,2,6,87.627658,1,1,71932.64581,30000007-2,1
4,30000007,3,3,2.508975,1,5,80122.68674,30000007-3,1
...,...,...,...,...,...,...,...,...,...
923562,40794301,3,5,0.870893,1,3,77932.84989,40794301-3,1
923563,40794301,3,5,0.870893,1,4,77932.84989,40794301-3,1
923564,40794301,3,5,10.662586,1,3,77932.84989,40794301-3,1
923565,40794301,6,5,10.164136,1,10,48708.67338,40794301-6,1
923566,40794301,6,5,10.662586,1,10,48708.67338,40794301-6,1

In [ ]:
tripdf_2017_1 =  tripdf_2017[(tripdf_2017['TRPTRANS']==1)|(tripdf_2017['TRPTRANS']==2)|(tripdf_2017['TRPTRANS']==3)|(tripdf_2017['TRPTRANS']==4)|(tripdf_2017['TRPTRANS']==5)|(tripdf_2017['TRPTRANS']==6)|(tripdf_2017['TRPTRANS']==7)]

In [ ]:
tripdf_2017_1

,HOUSEID,PERSONID,TRPTRANS,TRPMILES,TRPHHVEH,WHYTRP90,WTTRDFIN,houseidpersonid,count
0,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1,1
1,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1,1
2,9000013002,2,3,17.077067,1,10,2.208973e+06,9000013002-2,1
3,9000013002,2,3,4.748291,1,10,2.208973e+06,9000013002-2,1
4,9000013002,2,3,14.098819,1,10,2.208973e+06,9000013002-2,1
...,...,...,...,...,...,...,...,...,...
31068,9000218013,1,3,1.250466,1,4,2.802225e+06,9000218013-1,1
31069,9000218013,1,3,3.295836,1,3,2.736726e+06,9000218013-1,1
31070,9000218013,1,3,3.059043,1,3,2.736726e+06,9000218013-1,1
31071,9000218040,1,4,0.102548,1,4,4.729168e+06,9000218040-1,1
31072,9000218040,1,4,0.257303,1,4,4.729168e+06,9000218040-1,1

In [ ]:
tripdf_2017 = tripdf_2017_1
tripdf_2017

,HOUSEID,PERSONID,TRPTRANS,TRPMILES,TRPHHVEH,WHYTRP90,WTTRDFIN,houseidpersonid,count
0,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1,1
1,9000013002,1,3,3.902424,1,10,1.608362e+06,9000013002-1,1
2,9000013002,2,3,17.077067,1,10,2.208973e+06,9000013002-2,1
3,9000013002,2,3,4.748291,1,10,2.208973e+06,9000013002-2,1
4,9000013002,2,3,14.098819,1,10,2.208973e+06,9000013002-2,1
...,...,...,...,...,...,...,...,...,...
31068,9000218013,1,3,1.250466,1,4,2.802225e+06,9000218013-1,1
31069,9000218013,1,3,3.295836,1,3,2.736726e+06,9000218013-1,1
31070,9000218013,1,3,3.059043,1,3,2.736726e+06,9000218013-1,1
31071,9000218040,1,4,0.102548,1,4,4.729168e+06,9000218040-1,1
31072,9000218040,1,4,0.257303,1,4,4.729168e+06,9000218040-1,1

In [ ]:
numtrps1 = tripdf_2017.groupby(['houseidpersonid'])['count'].sum().rename('vehtrips')
numtrps1

houseidpersonid
9000013002-1    2
9000013002-2    3
9000013002-4    2
9000013016-1    3
9000013016-2    3
               ..
9000217992-1    2
9000217992-2    2
9000218006-1    3
9000218013-1    3
9000218040-1    2
Name: vehtrips, Length: 9464, dtype: int64

In [ ]:
dff18 = pd.DataFrame(numtrps1)
dff18

                 vehtrips
houseidpersonid
9000013002-1            2
9000013002-2            3
9000013002-4            2
9000013016-1            3
9000013016-2            3
...                   ...
9000217992-1            2
9000217992-2            2
9000218006-1            3
9000218013-1            3
9000218040-1            2

[9464 rows x 1 columns]

In [ ]:
dff18.reset_index(inplace=True)
dff18

     houseidpersonid  vehtrips
0       9000013002-1         2
1       9000013002-2         3
2       9000013002-4         2
3       9000013016-1         3
4       9000013016-2         3
...              ...       ...
9459    9000217992-1         2
9460    9000217992-2         2
9461    9000218006-1         3
9462    9000218013-1         3
9463    9000218040-1         2

[9464 rows x 2 columns]

In [ ]:
hhpdf_2017

,CNTTDHH,CRES/No-CRES,FLAG100,HHRELATD,HOMETYPE,PPT517,RESP_CNT,URBRUR_2010,WTHHFIN,WTHHFIN2D,...,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,HHFAMINC_IMP,houseidpersonid
0,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,5,1,1,4,1,202202,1,1021,11,9000013002-1
1,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,5,1,1,4,1,202202,1,1021,11,9000013002-2
2,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,5,1,1,4,1,202202,1,1021,11,9000013002-3
3,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,5,1,1,4,1,202202,1,1021,11,9000013002-4
4,6.0,Other,1.0,1.0,3.0,0.0,2.0,1.0,2982.998407,0.000000,...,3,4,1,2,1,202202,2,1021,7,9000013016-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,0.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,2508.248447,16373.594134,...,1,1,4,6,2,202212,0,1032,4,9000218021-1
16993,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,6,5,4,6,2,202212,0,1032,4,9000218034-1
16994,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,6,5,4,6,2,202212,0,1032,4,9000218034-2
16995,0.0,Carless,1.0,2.0,1.0,0.0,1.0,2.0,76132.849334,0.000000,...,6,4,4,6,2,202301,0,1032,2,9000218036-1
16996,3.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,9052.679669,0.000000,...,6,5,4,6,2,202212,1,1032,6,9000218040-1

In [ ]:
hhpdft_numvehtrips = pd.merge(hhpdf_2017, dff18, on="houseidpersonid", how="left").fillna(0)
hhpdft_numvehtrips

,CNTTDHH,CRES/No-CRES,FLAG100,HHRELATD,HOMETYPE,PPT517,RESP_CNT,URBRUR_2010,WTHHFIN,WTHHFIN2D,...,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,HHFAMINC_IMP,houseidpersonid,vehtrips
0,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,1,4,1,202202,1,1021,11,9000013002-1,2.0
1,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,1,4,1,202202,1,1021,11,9000013002-2,3.0
2,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,1,4,1,202202,1,1021,11,9000013002-3,0.0
3,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,1,4,1,202202,1,1021,11,9000013002-4,2.0
4,6.0,Other,1.0,1.0,3.0,0.0,2.0,1.0,2982.998407,0.000000,...,4,1,2,1,202202,2,1021,7,9000013016-1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,0.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,2508.248447,16373.594134,...,1,4,6,2,202212,0,1032,4,9000218021-1,0.0
16993,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,5,4,6,2,202212,0,1032,4,9000218034-1,0.0
16994,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,5,4,6,2,202212,0,1032,4,9000218034-2,0.0
16995,0.0,Carless,1.0,2.0,1.0,0.0,1.0,2.0,76132.849334,0.000000,...,4,4,6,2,202301,0,1032,2,9000218036-1,0.0
16996,3.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,9052.679669,0.000000,...,5,4,6,2,202212,1,1032,6,9000218040-1,2.0

In [ ]:
hhpdft_numvehtrips['CRES/No-CRES'].value_counts()

CRES/No-CRES
Other      13149
CRES        3175
Carless      463
0            210
Name: count, dtype: int64

In [ ]:
#hhpdft_numvehtrips = hhpdft_numvehtrips[hhpdft_numvehtrips['CRES/No-CRES']!="Carless"]
#hhpdft_numvehtrips

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid,vehtrips
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,T,50,1500,750,750,20,750,300,30000007-1,2.0
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,T,50,1500,750,750,20,750,300,30000007-2,2.0
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,T,50,1500,750,750,20,750,300,30000007-3,2.0
3,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,R,5,300,300,150,5,300,300,30000008-1,2.0
4,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,R,5,300,300,150,5,300,300,30000008-2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-4,0.0
264230,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-5,0.0
264231,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-6,2.0
264232,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-7,0.0
264233,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,U,70,30000,30000,5000,70,30000,17000,50515573-1,0.0

In [ ]:
hhpdft_numvehtrips = hhpdft_numvehtrips[hhpdft_numvehtrips['CRES/No-CRES']!=0]
hhpdft_numvehtrips

,CNTTDHH,CRES/No-CRES,FLAG100,HHRELATD,HOMETYPE,PPT517,RESP_CNT,URBRUR_2010,WTHHFIN,WTHHFIN2D,...,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,HHFAMINC_IMP,houseidpersonid,vehtrips
0,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,1,4,1,202202,1,1021,11,9000013002-1,2.0
1,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,1,4,1,202202,1,1021,11,9000013002-2,3.0
2,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,1,4,1,202202,1,1021,11,9000013002-3,0.0
3,7.0,Other,1.0,1.0,1.0,2.0,4.0,1.0,4621.758002,13946.191168,...,1,1,4,1,202202,1,1021,11,9000013002-4,2.0
4,6.0,Other,1.0,1.0,3.0,0.0,2.0,1.0,2982.998407,0.000000,...,4,1,2,1,202202,2,1021,7,9000013016-1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,0.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,2508.248447,16373.594134,...,1,4,6,2,202212,0,1032,4,9000218021-1,0.0
16993,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,5,4,6,2,202212,0,1032,4,9000218034-1,0.0
16994,0.0,CRES,1.0,1.0,1.0,0.0,2.0,2.0,12559.631900,0.000000,...,5,4,6,2,202212,0,1032,4,9000218034-2,0.0
16995,0.0,Carless,1.0,2.0,1.0,0.0,1.0,2.0,76132.849334,0.000000,...,4,4,6,2,202301,0,1032,2,9000218036-1,0.0
16996,3.0,Other,1.0,2.0,1.0,0.0,1.0,2.0,9052.679669,0.000000,...,5,4,6,2,202212,1,1032,6,9000218040-1,2.0

In [ ]:
hhpdft_numvehtrips.columns

Index(['CNTTDHH', 'CRES/No-CRES', 'FLAG100', 'HHRELATD', 'HOMETYPE', 'PPT517',
       'RESP_CNT', 'URBRUR_2010', 'WTHHFIN', 'WTHHFIN2D',
       ...
       'TRAVDAY', 'URBAN', 'URBANSIZE', 'URBRUR', 'TDAYDATE', 'WRKCOUNT',
       'STRATUMID', 'HHFAMINC_IMP', 'houseidpersonid', 'vehtrips'],
      dtype='object', length=145)

In [ ]:
hhpdft_numvehtrips = hhpdft_numvehtrips[['HHSIZE','HHVEHCNT','DRVRCNT','WRKCOUNT','URBRUR','CRES/No-CRES','LIF_CYC','CNTTDTR','CNTTDHH','WTPERFIN','DRIVER','WORKER','CONDTRAV','DELIVER','EDUC','R_AGE','R_SEX','R_RACE','RAIL','SAMEPLC','NUMADLT','MEDCOND','CENSUS_R','vehtrips','houseidpersonid']]
hhpdft_numvehtrips

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,R_AGE,R_SEX,R_RACE,RAIL,SAMEPLC,NUMADLT,MEDCOND,CENSUS_R,vehtrips,houseidpersonid
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,39,2,1,1,-1,2,2,1,2.0,9000013002-1
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,42,1,1,1,-1,2,2,1,3.0,9000013002-2
2,4,2,2,1,1,Other,4,0,7.0,3013.582163,...,8,-7,1,1,97,2,2,1,0.0,9000013002-3
3,4,2,2,1,1,Other,4,2,7.0,6214.108740,...,5,-7,1,1,-1,2,2,1,2.0,9000013002-4
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,32,2,1,2,-1,2,1,1,3.0,9000013016-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,74,2,1,2,97,1,2,3,0.0,9000218021-1
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,60,2,1,2,97,2,2,3,0.0,9000218034-1
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,62,1,1,2,97,2,2,3,0.0,9000218034-2
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,42,2,1,2,97,1,1,3,0.0,9000218036-1
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,58,2,1,2,-1,1,2,3,2.0,9000218040-1

In [ ]:
def area(hhpdft_numvehtrips):
 if hhpdft_numvehtrips['URBRUR']=='Small Town':
   return '1'#rural
 if hhpdft_numvehtrips['URBRUR']=='Rural':
   return '1' # rural
 if hhpdft_numvehtrips['URBRUR']=='Suburban':
   return '2' # suburban
 if hhpdft_numvehtrips['URBRUR']=='Second City':
   return '2'  #suburban
 if hhpdft_numvehtrips['URBRUR']=='Urban':
   return '3'

In [ ]:
hhpdft_numvehtrips['area'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: area(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips

<ipython-input-54-b6b01cbd30e3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['area'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: area(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,R_SEX,R_RACE,RAIL,SAMEPLC,NUMADLT,MEDCOND,CENSUS_R,vehtrips,houseidpersonid,area
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,2,1,1,-1,2,2,1,2.0,9000013002-1,None
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,1,1,1,-1,2,2,1,3.0,9000013002-2,None
2,4,2,2,1,1,Other,4,0,7.0,3013.582163,...,-7,1,1,97,2,2,1,0.0,9000013002-3,None
3,4,2,2,1,1,Other,4,2,7.0,6214.108740,...,-7,1,1,-1,2,2,1,2.0,9000013002-4,None
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,2,1,2,-1,2,1,1,3.0,9000013016-1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,2,1,2,97,1,2,3,0.0,9000218021-1,None
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,2,1,2,97,2,2,3,0.0,9000218034-1,None
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,1,1,2,97,2,2,3,0.0,9000218034-2,None
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,2,1,2,97,1,1,3,0.0,9000218036-1,None
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,2,1,2,-1,1,2,3,2.0,9000218040-1,None

In [ ]:
hhpdft_numvehtrips['area'] = hhpdft_numvehtrips['URBRUR']
hhpdft_numvehtrips

<ipython-input-58-35458b911fca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['area'] = hhpdft_numvehtrips['URBRUR']

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,R_SEX,R_RACE,RAIL,SAMEPLC,NUMADLT,MEDCOND,CENSUS_R,vehtrips,houseidpersonid,area
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,2,1,1,-1,2,2,1,2.0,9000013002-1,1
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,1,1,1,-1,2,2,1,3.0,9000013002-2,1
2,4,2,2,1,1,Other,4,0,7.0,3013.582163,...,-7,1,1,97,2,2,1,0.0,9000013002-3,1
3,4,2,2,1,1,Other,4,2,7.0,6214.108740,...,-7,1,1,-1,2,2,1,2.0,9000013002-4,1
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,2,1,2,-1,2,1,1,3.0,9000013016-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,2,1,2,97,1,2,3,0.0,9000218021-1,2
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,2,1,2,97,2,2,3,0.0,9000218034-1,2
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,1,1,2,97,2,2,3,0.0,9000218034-2,2
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,2,1,2,97,1,1,3,0.0,9000218036-1,2
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,2,1,2,-1,1,2,3,2.0,9000218040-1,2

In [ ]:
s = hhpdft_numvehtrips.area.value_counts()
s= pd.DataFrame(s)
s

      count
area
1     13300
2      3487

In [ ]:
###tofindpresenceofchildreninHHS
def lifecycle (hhpdft_numvehtrips):
 if hhpdft_numvehtrips['LIF_CYC']== 1:
   return "Single" #single
 if hhpdft_numvehtrips['LIF_CYC']== 2:
   return "2+ adults 0 children"  #2+aduults zero children
 if hhpdft_numvehtrips['LIF_CYC']== 9:
   return "Retired 0 children"
 if hhpdft_numvehtrips['LIF_CYC']==10:
   return "Retired 0 children"  #urban
 if hhpdft_numvehtrips['LIF_CYC']== 3:
   return "Single parent"
   # 1= children
 if hhpdft_numvehtrips['LIF_CYC']== 4:
   return "2+ adults with children"
 if hhpdft_numvehtrips['LIF_CYC']== 5:
   return "Single parent"
 if hhpdft_numvehtrips['LIF_CYC']== 6:
   return "2+ adults with children"
 if hhpdft_numvehtrips['LIF_CYC']== 7:
   return "Single parent"
 if hhpdft_numvehtrips['LIF_CYC']== 8:
   return "2+ adults with children"

In [ ]:
hhpdft_numvehtrips['lifecycle'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: lifecycle(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-61-7886d240b31a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['lifecycle'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: lifecycle(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,R_RACE,RAIL,SAMEPLC,NUMADLT,MEDCOND,CENSUS_R,vehtrips,houseidpersonid,area,lifecycle
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,1,1,-1,2,2,1,2.0,9000013002-1,1,2+ adults with children
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,1,1,-1,2,2,1,3.0,9000013002-2,1,2+ adults with children
2,4,2,2,1,1,Other,4,0,7.0,3013.582163,...,1,1,97,2,2,1,0.0,9000013002-3,1,2+ adults with children
3,4,2,2,1,1,Other,4,2,7.0,6214.108740,...,1,1,-1,2,2,1,2.0,9000013002-4,1,2+ adults with children
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,1,2,-1,2,1,1,3.0,9000013016-1,1,2+ adults 0 children
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,1,2,97,1,2,3,0.0,9000218021-1,2,Retired 0 children
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,1,2,97,2,2,3,0.0,9000218034-1,2,Retired 0 children
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,1,2,97,2,2,3,0.0,9000218034-2,2,Retired 0 children
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,1,2,97,1,1,3,0.0,9000218036-1,2,Single
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,1,2,-1,1,2,3,2.0,9000218040-1,2,Single

In [ ]:
def child(hhpdft_numvehtrips):
 if hhpdft_numvehtrips['LIF_CYC']== 1:
   return 0
 if hhpdft_numvehtrips['LIF_CYC']== 2:
   return 0
 if hhpdft_numvehtrips['LIF_CYC']== 9:
   return 0
 if hhpdft_numvehtrips['LIF_CYC']==10:
   return 0  #urban
 if hhpdft_numvehtrips['LIF_CYC']== 3:
   return 1
   # 1= children
 if hhpdft_numvehtrips['LIF_CYC']== 4:
   return 1
 if hhpdft_numvehtrips['LIF_CYC']== 5:
   return 1
 if hhpdft_numvehtrips['LIF_CYC']== 6:
   return 1
 if hhpdft_numvehtrips['LIF_CYC']== 7:
   return 1
 if hhpdft_numvehtrips['LIF_CYC']== 8:
   return 1

In [ ]:
hhpdft_numvehtrips['child'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: child(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-63-1e7846eab705>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['child'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: child(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,RAIL,SAMEPLC,NUMADLT,MEDCOND,CENSUS_R,vehtrips,houseidpersonid,area,lifecycle,child
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,1,-1,2,2,1,2.0,9000013002-1,1,2+ adults with children,1
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,1,-1,2,2,1,3.0,9000013002-2,1,2+ adults with children,1
2,4,2,2,1,1,Other,4,0,7.0,3013.582163,...,1,97,2,2,1,0.0,9000013002-3,1,2+ adults with children,1
3,4,2,2,1,1,Other,4,2,7.0,6214.108740,...,1,-1,2,2,1,2.0,9000013002-4,1,2+ adults with children,1
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,2,-1,2,1,1,3.0,9000013016-1,1,2+ adults 0 children,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,2,97,1,2,3,0.0,9000218021-1,2,Retired 0 children,0
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,2,97,2,2,3,0.0,9000218034-1,2,Retired 0 children,0
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,2,97,2,2,3,0.0,9000218034-2,2,Retired 0 children,0
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,2,97,1,1,3,0.0,9000218036-1,2,Single,0
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,2,-1,1,2,3,2.0,9000218040-1,2,Single,0

In [ ]:
def CategoryCRES (hhpdft_numvehtrips):
 if hhpdft_numvehtrips['CRES/No-CRES']== 'Carless':
   return 1
 if hhpdft_numvehtrips['CRES/No-CRES']== 'CRES':
   return 2
 if hhpdft_numvehtrips['CRES/No-CRES']== 'Other':
   return 3

In [ ]:
hhpdft_numvehtrips['CategoryCRES'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: CategoryCRES(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-65-325d03f991fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['CategoryCRES'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: CategoryCRES(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,SAMEPLC,NUMADLT,MEDCOND,CENSUS_R,vehtrips,houseidpersonid,area,lifecycle,child,CategoryCRES
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,-1,2,2,1,2.0,9000013002-1,1,2+ adults with children,1,3
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,-1,2,2,1,3.0,9000013002-2,1,2+ adults with children,1,3
2,4,2,2,1,1,Other,4,0,7.0,3013.582163,...,97,2,2,1,0.0,9000013002-3,1,2+ adults with children,1,3
3,4,2,2,1,1,Other,4,2,7.0,6214.108740,...,-1,2,2,1,2.0,9000013002-4,1,2+ adults with children,1,3
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,-1,2,1,1,3.0,9000013016-1,1,2+ adults 0 children,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,97,1,2,3,0.0,9000218021-1,2,Retired 0 children,0,3
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,97,2,2,3,0.0,9000218034-1,2,Retired 0 children,0,2
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,97,2,2,3,0.0,9000218034-2,2,Retired 0 children,0,2
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,97,1,1,3,0.0,9000218036-1,2,Single,0,1
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,-1,1,2,3,2.0,9000218040-1,2,Single,0,3

In [ ]:
hhpdft_numvehtrips['vehtrips9'] = pd.to_numeric(hhpdft_numvehtrips['vehtrips'])
hhpdft_numvehtrips

<ipython-input-66-a103ef81bc12>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['vehtrips9'] = pd.to_numeric(hhpdft_numvehtrips['vehtrips'])

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,NUMADLT,MEDCOND,CENSUS_R,vehtrips,houseidpersonid,area,lifecycle,child,CategoryCRES,vehtrips9
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,2,2,1,2.0,9000013002-1,1,2+ adults with children,1,3,2.0
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,2,2,1,3.0,9000013002-2,1,2+ adults with children,1,3,3.0
2,4,2,2,1,1,Other,4,0,7.0,3013.582163,...,2,2,1,0.0,9000013002-3,1,2+ adults with children,1,3,0.0
3,4,2,2,1,1,Other,4,2,7.0,6214.108740,...,2,2,1,2.0,9000013002-4,1,2+ adults with children,1,3,2.0
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,2,1,1,3.0,9000013016-1,1,2+ adults 0 children,0,3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,1,2,3,0.0,9000218021-1,2,Retired 0 children,0,3,0.0
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,2,2,3,0.0,9000218034-1,2,Retired 0 children,0,2,0.0
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,2,2,3,0.0,9000218034-2,2,Retired 0 children,0,2,0.0
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,1,1,3,0.0,9000218036-1,2,Single,0,1,0.0
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,1,2,3,2.0,9000218040-1,2,Single,0,3,2.0

In [ ]:
#hhpdft_numvehtrips["WTPERFIN9"] = pd.to_numeric(hhpdft_numvehtrips["WTPERFIN"])
#hhpdft_numvehtrips

<ipython-input-45-12131652893f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips["WTPERFIN9"] = pd.to_numeric(hhpdft_numvehtrips["WTPERFIN"])

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,NUMADLT,MEDCOND,HHSTATE,CENSUS_R,vehtrips,houseidpersonid,area,CategoryCRES,vehtrips9,WTPERFIN9
0,3,5,3,1,T,2,Other,10,2,6.0,...,3,2,NC,3,2.0,30000007-1,1,3,2.0,206.690153
1,3,5,3,1,T,2,Other,10,2,6.0,...,3,2,NC,3,2.0,30000007-2,1,3,2.0,197.075742
2,3,5,3,1,T,2,Other,10,2,6.0,...,3,2,NC,3,2.0,30000007-3,1,3,2.0,219.514210
3,2,4,2,2,R,2,Other,2,2,2.0,...,2,2,WI,2,2.0,30000008-1,1,3,2.0,63.185911
4,2,4,2,2,R,2,Other,2,0,2.0,...,2,2,WI,2,0.0,30000008-2,1,3,0.0,58.665911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,4,2,NC,3,0.0,40794301-4,1,2,0.0,213.514657
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,4,2,NC,3,0.0,40794301-5,1,2,0.0,133.448420
264231,7,5,4,1,R,2,CRES,6,2,11.0,...,4,2,NC,3,2.0,40794301-6,1,2,2.0,133.448420
264232,7,5,4,1,R,1,CRES,6,0,11.0,...,4,2,NC,3,0.0,40794301-7,1,2,0.0,133.448420
264233,1,0,1,1,U,1,Other,1,5,5.0,...,1,2,DC,3,0.0,50515573-1,3,3,0.0,611.938240

In [ ]:
#hhpdft_numvehtrips["vehtripweight"] = hhpdft_numvehtrips["vehtrips9"]*hhpdft_numvehtrips["WTPERFIN9"]
#hhpdft_numvehtrips

<ipython-input-46-68bf1da95d04>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips["vehtripweight"] = hhpdft_numvehtrips["vehtrips9"]*hhpdft_numvehtrips["WTPERFIN9"]

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,MEDCOND,HHSTATE,CENSUS_R,vehtrips,houseidpersonid,area,CategoryCRES,vehtrips9,WTPERFIN9,vehtripweight
0,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,2.0,30000007-1,1,3,2.0,206.690153,413.380306
1,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,2.0,30000007-2,1,3,2.0,197.075742,394.151484
2,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,2.0,30000007-3,1,3,2.0,219.514210,439.028420
3,2,4,2,2,R,2,Other,2,2,2.0,...,2,WI,2,2.0,30000008-1,1,3,2.0,63.185911,126.371822
4,2,4,2,2,R,2,Other,2,0,2.0,...,2,WI,2,0.0,30000008-2,1,3,0.0,58.665911,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,2,NC,3,0.0,40794301-4,1,2,0.0,213.514657,0.000000
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,2,NC,3,0.0,40794301-5,1,2,0.0,133.448420,0.000000
264231,7,5,4,1,R,2,CRES,6,2,11.0,...,2,NC,3,2.0,40794301-6,1,2,2.0,133.448420,266.896840
264232,7,5,4,1,R,1,CRES,6,0,11.0,...,2,NC,3,0.0,40794301-7,1,2,0.0,133.448420,0.000000
264233,1,0,1,1,U,1,Other,1,5,5.0,...,2,DC,3,0.0,50515573-1,3,3,0.0,611.938240,0.000000

In [ ]:
#hhpdft_2017_urb_veh = hhpdft_numvehtrips[hhpdft_numvehtrips['area']=='3']
#hhpdft_2017_urb_veh

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,MEDCOND,HHSTATE,CENSUS_R,vehtrips,houseidpersonid,area,CategoryCRES,vehtrips9,WTPERFIN9,vehtripweight
18,1,2,1,1,U,3,Other,1,6,6.0,...,2,CA,4,0.0,30000085-1,3,3,0.0,277.748858,0.000000
27,2,1,2,2,U,3,Other,2,4,4.0,...,2,NY,1,0.0,30000130-1,3,3,0.0,3705.493904,0.000000
28,2,1,2,2,U,2,Other,2,0,4.0,...,2,NY,1,0.0,30000130-2,3,3,0.0,4361.900229,0.000000
32,3,0,0,1,U,3,Other,3,6,14.0,...,2,TX,3,0.0,30000144-1,3,3,0.0,896.388933,0.000000
33,3,0,0,1,U,1,Other,3,4,14.0,...,2,TX,3,0.0,30000144-2,3,3,0.0,979.698303,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264207,2,1,2,0,U,2,CRES,10,9,11.0,...,2,TX,3,9.0,40794204-1,3,2,9.0,158.335131,1425.016181
264208,2,1,2,0,U,2,CRES,10,2,11.0,...,2,TX,3,0.0,40794204-2,3,2,0.0,170.644689,0.000000
264224,2,2,2,2,U,1,Other,2,0,0.0,...,2,CA,4,0.0,40794294-1,3,3,0.0,229.942799,0.000000
264225,2,2,2,2,U,1,Other,2,0,0.0,...,2,CA,4,0.0,40794294-2,3,3,0.0,193.949129,0.000000
264233,1,0,1,1,U,1,Other,1,5,5.0,...,2,DC,3,0.0,50515573-1,3,3,0.0,611.938240,0.000000

In [ ]:
#hhpdft_2017_sub_veh = hhpdft_numvehtrips[hhpdft_numvehtrips['area']=='2']
#hhpdft_2017_sub_veh

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,MEDCOND,HHSTATE,CENSUS_R,vehtrips,houseidpersonid,area,lifecycle,child,CategoryCRES,vehtrips9
5,1,2,1,1,C,2,Other,1,9,9.0,...,2,NY,1,9.0,30000012-1,2,Single,0.0,3,9.0
6,2,2,2,0,S,3,CRES,2,2,4.0,...,2,MD,3,2.0,30000019-1,2,2+ adults 0 children,0.0,2,2.0
7,2,2,2,0,S,3,CRES,2,2,4.0,...,2,MD,3,2.0,30000019-2,2,2+ adults 0 children,0.0,2,2.0
8,2,2,2,0,S,2,Other,10,3,10.0,...,2,WI,2,3.0,30000029-1,2,Retired 0 children,0.0,3,3.0
9,2,2,2,0,S,1,Other,10,7,10.0,...,2,WI,2,7.0,30000029-2,2,Retired 0 children,0.0,3,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264216,2,2,2,1,C,3,Other,10,9,13.0,...,2,TX,3,9.0,40794241-2,2,Retired 0 children,0.0,3,9.0
264218,4,1,1,1,S,2,Other,3,6,18.0,...,2,TX,3,6.0,40794260-1,2,Single parent,1.0,3,6.0
264219,4,1,1,1,S,1,Other,3,6,18.0,...,2,TX,3,5.0,40794260-2,2,Single parent,1.0,3,5.0
264220,4,1,1,1,S,2,Other,3,6,18.0,...,2,TX,3,5.0,40794260-3,2,Single parent,1.0,3,5.0
264221,1,1,1,1,S,3,Other,1,2,2.0,...,2,CA,4,2.0,40794291-1,2,Single,0.0,3,2.0

In [ ]:
#hhpdft_2017_rur_veh = hhpdft_numvehtrips[hhpdft_numvehtrips['area']=='1']
#hhpdft_2017_rur_veh

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,MEDCOND,HHSTATE,CENSUS_R,vehtrips,houseidpersonid,area,CategoryCRES,vehtrips9,WTPERFIN9,vehtripweight
0,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,2.0,30000007-1,1,3,2.0,206.690153,413.380306
1,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,2.0,30000007-2,1,3,2.0,197.075742,394.151484
2,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,2.0,30000007-3,1,3,2.0,219.514210,439.028420
3,2,4,2,2,R,2,Other,2,2,2.0,...,2,WI,2,2.0,30000008-1,1,3,2.0,63.185911,126.371822
4,2,4,2,2,R,2,Other,2,0,2.0,...,2,WI,2,0.0,30000008-2,1,3,0.0,58.665911,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264228,7,5,4,1,R,3,CRES,6,4,11.0,...,2,NC,3,4.0,40794301-3,1,2,4.0,213.514657,854.058629
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,2,NC,3,0.0,40794301-4,1,2,0.0,213.514657,0.000000
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,2,NC,3,0.0,40794301-5,1,2,0.0,133.448420,0.000000
264231,7,5,4,1,R,2,CRES,6,2,11.0,...,2,NC,3,2.0,40794301-6,1,2,2.0,133.448420,266.896840
264232,7,5,4,1,R,1,CRES,6,0,11.0,...,2,NC,3,0.0,40794301-7,1,2,0.0,133.448420,0.000000

In [ ]:
#urb = pd.DataFrame(hhpdft_2017_urb_veh.groupby(['CategoryCRES'])['vehtripweight'].sum().rename('weightedcars'))
#urb['weightsonly'] = hhpdft_2017_urb_veh.groupby(['CategoryCRES'])['WTPERFIN9'].sum()
##urb['cartrips'] = urb['weightedcars']/urb['weightsonly']
#urb['area'] = "Urban"
#urb['year'] = 2017
#urb.reset_index(inplace=True)
#urb

   CategoryCRES  weightedcars   weightsonly  cartrips   area  year
0             1  2.144653e+06  5.314605e+06  0.403539  Urban  2017
1             2  3.422252e+07  1.406033e+07  2.433977  Urban  2017
2             3  9.015863e+07  3.699104e+07  2.437310  Urban  2017

In [ ]:
#sub = pd.DataFrame(hhpdft_2017_sub_veh.groupby(['CategoryCRES'])['vehtripweight'].sum().rename('weightedcars'))
#sub['weightsonly'] = hhpdft_2017_sub_veh.groupby(['CategoryCRES'])['WTPERFIN9'].sum()
#sub['cartrips'] = sub['weightedcars']/sub['weightsonly']
#sub['area'] = "Suburban"
#sub['year'] = 2017
#sub.reset_index(inplace=True)
#sub

   CategoryCRES  weightedcars   weightsonly  cartrips      area  year
0             1  3.454956e+06  5.407866e+06  0.638876  Suburban  2017
1             2  9.137561e+07  3.447917e+07  2.650169  Suburban  2017
2             3  2.708601e+08  8.617044e+07  3.143307  Suburban  2017

In [ ]:
##rur = pd.DataFrame(hhpdft_2017_rur_veh.groupby(['CategoryCRES'])['vehtripweight'].sum().rename('weightedcars'))
#rur['weightsonly'] = hhpdft_2017_rur_veh.groupby(['CategoryCRES'])['WTPERFIN9'].sum()
#rur['cartrips'] = rur['weightedcars']/rur['weightsonly']
#rur['area'] = "Rural"
#rur['year'] = 2017
#rur.reset_index(inplace=True)
#rur

   CategoryCRES  weightedcars   weightsonly  cartrips   area  year
0             1  3.124856e+06  2.910188e+06  1.073764  Rural  2017
1             2  8.537013e+07  3.170779e+07  2.692402  Rural  2017
2             3  2.379941e+08  7.656385e+07  3.108439  Rural  2017

In [ ]:
#df1 = urb.append(sub)
#df1

<ipython-input-53-2dbde7d830ab>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = urb.append(sub)

   CategoryCRES  weightedcars   weightsonly  cartrips      area  year
0             1  2.144653e+06  5.314605e+06  0.403539     Urban  2017
1             2  3.422252e+07  1.406033e+07  2.433977     Urban  2017
2             3  9.015863e+07  3.699104e+07  2.437310     Urban  2017
0             1  3.454956e+06  5.407866e+06  0.638876  Suburban  2017
1             2  9.137561e+07  3.447917e+07  2.650169  Suburban  2017
2             3  2.708601e+08  8.617044e+07  3.143307  Suburban  2017

In [ ]:
#df2 = df1.append(rur)
#df2

<ipython-input-54-5650dac960ff>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df1.append(rur)

   CategoryCRES  weightedcars   weightsonly  cartrips      area  year
0             1  2.144653e+06  5.314605e+06  0.403539     Urban  2017
1             2  3.422252e+07  1.406033e+07  2.433977     Urban  2017
2             3  9.015863e+07  3.699104e+07  2.437310     Urban  2017
0             1  3.454956e+06  5.407866e+06  0.638876  Suburban  2017
1             2  9.137561e+07  3.447917e+07  2.650169  Suburban  2017
2             3  2.708601e+08  8.617044e+07  3.143307  Suburban  2017
0             1  3.124856e+06  2.910188e+06  1.073764     Rural  2017
1             2  8.537013e+07  3.170779e+07  2.692402     Rural  2017
2             3  2.379941e+08  7.656385e+07  3.108439     Rural  2017

In [ ]:
#df2.to_csv("Cartripsperday2017.csv")

In [ ]:
def education (hhpdft_numvehtrips):
 if hhpdft_numvehtrips['EDUC']== 1:
   return 0
 if hhpdft_numvehtrips['EDUC']== 2:
   return 0
 if hhpdft_numvehtrips['EDUC']== 3:
   return 0
 if hhpdft_numvehtrips['EDUC']== 4:
   return 1
 if hhpdft_numvehtrips['EDUC']== 5:
   return 1
 if hhpdft_numvehtrips['EDUC']== 6:
   return 1
 if hhpdft_numvehtrips['EDUC']== 7:
   return 1
 if hhpdft_numvehtrips['EDUC']== 8:
   return 1

In [ ]:
hhpdft_numvehtrips['education'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: education(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-71-2de329c8dda3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['education'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: education(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,MEDCOND,CENSUS_R,vehtrips,houseidpersonid,area,lifecycle,child,CategoryCRES,vehtrips9,education
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,2,1,2.0,9000013002-1,1,2+ adults with children,1,3,2.0,1.0
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,2,1,3.0,9000013002-2,1,2+ adults with children,1,3,3.0,1.0
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,1,1,3.0,9000013016-1,1,2+ adults 0 children,0,3,3.0,1.0
5,2,1,2,2,1,Other,2,3,6.0,3213.680996,...,2,1,3.0,9000013016-2,1,2+ adults 0 children,0,3,3.0,1.0
6,1,0,1,1,1,Other,1,0,0.0,7727.266827,...,2,1,0.0,9000013026-1,1,Single,0,3,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,2,3,0.0,9000218021-1,2,Retired 0 children,0,3,0.0,1.0
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,2,3,0.0,9000218034-1,2,Retired 0 children,0,2,0.0,0.0
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,2,3,0.0,9000218034-2,2,Retired 0 children,0,2,0.0,0.0
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,1,3,0.0,9000218036-1,2,Single,0,1,0.0,0.0
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,2,3,2.0,9000218040-1,2,Single,0,3,2.0,1.0

In [ ]:
def worker (hhpdft_numvehtrips):
 if hhpdft_numvehtrips['WORKER']== 1:
   return 1
 if hhpdft_numvehtrips['WORKER']== 2:
   return 0

In [ ]:
hhpdft_numvehtrips['worker'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: worker(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-73-1387e3a300a7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['worker'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: worker(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,CENSUS_R,vehtrips,houseidpersonid,area,lifecycle,child,CategoryCRES,vehtrips9,education,worker
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,1,2.0,9000013002-1,1,2+ adults with children,1,3,2.0,1.0,0.0
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,1,3.0,9000013002-2,1,2+ adults with children,1,3,3.0,1.0,1.0
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,1,3.0,9000013016-1,1,2+ adults 0 children,0,3,3.0,1.0,1.0
5,2,1,2,2,1,Other,2,3,6.0,3213.680996,...,1,3.0,9000013016-2,1,2+ adults 0 children,0,3,3.0,1.0,1.0
6,1,0,1,1,1,Other,1,0,0.0,7727.266827,...,1,0.0,9000013026-1,1,Single,0,3,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,3,0.0,9000218021-1,2,Retired 0 children,0,3,0.0,1.0,0.0
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,3,0.0,9000218034-1,2,Retired 0 children,0,2,0.0,0.0,0.0
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,3,0.0,9000218034-2,2,Retired 0 children,0,2,0.0,0.0,0.0
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,3,0.0,9000218036-1,2,Single,0,1,0.0,0.0,0.0
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,3,2.0,9000218040-1,2,Single,0,3,2.0,1.0,1.0

In [ ]:
def medicalcondition (hhpdft_numvehtrips):
 if hhpdft_numvehtrips['MEDCOND']== 1:
   return 1
 if hhpdft_numvehtrips['MEDCOND']== 2:
   return 0

In [ ]:
hhpdft_numvehtrips['medicalcondition'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: medicalcondition(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-75-f2658e1c0941>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['medicalcondition'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: medicalcondition(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,vehtrips,houseidpersonid,area,lifecycle,child,CategoryCRES,vehtrips9,education,worker,medicalcondition
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,2.0,9000013002-1,1,2+ adults with children,1,3,2.0,1.0,0.0,0.0
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,3.0,9000013002-2,1,2+ adults with children,1,3,3.0,1.0,1.0,0.0
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,3.0,9000013016-1,1,2+ adults 0 children,0,3,3.0,1.0,1.0,1.0
5,2,1,2,2,1,Other,2,3,6.0,3213.680996,...,3.0,9000013016-2,1,2+ adults 0 children,0,3,3.0,1.0,1.0,0.0
6,1,0,1,1,1,Other,1,0,0.0,7727.266827,...,0.0,9000013026-1,1,Single,0,3,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,0.0,9000218021-1,2,Retired 0 children,0,3,0.0,1.0,0.0,0.0
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,0.0,9000218034-1,2,Retired 0 children,0,2,0.0,0.0,0.0,0.0
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,0.0,9000218034-2,2,Retired 0 children,0,2,0.0,0.0,0.0,0.0
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,0.0,9000218036-1,2,Single,0,1,0.0,0.0,0.0,1.0
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,2.0,9000218040-1,2,Single,0,3,2.0,1.0,1.0,0.0

In [ ]:
def driver(hhpdft_numvehtrips):
 if hhpdft_numvehtrips['DRIVER']== 1:
   return 1
 if hhpdft_numvehtrips['DRIVER']== 2:
   return 0

In [ ]:
hhpdft_numvehtrips['driver'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: driver(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-77-995dea5994a5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['driver'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: driver(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,houseidpersonid,area,lifecycle,child,CategoryCRES,vehtrips9,education,worker,medicalcondition,driver
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,9000013002-1,1,2+ adults with children,1,3,2.0,1.0,0.0,0.0,1.0
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,9000013002-2,1,2+ adults with children,1,3,3.0,1.0,1.0,0.0,1.0
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,9000013016-1,1,2+ adults 0 children,0,3,3.0,1.0,1.0,1.0,1.0
5,2,1,2,2,1,Other,2,3,6.0,3213.680996,...,9000013016-2,1,2+ adults 0 children,0,3,3.0,1.0,1.0,0.0,1.0
6,1,0,1,1,1,Other,1,0,0.0,7727.266827,...,9000013026-1,1,Single,0,3,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,9000218021-1,2,Retired 0 children,0,3,0.0,1.0,0.0,0.0,1.0
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,9000218034-1,2,Retired 0 children,0,2,0.0,0.0,0.0,0.0,1.0
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,9000218034-2,2,Retired 0 children,0,2,0.0,0.0,0.0,0.0,1.0
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,9000218036-1,2,Single,0,1,0.0,0.0,0.0,1.0,0.0
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,9000218040-1,2,Single,0,3,2.0,1.0,1.0,0.0,1.0

In [ ]:
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==-9].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==-8].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==-7].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==97].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==-1].index, inplace = True)

<ipython-input-78-3159b6e2ede0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==-9].index, inplace = True)
<ipython-input-78-3159b6e2ede0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==-8].index, inplace = True)
<ipython-input-78-3159b6e2ede0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==-7].index, inplace = True)
<ipython-input-78-3159b6e2ede0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==97].index, inplace = True)
<ipython-input-78-3159b6e2ede0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['R_AGE']==-1].index, inplace = True)

In [ ]:
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==-9].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==-8].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==-7].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==97].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==-1].index, inplace = True)

<ipython-input-79-08eb79a8ce74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==-9].index, inplace = True)
<ipython-input-79-08eb79a8ce74>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==-8].index, inplace = True)
<ipython-input-79-08eb79a8ce74>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==-7].index, inplace = True)
<ipython-input-79-08eb79a8ce74>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==97].index, inplace = True)
<ipython-input-79-08eb79a8ce74>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['NUMADLT']==-1].index, inplace = True)

In [ ]:
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==-9].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==-8].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==-7].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==97].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==-1].index, inplace = True)

<ipython-input-80-5d63ce0fca05>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==-9].index, inplace = True)
<ipython-input-80-5d63ce0fca05>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==-8].index, inplace = True)
<ipython-input-80-5d63ce0fca05>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==-7].index, inplace = True)
<ipython-input-80-5d63ce0fca05>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==97].index, inplace = True)
<ipython-input-80-5d63ce0fca05>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['HHVEHCNT']==-1].index, inplace = True)

In [ ]:
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==-9].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==-8].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==-7].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==97].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==-1].index, inplace = True)

<ipython-input-81-194a2ddd19d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==-9].index, inplace = True)
<ipython-input-81-194a2ddd19d1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==-8].index, inplace = True)
<ipython-input-81-194a2ddd19d1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==-7].index, inplace = True)
<ipython-input-81-194a2ddd19d1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==97].index, inplace = True)
<ipython-input-81-194a2ddd19d1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['WORKER']==-1].index, inplace = True)

In [ ]:
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==-9].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==-8].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==-7].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==97].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==-1].index, inplace = True)

<ipython-input-82-ffd1acbe8910>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==-9].index, inplace = True)
<ipython-input-82-ffd1acbe8910>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==-8].index, inplace = True)
<ipython-input-82-ffd1acbe8910>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==-7].index, inplace = True)
<ipython-input-82-ffd1acbe8910>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==97].index, inplace = True)
<ipython-input-82-ffd1acbe8910>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['MEDCOND']==-1].index, inplace = True)

In [ ]:
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==-9].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==-8].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==-7].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==97].index, inplace = True)
hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==-1].index, inplace = True)

<ipython-input-83-b57f88dc03da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==-9].index, inplace = True)
<ipython-input-83-b57f88dc03da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==-8].index, inplace = True)
<ipython-input-83-b57f88dc03da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==-7].index, inplace = True)
<ipython-input-83-b57f88dc03da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==97].index, inplace = True)
<ipython-input-83-b57f88dc03da>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips.drop(hhpdft_numvehtrips[hhpdft_numvehtrips['DRIVER']==-1].index, inplace = True)

In [ ]:
max(hhpdft_numvehtrips['vehtrips'])

22.0

In [ ]:
def rail(hhpdft_numvehtrips):
 if hhpdft_numvehtrips['RAIL']== 1:
   return 1
 if hhpdft_numvehtrips['RAIL']== 2:
   return 0

In [ ]:
hhpdft_numvehtrips['rail'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: rail(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-86-f603a8d3a2c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['rail'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: rail(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,area,lifecycle,child,CategoryCRES,vehtrips9,education,worker,medicalcondition,driver,rail
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,1,2+ adults with children,1,3,2.0,1.0,0.0,0.0,1.0,1
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,1,2+ adults with children,1,3,3.0,1.0,1.0,0.0,1.0,1
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,1,2+ adults 0 children,0,3,3.0,1.0,1.0,1.0,1.0,0
5,2,1,2,2,1,Other,2,3,6.0,3213.680996,...,1,2+ adults 0 children,0,3,3.0,1.0,1.0,0.0,1.0,0
6,1,0,1,1,1,Other,1,0,0.0,7727.266827,...,1,Single,0,3,0.0,1.0,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,2,Retired 0 children,0,3,0.0,1.0,0.0,0.0,1.0,0
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,2,Retired 0 children,0,2,0.0,0.0,0.0,0.0,1.0,0
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,2,Retired 0 children,0,2,0.0,0.0,0.0,0.0,1.0,0
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,2,Single,0,1,0.0,0.0,0.0,1.0,0.0,0
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,2,Single,0,3,2.0,1.0,1.0,0.0,1.0,0

In [ ]:
hhpdft_numvehtrips.columns

Index(['HHSIZE', 'HHVEHCNT', 'DRVRCNT', 'WRKCOUNT', 'URBRUR', 'CRES/No-CRES',
       'LIF_CYC', 'CNTTDTR', 'CNTTDHH', 'WTPERFIN', 'DRIVER', 'WORKER',
       'CONDTRAV', 'DELIVER', 'EDUC', 'R_AGE', 'R_SEX', 'R_RACE', 'RAIL',
       'SAMEPLC', 'NUMADLT', 'MEDCOND', 'CENSUS_R', 'vehtrips',
       'houseidpersonid', 'area', 'lifecycle', 'child', 'CategoryCRES',
       'vehtrips9', 'education', 'worker', 'medicalcondition', 'driver',
       'rail'],
      dtype='object')

In [ ]:
hhpdft_numvehtrips['R_RACE']

0        1
1        1
4        1
5        1
6        1
        ..
16992    1
16993    1
16994    1
16995    1
16996    1
Name: R_RACE, Length: 13896, dtype: int64

In [ ]:
def race(hhpdft_numvehtrips):
 if hhpdft_numvehtrips['R_RACE']== 1:
   return 0
 if hhpdft_numvehtrips['R_RACE']== 2:
   return 1
 if hhpdft_numvehtrips['R_RACE']== 3:
   return 1
 if hhpdft_numvehtrips['R_RACE']== 4:
   return 1
 if hhpdft_numvehtrips['R_RACE']== 5:
   return 1
 if hhpdft_numvehtrips['R_RACE']== 6:
   return 1
 if hhpdft_numvehtrips['R_RACE']== 7:
   return 1
 if hhpdft_numvehtrips['R_RACE']== 97:
   return 1

In [ ]:
hhpdft_numvehtrips['race'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: race(hhpdft_numvehtrips), axis=1)
hhpdft_numvehtrips.dropna()

<ipython-input-90-77bcbb379c70>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_numvehtrips['race'] = hhpdft_numvehtrips.apply (lambda hhpdft_numvehtrips: race(hhpdft_numvehtrips), axis=1)

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,URBRUR,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,WTPERFIN,...,lifecycle,child,CategoryCRES,vehtrips9,education,worker,medicalcondition,driver,rail,race
0,4,2,2,1,1,Other,4,2,7.0,3938.688806,...,2+ adults with children,1,3,2.0,1.0,0.0,0.0,1.0,1,0.0
1,4,2,2,1,1,Other,4,3,7.0,5409.514573,...,2+ adults with children,1,3,3.0,1.0,1.0,0.0,1.0,1,0.0
4,2,1,2,2,1,Other,2,3,6.0,3183.420810,...,2+ adults 0 children,0,3,3.0,1.0,1.0,1.0,1.0,0,0.0
5,2,1,2,2,1,Other,2,3,6.0,3213.680996,...,2+ adults 0 children,0,3,3.0,1.0,1.0,0.0,1.0,0,0.0
6,1,0,1,1,1,Other,1,0,0.0,7727.266827,...,Single,0,3,0.0,1.0,1.0,0.0,1.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,1,1,1,0,2,Other,9,0,0.0,1183.690130,...,Retired 0 children,0,3,0.0,1.0,0.0,0.0,1.0,0,0.0
16993,2,2,2,0,2,CRES,10,0,0.0,7793.315388,...,Retired 0 children,0,2,0.0,0.0,0.0,0.0,1.0,0,0.0
16994,2,2,2,0,2,CRES,10,0,0.0,7775.819529,...,Retired 0 children,0,2,0.0,0.0,0.0,0.0,1.0,0,0.0
16995,1,0,0,0,2,Carless,1,0,0.0,33531.177084,...,Single,0,1,0.0,0.0,0.0,1.0,0.0,0,0.0
16996,1,1,1,1,2,Other,1,3,3.0,11455.059845,...,Single,0,3,2.0,1.0,1.0,0.0,1.0,0,0.0

In [ ]:
take = hhpdft_numvehtrips[['worker','area','R_AGE','R_SEX','driver','education','CNTTDTR','CategoryCRES','HHVEHCNT','rail','NUMADLT','medicalcondition','CENSUS_R','lifecycle','child','race','houseidpersonid','vehtrips']]
take.dropna()

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,CENSUS_R,lifecycle,child,race,houseidpersonid,vehtrips
0,0.0,1,39,2,1.0,1.0,2,3,2,1,2,0.0,1,2+ adults with children,1,0.0,9000013002-1,2.0
1,1.0,1,42,1,1.0,1.0,3,3,2,1,2,0.0,1,2+ adults with children,1,0.0,9000013002-2,3.0
4,1.0,1,32,2,1.0,1.0,3,3,1,0,2,1.0,1,2+ adults 0 children,0,0.0,9000013016-1,3.0
5,1.0,1,41,1,1.0,1.0,3,3,1,0,2,0.0,1,2+ adults 0 children,0,0.0,9000013016-2,3.0
6,1.0,1,44,1,1.0,1.0,0,3,0,1,1,0.0,1,Single,0,0.0,9000013026-1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,0.0,2,74,2,1.0,1.0,0,3,1,0,1,0.0,3,Retired 0 children,0,0.0,9000218021-1,0.0
16993,0.0,2,60,2,1.0,0.0,0,2,2,0,2,0.0,3,Retired 0 children,0,0.0,9000218034-1,0.0
16994,0.0,2,62,1,1.0,0.0,0,2,2,0,2,0.0,3,Retired 0 children,0,0.0,9000218034-2,0.0
16995,0.0,2,42,2,0.0,0.0,0,1,0,0,1,1.0,3,Single,0,0.0,9000218036-1,0.0
16996,1.0,2,58,2,1.0,1.0,3,3,1,0,1,0.0,3,Single,0,0.0,9000218040-1,2.0

In [ ]:
take['vehperadult'] = take['HHVEHCNT']/take['NUMADLT']
take

<ipython-input-93-356591a1704d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  take['vehperadult'] = take['HHVEHCNT']/take['NUMADLT']

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,CENSUS_R,lifecycle,child,race,houseidpersonid,vehtrips,vehperadult
0,0.0,1,39,2,1.0,1.0,2,3,2,1,2,0.0,1,2+ adults with children,1,0.0,9000013002-1,2.0,1.0
1,1.0,1,42,1,1.0,1.0,3,3,2,1,2,0.0,1,2+ adults with children,1,0.0,9000013002-2,3.0,1.0
4,1.0,1,32,2,1.0,1.0,3,3,1,0,2,1.0,1,2+ adults 0 children,0,0.0,9000013016-1,3.0,0.5
5,1.0,1,41,1,1.0,1.0,3,3,1,0,2,0.0,1,2+ adults 0 children,0,0.0,9000013016-2,3.0,0.5
6,1.0,1,44,1,1.0,1.0,0,3,0,1,1,0.0,1,Single,0,0.0,9000013026-1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,0.0,2,74,2,1.0,1.0,0,3,1,0,1,0.0,3,Retired 0 children,0,0.0,9000218021-1,0.0,1.0
16993,0.0,2,60,2,1.0,0.0,0,2,2,0,2,0.0,3,Retired 0 children,0,0.0,9000218034-1,0.0,1.0
16994,0.0,2,62,1,1.0,0.0,0,2,2,0,2,0.0,3,Retired 0 children,0,0.0,9000218034-2,0.0,1.0
16995,0.0,2,42,2,0.0,0.0,0,1,0,0,1,1.0,3,Single,0,0.0,9000218036-1,0.0,0.0
16996,1.0,2,58,2,1.0,1.0,3,3,1,0,1,0.0,3,Single,0,0.0,9000218040-1,2.0,1.0

In [ ]:
take.to_csv("2022VEHTRIPSPERDAY.csv")

In [ ]:
#####################################MERGE ALL##########################

In [ ]:
df1 = take.copy()
df1

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,lifecycle,child,race,houseidpersonid,vehtrips,vehperadult
0,0.0,1,67,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.0,30000007-1,2.0,1.666667
1,1.0,1,66,1,1.0,0.0,2,3,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.0,30000007-2,2.0,1.666667
2,0.0,1,28,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.0,30000007-3,2.0,1.666667
3,1.0,1,55,1,1.0,1.0,2,3,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,0.0,30000008-1,2.0,2.000000
4,1.0,1,49,2,1.0,1.0,0,3,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,0.0,30000008-2,0.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,50,2,1.0,1.0,0,2,5,0,4,0.0,NC,3,2+ adults with children,1.0,0.0,40794301-1,0.0,1.250000
264227,1.0,1,59,1,1.0,1.0,5,2,5,0,4,0.0,NC,3,2+ adults with children,1.0,0.0,40794301-2,5.0,1.250000
264228,0.0,1,22,2,1.0,0.0,4,2,5,0,4,0.0,NC,3,2+ adults with children,1.0,0.0,40794301-3,4.0,1.250000
264229,0.0,1,18,2,1.0,0.0,0,2,5,0,4,0.0,NC,3,2+ adults with children,1.0,0.0,40794301-4,0.0,1.250000
264233,1.0,3,52,1,1.0,1.0,5,3,0,1,1,0.0,DC,3,Single,0.0,0.0,50515573-1,0.0,0.000000

In [ ]:
df1 = df1.drop(['lifecycle'], axis=1)
df1

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult
0,0.0,1,67,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-1,2.0,1.666667
1,1.0,1,66,1,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-2,2.0,1.666667
2,0.0,1,28,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-3,2.0,1.666667
3,1.0,1,55,1,1.0,1.0,2,3,4,0,2,0.0,WI,2,0.0,0.0,30000008-1,2.0,2.000000
4,1.0,1,49,2,1.0,1.0,0,3,4,0,2,0.0,WI,2,0.0,0.0,30000008-2,0.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,50,2,1.0,1.0,0,2,5,0,4,0.0,NC,3,1.0,0.0,40794301-1,0.0,1.250000
264227,1.0,1,59,1,1.0,1.0,5,2,5,0,4,0.0,NC,3,1.0,0.0,40794301-2,5.0,1.250000
264228,0.0,1,22,2,1.0,0.0,4,2,5,0,4,0.0,NC,3,1.0,0.0,40794301-3,4.0,1.250000
264229,0.0,1,18,2,1.0,0.0,0,2,5,0,4,0.0,NC,3,1.0,0.0,40794301-4,0.0,1.250000
264233,1.0,3,52,1,1.0,1.0,5,3,0,1,1,0.0,DC,3,0.0,0.0,50515573-1,0.0,0.000000

In [ ]:
df1['year'] = 2017
df1

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult,year
0,0.0,1,67,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-1,2.0,1.666667,2017
1,1.0,1,66,1,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-2,2.0,1.666667,2017
2,0.0,1,28,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-3,2.0,1.666667,2017
3,1.0,1,55,1,1.0,1.0,2,3,4,0,2,0.0,WI,2,0.0,0.0,30000008-1,2.0,2.000000,2017
4,1.0,1,49,2,1.0,1.0,0,3,4,0,2,0.0,WI,2,0.0,0.0,30000008-2,0.0,2.000000,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,50,2,1.0,1.0,0,2,5,0,4,0.0,NC,3,1.0,0.0,40794301-1,0.0,1.250000,2017
264227,1.0,1,59,1,1.0,1.0,5,2,5,0,4,0.0,NC,3,1.0,0.0,40794301-2,5.0,1.250000,2017
264228,0.0,1,22,2,1.0,0.0,4,2,5,0,4,0.0,NC,3,1.0,0.0,40794301-3,4.0,1.250000,2017
264229,0.0,1,18,2,1.0,0.0,0,2,5,0,4,0.0,NC,3,1.0,0.0,40794301-4,0.0,1.250000,2017
264233,1.0,3,52,1,1.0,1.0,5,3,0,1,1,0.0,DC,3,0.0,0.0,50515573-1,0.0,0.000000,2017

In [ ]:
df2

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult,year
0,1.0,2.0,26,2,1.0,0.0,5,3,3,1,2,0.0,VA,3,0.0,0.0,10000018-1,3.0,1.500000,2001
1,1.0,2.0,27,1,1.0,0.0,5,3,3,1,2,0.0,VA,3,0.0,0.0,10000018-2,3.0,1.500000,2001
2,1.0,2.0,55,1,1.0,0.0,5,2,1,0,1,0.0,FL,3,0.0,0.0,10000045-1,5.0,1.000000,2001
3,1.0,1.0,37,1,1.0,1.0,3,3,3,1,2,0.0,PA,1,0.0,0.0,10000577-1,3.0,1.500000,2001
4,1.0,1.0,31,2,1.0,0.0,2,3,3,1,2,0.0,PA,1,0.0,0.0,10000577-2,2.0,1.500000,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110494,0.0,2.0,55,2,1.0,0.0,12,3,4,0,2,1.0,WI,2,0.0,0.0,915637240-1,12.0,2.000000,2001
110495,1.0,2.0,56,1,1.0,0.0,12,3,4,0,2,0.0,WI,2,0.0,0.0,915637240-2,12.0,2.000000,2001
110496,0.0,1.0,38,2,1.0,0.0,6,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-1,6.0,1.333333,2001
110497,1.0,1.0,41,1,1.0,0.0,3,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-2,3.0,1.333333,2001
110498,0.0,1.0,19,2,0.0,NaN,0,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-3,0.0,1.333333,2001

In [ ]:
df2 = pd.read_csv("/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/newcountdatamodelcorrected/vehicletripsperday/JULYUPDATED/2001VEHTRIPSPERDAYFINAL18JULY (1).csv")
df2

,Unnamed: 0,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult
0,0,1.0,2.0,26,2,1.0,0.0,5,3,3,1,2,0.0,VA,3,0.0,0.0,10000018-1,3.0,1.500000
1,1,1.0,2.0,27,1,1.0,0.0,5,3,3,1,2,0.0,VA,3,0.0,0.0,10000018-2,3.0,1.500000
2,2,1.0,2.0,55,1,1.0,0.0,5,2,1,0,1,0.0,FL,3,0.0,0.0,10000045-1,5.0,1.000000
3,4,1.0,1.0,37,1,1.0,1.0,3,3,3,1,2,0.0,PA,1,0.0,0.0,10000577-1,3.0,1.500000
4,5,1.0,1.0,31,2,1.0,0.0,2,3,3,1,2,0.0,PA,1,0.0,0.0,10000577-2,2.0,1.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110494,160750,0.0,2.0,55,2,1.0,0.0,12,3,4,0,2,1.0,WI,2,0.0,0.0,915637240-1,12.0,2.000000
110495,160751,1.0,2.0,56,1,1.0,0.0,12,3,4,0,2,0.0,WI,2,0.0,0.0,915637240-2,12.0,2.000000
110496,160752,0.0,1.0,38,2,1.0,0.0,6,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-1,6.0,1.333333
110497,160753,1.0,1.0,41,1,1.0,0.0,3,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-2,3.0,1.333333
110498,160754,0.0,1.0,19,2,0.0,NaN,0,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-3,0.0,1.333333

In [ ]:
df2 = df2.drop(['Unnamed: 0'], axis=1)
df2

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult
0,1.0,2.0,26,2,1.0,0.0,5,3,3,1,2,0.0,VA,3,0.0,0.0,10000018-1,3.0,1.500000
1,1.0,2.0,27,1,1.0,0.0,5,3,3,1,2,0.0,VA,3,0.0,0.0,10000018-2,3.0,1.500000
2,1.0,2.0,55,1,1.0,0.0,5,2,1,0,1,0.0,FL,3,0.0,0.0,10000045-1,5.0,1.000000
3,1.0,1.0,37,1,1.0,1.0,3,3,3,1,2,0.0,PA,1,0.0,0.0,10000577-1,3.0,1.500000
4,1.0,1.0,31,2,1.0,0.0,2,3,3,1,2,0.0,PA,1,0.0,0.0,10000577-2,2.0,1.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110494,0.0,2.0,55,2,1.0,0.0,12,3,4,0,2,1.0,WI,2,0.0,0.0,915637240-1,12.0,2.000000
110495,1.0,2.0,56,1,1.0,0.0,12,3,4,0,2,0.0,WI,2,0.0,0.0,915637240-2,12.0,2.000000
110496,0.0,1.0,38,2,1.0,0.0,6,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-1,6.0,1.333333
110497,1.0,1.0,41,1,1.0,0.0,3,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-2,3.0,1.333333
110498,0.0,1.0,19,2,0.0,NaN,0,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-3,0.0,1.333333

In [ ]:
df2['year'] = 2001
df2

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult,year
0,1.0,2.0,26,2,1.0,0.0,5,3,3,1,2,0.0,VA,3,0.0,0.0,10000018-1,3.0,1.500000,2001
1,1.0,2.0,27,1,1.0,0.0,5,3,3,1,2,0.0,VA,3,0.0,0.0,10000018-2,3.0,1.500000,2001
2,1.0,2.0,55,1,1.0,0.0,5,2,1,0,1,0.0,FL,3,0.0,0.0,10000045-1,5.0,1.000000,2001
3,1.0,1.0,37,1,1.0,1.0,3,3,3,1,2,0.0,PA,1,0.0,0.0,10000577-1,3.0,1.500000,2001
4,1.0,1.0,31,2,1.0,0.0,2,3,3,1,2,0.0,PA,1,0.0,0.0,10000577-2,2.0,1.500000,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110494,0.0,2.0,55,2,1.0,0.0,12,3,4,0,2,1.0,WI,2,0.0,0.0,915637240-1,12.0,2.000000,2001
110495,1.0,2.0,56,1,1.0,0.0,12,3,4,0,2,0.0,WI,2,0.0,0.0,915637240-2,12.0,2.000000,2001
110496,0.0,1.0,38,2,1.0,0.0,6,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-1,6.0,1.333333,2001
110497,1.0,1.0,41,1,1.0,0.0,3,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-2,3.0,1.333333,2001
110498,0.0,1.0,19,2,0.0,NaN,0,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-3,0.0,1.333333,2001

In [ ]:
df3 = pd.read_csv("/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/newcountdatamodelcorrected/vehicletripsperday/JULYUPDATED/2009VEHTRIPSPERDAYFINAL18JULY12.csv")
df3

,Unnamed: 0,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult
0,0,0.0,1.0,75,1,1.0,0.0,5,3,3,0,3,1.0,IN,2,0,0.0,20000017-1,5.0,1.0
1,1,1.0,1.0,58,2,1.0,0.0,8,3,3,0,3,0.0,IN,2,0,0.0,20000017-2,8.0,1.0
2,2,0.0,1.0,83,2,0.0,0.0,0,3,3,0,3,1.0,IN,2,0,0.0,20000017-3,0.0,1.0
3,3,1.0,2.0,26,2,1.0,0.0,5,3,1,0,1,0.0,TX,3,0,0.0,20000231-1,5.0,1.0
4,4,1.0,3.0,59,1,1.0,1.0,4,2,2,0,2,0.0,TX,3,0,0.0,20000521-1,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251126,308891,0.0,2.0,60,2,0.0,0.0,0,1,0,0,2,0.0,CA,4,0,1.0,69998896-1,0.0,0.0
251127,308892,1.0,2.0,63,1,0.0,0.0,2,1,0,0,2,0.0,CA,4,0,1.0,69998896-2,2.0,0.0
251128,308894,1.0,2.0,38,2,1.0,1.0,6,3,2,0,2,0.0,NC,3,1,0.0,69999718-1,6.0,1.0
251129,308895,1.0,2.0,39,1,1.0,1.0,5,3,2,0,2,0.0,NC,3,1,0.0,69999718-2,5.0,1.0
251130,308900,1.0,3.0,57,1,1.0,0.0,8,3,2,1,2,0.0,CA,4,0,1.0,69999811-1,6.0,1.0

In [ ]:
df3 = df3.drop(['Unnamed: 0'], axis=1)
df3

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult
0,0.0,1.0,75,1,1.0,0.0,5,3,3,0,3,1.0,IN,2,0,0.0,20000017-1,5.0,1.0
1,1.0,1.0,58,2,1.0,0.0,8,3,3,0,3,0.0,IN,2,0,0.0,20000017-2,8.0,1.0
2,0.0,1.0,83,2,0.0,0.0,0,3,3,0,3,1.0,IN,2,0,0.0,20000017-3,0.0,1.0
3,1.0,2.0,26,2,1.0,0.0,5,3,1,0,1,0.0,TX,3,0,0.0,20000231-1,5.0,1.0
4,1.0,3.0,59,1,1.0,1.0,4,2,2,0,2,0.0,TX,3,0,0.0,20000521-1,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251126,0.0,2.0,60,2,0.0,0.0,0,1,0,0,2,0.0,CA,4,0,1.0,69998896-1,0.0,0.0
251127,1.0,2.0,63,1,0.0,0.0,2,1,0,0,2,0.0,CA,4,0,1.0,69998896-2,2.0,0.0
251128,1.0,2.0,38,2,1.0,1.0,6,3,2,0,2,0.0,NC,3,1,0.0,69999718-1,6.0,1.0
251129,1.0,2.0,39,1,1.0,1.0,5,3,2,0,2,0.0,NC,3,1,0.0,69999718-2,5.0,1.0
251130,1.0,3.0,57,1,1.0,0.0,8,3,2,1,2,0.0,CA,4,0,1.0,69999811-1,6.0,1.0

In [ ]:
df3['vehperadult'] = df3['HHVEHCNT']/df3['NUMADLT']
df3

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult
0,0.0,1.0,75,1,1.0,0.0,5,3,3,0,3,1.0,IN,2,0,0.0,20000017-1,5.0,1.0
1,1.0,1.0,58,2,1.0,0.0,8,3,3,0,3,0.0,IN,2,0,0.0,20000017-2,8.0,1.0
2,0.0,1.0,83,2,0.0,0.0,0,3,3,0,3,1.0,IN,2,0,0.0,20000017-3,0.0,1.0
3,1.0,2.0,26,2,1.0,0.0,5,3,1,0,1,0.0,TX,3,0,0.0,20000231-1,5.0,1.0
4,1.0,3.0,59,1,1.0,1.0,4,2,2,0,2,0.0,TX,3,0,0.0,20000521-1,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251126,0.0,2.0,60,2,0.0,0.0,0,1,0,0,2,0.0,CA,4,0,1.0,69998896-1,0.0,0.0
251127,1.0,2.0,63,1,0.0,0.0,2,1,0,0,2,0.0,CA,4,0,1.0,69998896-2,2.0,0.0
251128,1.0,2.0,38,2,1.0,1.0,6,3,2,0,2,0.0,NC,3,1,0.0,69999718-1,6.0,1.0
251129,1.0,2.0,39,1,1.0,1.0,5,3,2,0,2,0.0,NC,3,1,0.0,69999718-2,5.0,1.0
251130,1.0,3.0,57,1,1.0,0.0,8,3,2,1,2,0.0,CA,4,0,1.0,69999811-1,6.0,1.0

In [ ]:
df3['year'] = 2009
df3

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult,year
0,0.0,1.0,75,1,1.0,0.0,5,3,3,0,3,1.0,IN,2,0,0.0,20000017-1,5.0,1.0,2009
1,1.0,1.0,58,2,1.0,0.0,8,3,3,0,3,0.0,IN,2,0,0.0,20000017-2,8.0,1.0,2009
2,0.0,1.0,83,2,0.0,0.0,0,3,3,0,3,1.0,IN,2,0,0.0,20000017-3,0.0,1.0,2009
3,1.0,2.0,26,2,1.0,0.0,5,3,1,0,1,0.0,TX,3,0,0.0,20000231-1,5.0,1.0,2009
4,1.0,3.0,59,1,1.0,1.0,4,2,2,0,2,0.0,TX,3,0,0.0,20000521-1,4.0,1.0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251126,0.0,2.0,60,2,0.0,0.0,0,1,0,0,2,0.0,CA,4,0,1.0,69998896-1,0.0,0.0,2009
251127,1.0,2.0,63,1,0.0,0.0,2,1,0,0,2,0.0,CA,4,0,1.0,69998896-2,2.0,0.0,2009
251128,1.0,2.0,38,2,1.0,1.0,6,3,2,0,2,0.0,NC,3,1,0.0,69999718-1,6.0,1.0,2009
251129,1.0,2.0,39,1,1.0,1.0,5,3,2,0,2,0.0,NC,3,1,0.0,69999718-2,5.0,1.0,2009
251130,1.0,3.0,57,1,1.0,0.0,8,3,2,1,2,0.0,CA,4,0,1.0,69999811-1,6.0,1.0,2009

In [ ]:
dff1 = df1.append(df2)
dff1

<ipython-input-82-14b4cc5b181a>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff1 = df1.append(df2)

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult,year
0,0.0,1,67,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-1,2.0,1.666667,2017
1,1.0,1,66,1,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-2,2.0,1.666667,2017
2,0.0,1,28,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-3,2.0,1.666667,2017
3,1.0,1,55,1,1.0,1.0,2,3,4,0,2,0.0,WI,2,0.0,0.0,30000008-1,2.0,2.000000,2017
4,1.0,1,49,2,1.0,1.0,0,3,4,0,2,0.0,WI,2,0.0,0.0,30000008-2,0.0,2.000000,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110494,0.0,2.0,55,2,1.0,0.0,12,3,4,0,2,1.0,WI,2,0.0,0.0,915637240-1,12.0,2.000000,2001
110495,1.0,2.0,56,1,1.0,0.0,12,3,4,0,2,0.0,WI,2,0.0,0.0,915637240-2,12.0,2.000000,2001
110496,0.0,1.0,38,2,1.0,0.0,6,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-1,6.0,1.333333,2001
110497,1.0,1.0,41,1,1.0,0.0,3,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-2,3.0,1.333333,2001
110498,0.0,1.0,19,2,0.0,NaN,0,2,4,0,3,0.0,WI,2,1.0,0.0,915637259-3,0.0,1.333333,2001

In [ ]:
dff2 = dff1.append(df3)
dff2

<ipython-input-83-25e785309075>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff2 = dff1.append(df3)

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,child,race,houseidpersonid,vehtrips,vehperadult,year
0,0.0,1,67,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-1,2.0,1.666667,2017
1,1.0,1,66,1,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-2,2.0,1.666667,2017
2,0.0,1,28,2,1.0,0.0,2,3,5,0,3,0.0,NC,3,0.0,1.0,30000007-3,2.0,1.666667,2017
3,1.0,1,55,1,1.0,1.0,2,3,4,0,2,0.0,WI,2,0.0,0.0,30000008-1,2.0,2.000000,2017
4,1.0,1,49,2,1.0,1.0,0,3,4,0,2,0.0,WI,2,0.0,0.0,30000008-2,0.0,2.000000,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251126,0.0,2.0,60,2,0.0,0.0,0,1,0,0,2,0.0,CA,4,0.0,1.0,69998896-1,0.0,0.000000,2009
251127,1.0,2.0,63,1,0.0,0.0,2,1,0,0,2,0.0,CA,4,0.0,1.0,69998896-2,2.0,0.000000,2009
251128,1.0,2.0,38,2,1.0,1.0,6,3,2,0,2,0.0,NC,3,1.0,0.0,69999718-1,6.0,1.000000,2009
251129,1.0,2.0,39,1,1.0,1.0,5,3,2,0,2,0.0,NC,3,1.0,0.0,69999718-2,5.0,1.000000,2009
251130,1.0,3.0,57,1,1.0,0.0,8,3,2,1,2,0.0,CA,4,0.0,1.0,69999811-1,6.0,1.000000,2009

In [ ]:
dff2.to_csv("/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/newcountdatamodelcorrected/vehicletripsperday/JULYUPDATED/ALLTOGETHERVEHICLEUSENBMODELJULY12.csv")

In [ ]:
hhpdft_numvehtrips.vehtrips.value_counts()

0.0     62726
2.0     57035
4.0     33967
3.0     29584
5.0     20182
6.0     15216
7.0      9199
1.0      7964
8.0      5939
9.0      3581
10.0     1992
11.0     1035
12.0      606
13.0      341
14.0      223
15.0      118
16.0       88
17.0       39
18.0       35
19.0       16
20.0       14
23.0        5
22.0        4
24.0        3
26.0        3
21.0        3
27.0        2
30.0        1
29.0        1
42.0        1
48.0        1
32.0        1
Name: vehtrips, dtype: int64

In [ ]:
hhpdf_2017

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,WTPERFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,206.690153,T,50,1500,750,750,20,750,300,30000007-1
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,197.075742,T,50,1500,750,750,20,750,300,30000007-2
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,219.514210,T,50,1500,750,750,20,750,300,30000007-3
3,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,63.185911,R,5,300,300,150,5,300,300,30000008-1
4,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,58.665911,R,5,300,300,150,5,300,300,30000008-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,213.514657,R,20,50,50,25,20,300,50,40794301-4
264230,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-5
264231,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-6
264232,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-7
264233,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,611.938240,U,70,30000,30000,5000,70,30000,17000,50515573-1

In [ ]:
#########################  MERGE ALL #####################################

In [ ]:
tripdf_2017.houseidpersonid.nunique()

219194

In [ ]:
hhpdf_2017['houseidpersonid'] = hhpdf_2017['HOUSEID'].astype(str)+"-"+ hhpdf_2017['PERSONID'].astype(str)
hhpdf_2017

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,WTPERFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,206.690153,T,50,1500,750,750,20,750,300,30000007-1
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,197.075742,T,50,1500,750,750,20,750,300,30000007-2
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,219.514210,T,50,1500,750,750,20,750,300,30000007-3
3,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,63.185911,R,5,300,300,150,5,300,300,30000008-1
4,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,58.665911,R,5,300,300,150,5,300,300,30000008-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,213.514657,R,20,50,50,25,20,300,50,40794301-4
264230,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-5
264231,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-6
264232,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-7
264233,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,611.938240,U,70,30000,30000,5000,70,30000,17000,50515573-1

In [ ]:
hhpdf_2017_formerge = hhpdf_2017[['houseidpersonid']]
hhpdf_2017_formerge

       houseidpersonid
0           30000007-1
1           30000007-2
2           30000007-3
3           30000008-1
4           30000008-2
...                ...
264229      40794301-4
264230      40794301-5
264231      40794301-6
264232      40794301-7
264233      50515573-1

[264234 rows x 1 columns]

In [ ]:
tripdf_2017_formerge = tripdf_2017[['houseidpersonid']]
tripdf_2017_formerge

       houseidpersonid
0           30000007-1
1           30000007-1
2           30000007-2
3           30000007-2
4           30000007-3
...                ...
923567      50515573-1
923568      50515573-1
923569      50515573-1
923570      50515573-1
923571      50515573-1

[923572 rows x 1 columns]

In [ ]:
hhpdf_2017.houseidpersonid.nunique()

264234

In [ ]:
hhpdft_2017 = pd.merge(hhpdf_2017, tripdf_2017,on='houseidpersonid',how='left').fillna(0)
hhpdft_2017.dropna()

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid,HOUSEID_y,PERSONID_y,TRPTRANS,TRPMILAD,TRPHHVEH
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,20,750,300,30000007-1,30000007.0,1.0,3.0,5.847584,1.0
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,20,750,300,30000007-1,30000007.0,1.0,3.0,5.741650,1.0
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,20,750,300,30000007-2,30000007.0,2.0,6.0,90.178294,1.0
3,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,20,750,300,30000007-2,30000007.0,2.0,6.0,87.627658,1.0
4,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,20,750,300,30000007-3,30000007.0,3.0,3.0,2.508975,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968607,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,5000,70,30000,17000,50515573-1,50515573.0,1.0,1.0,1.168000,2.0
968608,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,5000,70,30000,17000,50515573-1,50515573.0,1.0,1.0,0.238000,2.0
968609,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,5000,70,30000,17000,50515573-1,50515573.0,1.0,1.0,0.238000,2.0
968610,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,5000,70,30000,17000,50515573-1,50515573.0,1.0,1.0,0.867000,2.0
968611,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,5000,70,30000,17000,50515573-1,50515573.0,1.0,1.0,0.325000,2.0

In [ ]:
hhpdft_2017_hhveh = hhpdft_2017[hhpdft_2017['TRPHHVEH']==1]
hhpdft_2017_hhveh

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid,PERSONID_y,TRPTRANS,TRPMILAD,TRPHHVEH
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-1,1,3,5.847584,1
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-2,1,3,5.847584,1
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-3,1,3,5.847584,1
3,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-1,1,3,5.741650,1
4,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-2,1,3,5.741650,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321626,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-3,6,5,10.662586,1
2321627,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-4,6,5,10.662586,1
2321628,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-5,6,5,10.662586,1
2321629,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-6,6,5,10.662586,1
2321630,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-7,6,5,10.662586,1

In [ ]:
hhpdft_2017_hhveh['CRES/No-CRES'].value_counts()

Other      1475337
CRES        387546
Carless        778
Name: CRES/No-CRES, dtype: int64

In [ ]:
carless = hhpdft_2017_hhveh[hhpdft_2017_hhveh['CRES/No-CRES']=="Carless"]
carless

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid,PERSONID_y,TRPTRANS,TRPMILAD,TRPHHVEH
2006,2.0,1.0,1.0,5.0,9.0,Carless,2.0,5.0,1.0,2.0,...,7000,5000,80,17000,7000,30001177-1,1,1,1.464000,1
2007,2.0,1.0,1.0,5.0,9.0,Carless,2.0,5.0,1.0,2.0,...,7000,5000,80,17000,7000,30001177-2,1,1,1.464000,1
2008,2.0,1.0,1.0,5.0,9.0,Carless,2.0,5.0,1.0,2.0,...,7000,5000,80,17000,7000,30001177-1,1,1,1.465000,1
2009,2.0,1.0,1.0,5.0,9.0,Carless,2.0,5.0,1.0,2.0,...,7000,5000,80,17000,7000,30001177-2,1,1,1.465000,1
2014,2.0,1.0,1.0,5.0,9.0,Carless,2.0,5.0,1.0,2.0,...,7000,5000,80,17000,7000,30001177-1,2,1,0.395000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221785,5.0,3.0,4.0,5.0,3.0,Carless,2.0,5.0,5.0,3.0,...,1500,3000,50,7000,1500,30537659-1,1,1,2.232000,1
1221786,5.0,3.0,4.0,5.0,3.0,Carless,2.0,5.0,5.0,3.0,...,1500,3000,50,7000,1500,30537659-1,1,1,2.232000,1
1221787,5.0,3.0,4.0,5.0,3.0,Carless,2.0,5.0,5.0,3.0,...,1500,3000,50,7000,1500,30537659-1,1,1,-9.000000,1
1260279,-9.0,-9.0,-9.0,3.0,2.0,Carless,2.0,-9.0,5.0,-9.0,...,50,25,20,50,50,30555490-1,1,97,1.174000,1
1260280,-9.0,-9.0,-9.0,3.0,2.0,Carless,2.0,-9.0,5.0,-9.0,...,50,25,20,50,50,30555490-1,1,3,1.309127,1

In [ ]:
carless.HHVEHCNT.value_counts()

0    778
Name: HHVEHCNT, dtype: int64

In [ ]:
hhpdft_2017_hhveh = hhpdft_2017_hhveh[hhpdft_2017_hhveh['CRES/No-CRES']!="Carless"]
hhpdft_2017_hhveh

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid,PERSONID_y,TRPTRANS,TRPMILAD,TRPHHVEH
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-1,1,3,5.847584,1
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-2,1,3,5.847584,1
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-3,1,3,5.847584,1
3,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-1,1,3,5.741650,1
4,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,750,750,20,750,300,30000007-2,1,3,5.741650,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321626,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-3,6,5,10.662586,1
2321627,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-4,6,5,10.662586,1
2321628,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-5,6,5,10.662586,1
2321629,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-6,6,5,10.662586,1
2321630,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,50,25,20,300,50,40794301-7,6,5,10.662586,1

In [ ]:
hhpdft_2017_hhveh = hhpdft_2017_hhveh[['houseidpersonid','TRPTRANS', 'CNTTDTR','TRPMILAD']]

In [ ]:
hhpdft_2017_hhveh

        houseidpersonid  TRPTRANS  CNTTDTR
0            30000007-1         3        2
1            30000007-2         3        2
2            30000007-3         3        2
3            30000007-1         3        2
4            30000007-2         3        2
...                 ...       ...      ...
2321626      40794301-3         5        4
2321627      40794301-4         5        0
2321628      40794301-5         5        0
2321629      40794301-6         5        2
2321630      40794301-7         5        0

[1909069 rows x 3 columns]

In [ ]:
hhpdft_2017_hhveh['count']=1
hhpdft_2017_hhveh

<ipython-input-20-7223f975b46d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hhpdft_2017_hhveh['count']=1

        houseidpersonid  TRPTRANS  CNTTDTR  count
0            30000007-1         3        2      1
1            30000007-2         3        2      1
2            30000007-3         3        2      1
3            30000007-1         3        2      1
4            30000007-2         3        2      1
...                 ...       ...      ...    ...
2321626      40794301-3         5        4      1
2321627      40794301-4         5        0      1
2321628      40794301-5         5        0      1
2321629      40794301-6         5        2      1
2321630      40794301-7         5        0      1

[1909069 rows x 4 columns]

In [ ]:
s = hhpdft_2017_hhveh[hhpdft_2017_hhveh['houseidpersonid']=="30000007-1"]
s

   houseidpersonid  TRPTRANS  CNTTDTR  count
0       30000007-1         3        2      1
3       30000007-1         3        2      1
6       30000007-1         6        2      1
9       30000007-1         6        2      1
12      30000007-1         3        2      1
15      30000007-1         3        2      1

In [ ]:
numtrps1 = hhpdft_2017_hhveh.groupby(['houseidpersonid'])['count'].sum().rename('trips')
numtrps1

houseidpersonid
30000007-1     6
30000007-2     6
30000007-3     6
30000008-1     2
30000008-2     2
              ..
40794301-3    11
40794301-4    11
40794301-5    11
40794301-6    11
40794301-7    11
Name: trips, Length: 227732, dtype: int64

In [ ]:
hhpdft_2017_hhveh =  hhpdft_2017_hhveh[(hhpdft_2017_hhveh['TRPTRANS']==3)|(hhpdft_2017_hhveh['TRPTRANS']==4)|(hhpdft_2017_hhveh['TRPTRANS']==5)|(hhpdft_2017_hhveh['TRPTRANS']==6)|(hhpdft_2017_hhveh['TRPTRANS']==7)|(hhpdft_2017_hhveh['TRPTRANS']==8)|(hhpdft_2017_hhveh['TRPTRANS']==9)]

In [ ]:
hhpdft_2017_hhveh

        houseidpersonid  TRPTRANS  CNTTDTR
0            30000007-1         3        2
1            30000007-2         3        2
2            30000007-3         3        2
3            30000007-1         3        2
4            30000007-2         3        2
...                 ...       ...      ...
2321626      40794301-3         5        4
2321627      40794301-4         5        0
2321628      40794301-5         5        0
2321629      40794301-6         5        2
2321630      40794301-7         5        0

[1901258 rows x 3 columns]

In [ ]:
k = pd.DataFrame(hhpdft_2017_hhveh.houseidpersonid.value_counts())
k

            houseidpersonid
40528983-1               89
40528983-2               89
40528983-3               89
40528983-4               89
40528983-5               89
...                     ...
30381376-2                1
30381376-1                1
40700901-1                1
40494052-1                1
40094848-3                1

[227488 rows x 1 columns]

In [ ]:
k.reset_index()

             index  houseidpersonid
0       40528983-1               89
1       40528983-2               89
2       40528983-3               89
3       40528983-4               89
4       40528983-5               89
...            ...              ...
227483  30381376-2                1
227484  30381376-1                1
227485  40700901-1                1
227486  40494052-1                1
227487  40094848-3                1

[227488 rows x 2 columns]

In [ ]:
p = s[s['index']=="40794301-3"]
p

KeyError: ignored

In [ ]:
hhpdft_2017_hhveh9 = hhpdft_2017_hhveh.drop_duplicates(subset=['houseidpersonid'], keep='last')
hhpdft_2017_hhveh9

        houseidpersonid  TRPTRANS  CNTTDTR
15           30000007-1         3        2
16           30000007-2         3        2
17           30000007-3         3        2
20           30000008-1         6        2
21           30000008-2         6        0
...                 ...       ...      ...
2321626      40794301-3         5        4
2321627      40794301-4         5        0
2321628      40794301-5         5        0
2321629      40794301-6         5        2
2321630      40794301-7         5        0

[227488 rows x 3 columns]

In [ ]:
hhpdft_2017_hhveh9.CNTTDTR.value_counts()

2     56540
4     38468
3     29530
5     23482
0     22743
6     19187
7     12183
8      8167
9      5251
1      4804
10     3049
11     1649
12      986
13      556
14      343
15      178
16      144
17       76
18       46
19       27
20       22
21       17
23        8
26        5
27        5
25        4
22        4
24        3
29        2
39        2
28        1
31        1
47        1
50        1
43        1
33        1
32        1
Name: CNTTDTR, dtype: int64

In [ ]:
hhpdft_2017_hhveh9.CNTTDTR.max()

50

In [ ]:
numtrps = hhpdft_2017_hhveh.groupby(['houseidpersonid'])['CNTTDTR'].mean().rename('trips')
numtrps

houseidpersonid
30000007-1    2.0
30000007-2    2.0
30000007-3    2.0
30000008-1    2.0
30000008-2    0.0
             ...
40794301-3    4.0
40794301-4    0.0
40794301-5    0.0
40794301-6    2.0
40794301-7    0.0
Name: trips, Length: 227488, dtype: float64

In [ ]:
numtrps = pd.DataFrame(numtrps)
numtrps

                 trips
houseidpersonid
30000007-1         2.0
30000007-2         2.0
30000007-3         2.0
30000008-1         2.0
30000008-2         0.0
...                ...
40794301-3         4.0
40794301-4         0.0
40794301-5         0.0
40794301-6         2.0
40794301-7         0.0

[227488 rows x 1 columns]

In [ ]:
df = df.drop_duplicates(subset=['ID','Order Date'], keep='last')

In [ ]:
numtrps.reset_index(inplace=True)

In [ ]:
numtrps.trips.value_counts()

2.0     56540
4.0     38468
3.0     29530
5.0     23482
0.0     22743
6.0     19187
7.0     12183
8.0      8167
9.0      5251
1.0      4804
10.0     3049
11.0     1649
12.0      986
13.0      556
14.0      343
15.0      178
16.0      144
17.0       76
18.0       46
19.0       27
20.0       22
21.0       17
23.0        8
26.0        5
27.0        5
25.0        4
22.0        4
24.0        3
29.0        2
39.0        2
28.0        1
31.0        1
47.0        1
50.0        1
43.0        1
33.0        1
32.0        1
Name: trips, dtype: int64

In [ ]:
hhpdf_2017

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,WTPERFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,206.690153,T,50,1500,750,750,20,750,300,30000007-1
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,197.075742,T,50,1500,750,750,20,750,300,30000007-2
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,219.514210,T,50,1500,750,750,20,750,300,30000007-3
3,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,63.185911,R,5,300,300,150,5,300,300,30000008-1
4,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,58.665911,R,5,300,300,150,5,300,300,30000008-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,213.514657,R,20,50,50,25,20,300,50,40794301-4
264230,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-5
264231,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-6
264232,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,133.448420,R,20,50,50,25,20,300,50,40794301-7
264233,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,611.938240,U,70,30000,30000,5000,70,30000,17000,50515573-1

In [ ]:
hhpdft_2017 = pd.merge(hhpdf_2017, numtrps, on="houseidpersonid")
hhpdft_2017

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,houseidpersonid,trips
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,T,50,1500,750,750,20,750,300,30000007-1,6
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,T,50,1500,750,750,20,750,300,30000007-2,6
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,T,50,1500,750,750,20,750,300,30000007-3,6
3,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,R,5,300,300,150,5,300,300,30000008-1,2
4,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,R,5,300,300,150,5,300,300,30000008-2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227483,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-3,11
227484,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-4,11
227485,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-5,11
227486,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-6,11
227487,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,R,20,50,50,25,20,300,50,40794301-7,11

In [ ]:
hhpdft_2017.CNTTDTR.value_counts()

2     56540
4     38468
3     29530
5     23482
0     22743
6     19187
7     12183
8      8167
9      5251
1      4804
10     3049
11     1649
12      986
13      556
14      343
15      178
16      144
17       76
18       46
19       27
20       22
21       17
23        8
26        5
27        5
25        4
22        4
24        3
29        2
39        2
28        1
31        1
47        1
50        1
43        1
33        1
32        1
Name: CNTTDTR, dtype: int64

In [ ]:
hhpdft_2017_hhveh.TRPTRANS.value_counts()

3     873202
4     578130
6     256017
5     187768
1       4659
8       4430
10      1319
9       1308
2        644
7        403
11       259
97       225
16       162
13       130
18       109
19        98
17        79
20        67
15        39
12        16
14         5
Name: TRPTRANS, dtype: int64

In [ ]:
 hhpdf_2017['SAMEPLC']

0         -1
1         -1
2         -1
3         -1
4         10
          ..
264229     8
264230    97
264231    -1
264232     8
264233    -1
Name: SAMEPLC, Length: 264234, dtype: int64

In [ ]:
tripdf_2017

,Unnamed: 0,HOUSEID,TRPTRANS,WTTRDFIN,WHYTRP90,TRPMILAD,PERSONID,TRPHHVEH
0,0,30000007,3,75441.90580,5,5.847584,1,1
1,1,30000007,3,75441.90580,5,5.741650,1,1
2,2,30000007,6,71932.64581,1,90.178294,2,1
3,3,30000007,6,71932.64581,1,87.627658,2,1
4,4,30000007,3,80122.68674,5,2.508975,3,1
...,...,...,...,...,...,...,...,...
923567,923567,50515573,1,223357.45740,1,1.168000,1,2
923568,923568,50515573,1,223357.45740,10,0.238000,1,2
923569,923569,50515573,1,223357.45740,10,0.238000,1,2
923570,923570,50515573,1,223357.45740,4,0.867000,1,2
923571,923571,50515573,1,223357.45740,1,0.325000,1,2

In [ ]:
hhpdft_2017 = hhpdf_2017
hhpdft_2017

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,SMPLSRCE,WTPERFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,2,206.690153,T,50,1500,750,750,20,750,300
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,2,197.075742,T,50,1500,750,750,20,750,300
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,2,219.514210,T,50,1500,750,750,20,750,300
3,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,2,63.185911,R,5,300,300,150,5,300,300
4,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,2,58.665911,R,5,300,300,150,5,300,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,2,213.514657,R,20,50,50,25,20,300,50
264230,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,2,133.448420,R,20,50,50,25,20,300,50
264231,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,2,133.448420,R,20,50,50,25,20,300,50
264232,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,2,133.448420,R,20,50,50,25,20,300,50
264233,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,1,611.938240,U,70,30000,30000,5000,70,30000,17000

In [ ]:
####take sample out for descriptives

In [ ]:
hhpdft_2017_ext = hhpdft_2017[['CRES/No-CRES','']]

In [ ]:
#hhpdft_2017 = pd.merge(hhpdf_2017, tripdf_2017,on='HOUSEID',how='outer')
#hhpdft_2017.dropna()

NameError: ignored

In [ ]:
#hhpdft_2017['trppurp'] = hhpdft_2017.apply (lambda hhpdft_2017: trp_90(hhpdft_2017), axis=1)

In [ ]:
hhpdft_2017 = hhpdft_2017[['HHSIZE','HHVEHCNT','DRVRCNT','WRKCOUNT','HBHUR','HEALTH','CRES/No-CRES','LIF_CYC','CNTTDTR','CNTTDHH','WTPERFIN','DRIVER','WORKER','WRK_HOME','HBPPOPDN','CONDTRAV','DELIVER','EDUC','R_AGE','R_SEX','R_RACE','HTEEMPDN','HBRESDN','RAIL','SAMEPLC','NUMADLT','MEDCOND','HHSTATE','CENSUS_R']]
hhpdft_2017

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,R_SEX,R_RACE,HTEEMPDN,HBRESDN,RAIL,SAMEPLC,NUMADLT,MEDCOND,HHSTATE,CENSUS_R
0,3,5,3,1,T,2,Other,10,2,6.0,...,2,2,750,300,2,-1,3,2,NC,3
1,3,5,3,1,T,2,Other,10,2,6.0,...,1,2,750,300,2,-1,3,2,NC,3
2,3,5,3,1,T,2,Other,10,2,6.0,...,2,2,750,300,2,-1,3,2,NC,3
3,2,4,2,2,R,2,Other,2,2,2.0,...,1,1,150,300,2,-1,2,2,WI,2
4,2,4,2,2,R,2,Other,2,0,2.0,...,2,1,150,300,2,10,2,2,WI,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,2,1,25,50,2,8,4,2,NC,3
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,2,1,25,50,2,97,4,2,NC,3
264231,7,5,4,1,R,2,CRES,6,2,11.0,...,2,1,25,50,2,-1,4,2,NC,3
264232,7,5,4,1,R,1,CRES,6,0,11.0,...,2,1,25,50,2,8,4,2,NC,3
264233,1,0,1,1,U,1,Other,1,5,5.0,...,1,1,5000,17000,1,-1,1,2,DC,3

In [ ]:
def area (hhpdft_2017):
 if hhpdft_2017['HBHUR']=='T':
   return '1'#rural
 if hhpdft_2017['HBHUR']=='R':
   return '1' # rural
 if hhpdft_2017['HBHUR']=='S':
   return '2' # suburban
 if hhpdft_2017['HBHUR']=='C':
   return '2'  #suburban
 if hhpdft_2017['HBHUR']=='U':
   return '3'

In [ ]:
hhpdft_2017['area'] = hhpdft_2017.apply (lambda hhpdft_2017: area(hhpdft_2017), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
pd.to_numeric(hhpdft_2017['LIF_CYC'])

0         10
1         10
2         10
3          2
4          2
          ..
264229     6
264230     6
264231     6
264232     6
264233     1
Name: LIF_CYC, Length: 264234, dtype: int64

In [ ]:
###tofindpresenceofchildreninHHS
def lifecycle (hhpdft_2017):
 if hhpdft_2017['LIF_CYC']== 1:
   return "Single" #single
 if hhpdft_2017['LIF_CYC']== 2:
   return "2+ adults 0 children"  #2+aduults zero children
 if hhpdft_2017['LIF_CYC']== 9:
   return "Retired 0 children"
 if hhpdft_2017['LIF_CYC']==10:
   return "Retired 0 children"  #urban
 if hhpdft_2017['LIF_CYC']== 3:
   return "Single parent"
   # 1= children
 if hhpdft_2017['LIF_CYC']== 4:
   return "2+ adults with children"
 if hhpdft_2017['LIF_CYC']== 5:
   return "Single parent"
 if hhpdft_2017['LIF_CYC']== 6:
   return "2+ adults with children"
 if hhpdft_2017['LIF_CYC']== 7:
   return "Single parent"
 if hhpdft_2017['LIF_CYC']== 8:
   return "2+ adults with children"

In [ ]:
hhpdft_2017['lifecycle'] = hhpdft_2017.apply (lambda hhpdft_2017: lifecycle(hhpdft_2017), axis=1)
hhpdft_2017.dropna()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,HTEEMPDN,HBRESDN,RAIL,SAMEPLC,NUMADLT,MEDCOND,HHSTATE,CENSUS_R,area,lifecycle
0,3,5,3,1,T,2,Other,10,2,6.0,...,750,300,2,-1,3,2,NC,3,1,Retired 0 children
1,3,5,3,1,T,2,Other,10,2,6.0,...,750,300,2,-1,3,2,NC,3,1,Retired 0 children
2,3,5,3,1,T,2,Other,10,2,6.0,...,750,300,2,-1,3,2,NC,3,1,Retired 0 children
3,2,4,2,2,R,2,Other,2,2,2.0,...,150,300,2,-1,2,2,WI,2,1,2+ adults 0 children
4,2,4,2,2,R,2,Other,2,0,2.0,...,150,300,2,10,2,2,WI,2,1,2+ adults 0 children
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,25,50,2,8,4,2,NC,3,1,2+ adults with children
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,25,50,2,97,4,2,NC,3,1,2+ adults with children
264231,7,5,4,1,R,2,CRES,6,2,11.0,...,25,50,2,-1,4,2,NC,3,1,2+ adults with children
264232,7,5,4,1,R,1,CRES,6,0,11.0,...,25,50,2,8,4,2,NC,3,1,2+ adults with children
264233,1,0,1,1,U,1,Other,1,5,5.0,...,5000,17000,1,-1,1,2,DC,3,3,Single

In [ ]:
def child(hhpdft_2017):
 if hhpdft_2017['LIF_CYC']== 1:
   return 0
 if hhpdft_2017['LIF_CYC']== 2:
   return 0
 if hhpdft_2017['LIF_CYC']== 9:
   return 0
 if hhpdft_2017['LIF_CYC']==10:
   return 0  #urban
 if hhpdft_2017['LIF_CYC']== 3:
   return 1
   # 1= children
 if hhpdft_2017['LIF_CYC']== 4:
   return 1
 if hhpdft_2017['LIF_CYC']== 5:
   return 1
 if hhpdft_2017['LIF_CYC']== 6:
   return 1
 if hhpdft_2017['LIF_CYC']== 7:
   return 1
 if hhpdft_2017['LIF_CYC']== 8:
   return 1

In [ ]:
hhpdft_2017['child'] = hhpdft_2017.apply (lambda hhpdft_2017: child(hhpdft_2017), axis=1)
hhpdft_2017.dropna()

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,HBRESDN,RAIL,SAMEPLC,NUMADLT,MEDCOND,HHSTATE,CENSUS_R,area,lifecycle,child
0,3,5,3,1,T,2,Other,10,2,6.0,...,300,2,-1,3,2,NC,3,1,Retired 0 children,0.0
1,3,5,3,1,T,2,Other,10,2,6.0,...,300,2,-1,3,2,NC,3,1,Retired 0 children,0.0
2,3,5,3,1,T,2,Other,10,2,6.0,...,300,2,-1,3,2,NC,3,1,Retired 0 children,0.0
3,2,4,2,2,R,2,Other,2,2,2.0,...,300,2,-1,2,2,WI,2,1,2+ adults 0 children,0.0
4,2,4,2,2,R,2,Other,2,0,2.0,...,300,2,10,2,2,WI,2,1,2+ adults 0 children,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,50,2,8,4,2,NC,3,1,2+ adults with children,1.0
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,50,2,97,4,2,NC,3,1,2+ adults with children,1.0
264231,7,5,4,1,R,2,CRES,6,2,11.0,...,50,2,-1,4,2,NC,3,1,2+ adults with children,1.0
264232,7,5,4,1,R,1,CRES,6,0,11.0,...,50,2,8,4,2,NC,3,1,2+ adults with children,1.0
264233,1,0,1,1,U,1,Other,1,5,5.0,...,17000,1,-1,1,2,DC,3,3,Single,0.0

category

In [ ]:
def CategoryCRES (hhpdft_2017):
 if hhpdft_2017['CRES/No-CRES']== 'Carless':
   return 1
 if hhpdft_2017['CRES/No-CRES']== 'CRES':
   return 2
 if hhpdft_2017['CRES/No-CRES']== 'Other':
   return 3

In [ ]:
hhpdft_2017['CategoryCRES'] = hhpdft_2017.apply (lambda hhpdft_2017: CategoryCRES(hhpdft_2017), axis=1)
hhpdft_2017.dropna()

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,RAIL,SAMEPLC,NUMADLT,MEDCOND,HHSTATE,CENSUS_R,area,lifecycle,child,CategoryCRES
0,3,5,3,1,T,2,Other,10,2,6.0,...,2,-1,3,2,NC,3,1,Retired 0 children,0.0,3.0
1,3,5,3,1,T,2,Other,10,2,6.0,...,2,-1,3,2,NC,3,1,Retired 0 children,0.0,3.0
2,3,5,3,1,T,2,Other,10,2,6.0,...,2,-1,3,2,NC,3,1,Retired 0 children,0.0,3.0
3,2,4,2,2,R,2,Other,2,2,2.0,...,2,-1,2,2,WI,2,1,2+ adults 0 children,0.0,3.0
4,2,4,2,2,R,2,Other,2,0,2.0,...,2,10,2,2,WI,2,1,2+ adults 0 children,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,2,8,4,2,NC,3,1,2+ adults with children,1.0,2.0
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,2,97,4,2,NC,3,1,2+ adults with children,1.0,2.0
264231,7,5,4,1,R,2,CRES,6,2,11.0,...,2,-1,4,2,NC,3,1,2+ adults with children,1.0,2.0
264232,7,5,4,1,R,1,CRES,6,0,11.0,...,2,8,4,2,NC,3,1,2+ adults with children,1.0,2.0
264233,1,0,1,1,U,1,Other,1,5,5.0,...,1,-1,1,2,DC,3,3,Single,0.0,3.0

In [ ]:
#hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['CNTTDTR']!=0].index, inplace = True)

In [ ]:
pd.to_numeric(hhpdft_2017['CategoryCRES'])

0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
264229    2.0
264230    2.0
264231    2.0
264232    2.0
264233    3.0
Name: CategoryCRES, Length: 264234, dtype: float64

Education

In [ ]:
pd.to_numeric(hhpdft_2017['EDUC'])

0         3
1         3
2         2
3         5
4         4
         ..
264229    2
264230    1
264231   -1
264232   -1
264233    5
Name: EDUC, Length: 264234, dtype: int64

In [ ]:
def education (hhpdft_2017):
 if hhpdft_2017['EDUC']== 1:
   return 0
 if hhpdft_2017['EDUC']== 2:
   return 0
 if hhpdft_2017['EDUC']== 3:
   return 0
 if hhpdft_2017['EDUC']== 4:
   return 1
 if hhpdft_2017['EDUC']== 5:
   return 1
   # 1-less than bachelor degree
   #2- bachelor degree
   #3 - graduate degree

In [ ]:
hhpdft_2017['education'] = hhpdft_2017.apply (lambda hhpdft_2017: education(hhpdft_2017), axis=1)
hhpdft_2017.dropna()

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,SAMEPLC,NUMADLT,MEDCOND,HHSTATE,CENSUS_R,area,lifecycle,child,CategoryCRES,education
0,3,5,3,1,T,2,Other,10,2,6.0,...,-1,3,2,NC,3,1,Retired 0 children,0.0,3.0,0.0
1,3,5,3,1,T,2,Other,10,2,6.0,...,-1,3,2,NC,3,1,Retired 0 children,0.0,3.0,0.0
2,3,5,3,1,T,2,Other,10,2,6.0,...,-1,3,2,NC,3,1,Retired 0 children,0.0,3.0,0.0
3,2,4,2,2,R,2,Other,2,2,2.0,...,-1,2,2,WI,2,1,2+ adults 0 children,0.0,3.0,1.0
4,2,4,2,2,R,2,Other,2,0,2.0,...,10,2,2,WI,2,1,2+ adults 0 children,0.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264227,7,5,4,1,R,2,CRES,6,5,11.0,...,-1,4,2,NC,3,1,2+ adults with children,1.0,2.0,1.0
264228,7,5,4,1,R,3,CRES,6,4,11.0,...,-1,4,2,NC,3,1,2+ adults with children,1.0,2.0,0.0
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,8,4,2,NC,3,1,2+ adults with children,1.0,2.0,0.0
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,97,4,2,NC,3,1,2+ adults with children,1.0,2.0,0.0
264233,1,0,1,1,U,1,Other,1,5,5.0,...,-1,1,2,DC,3,3,Single,0.0,3.0,1.0

In [ ]:
def worker (hhpdft_2017):
 if hhpdft_2017['WORKER']== 1:
   return 1
 if hhpdft_2017['WORKER']== 2:
   return 0

In [ ]:
hhpdft_2017['worker'] = hhpdft_2017.apply (lambda hhpdft_2017: worker(hhpdft_2017), axis=1)
hhpdft_2017.dropna()

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,NUMADLT,MEDCOND,HHSTATE,CENSUS_R,area,lifecycle,child,CategoryCRES,education,worker
0,3,5,3,1,T,2,Other,10,2,6.0,...,3,2,NC,3,1,Retired 0 children,0.0,3.0,0.0,0.0
1,3,5,3,1,T,2,Other,10,2,6.0,...,3,2,NC,3,1,Retired 0 children,0.0,3.0,0.0,1.0
2,3,5,3,1,T,2,Other,10,2,6.0,...,3,2,NC,3,1,Retired 0 children,0.0,3.0,0.0,0.0
3,2,4,2,2,R,2,Other,2,2,2.0,...,2,2,WI,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0
4,2,4,2,2,R,2,Other,2,0,2.0,...,2,2,WI,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,7,5,4,1,R,2,CRES,6,0,11.0,...,4,2,NC,3,1,2+ adults with children,1.0,2.0,1.0,0.0
264227,7,5,4,1,R,2,CRES,6,5,11.0,...,4,2,NC,3,1,2+ adults with children,1.0,2.0,1.0,1.0
264228,7,5,4,1,R,3,CRES,6,4,11.0,...,4,2,NC,3,1,2+ adults with children,1.0,2.0,0.0,0.0
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,4,2,NC,3,1,2+ adults with children,1.0,2.0,0.0,0.0
264233,1,0,1,1,U,1,Other,1,5,5.0,...,1,2,DC,3,3,Single,0.0,3.0,1.0,1.0

In [ ]:
def medicalcondition (hhpdft_2017):
 if hhpdft_2017['MEDCOND']== 1:
   return 1
 if hhpdft_2017['MEDCOND']== 2:
   return 0

In [ ]:
hhpdft_2017['medicalcondition'] = hhpdft_2017.apply (lambda hhpdft_2017: medicalcondition(hhpdft_2017), axis=1)
hhpdft_2017.dropna()

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,MEDCOND,HHSTATE,CENSUS_R,area,lifecycle,child,CategoryCRES,education,worker,medicalcondition
0,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,1,Retired 0 children,0.0,3.0,0.0,0.0,0.0
1,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,1,Retired 0 children,0.0,3.0,0.0,1.0,0.0
2,3,5,3,1,T,2,Other,10,2,6.0,...,2,NC,3,1,Retired 0 children,0.0,3.0,0.0,0.0,0.0
3,2,4,2,2,R,2,Other,2,2,2.0,...,2,WI,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0,0.0
4,2,4,2,2,R,2,Other,2,0,2.0,...,2,WI,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,7,5,4,1,R,2,CRES,6,0,11.0,...,2,NC,3,1,2+ adults with children,1.0,2.0,1.0,0.0,0.0
264227,7,5,4,1,R,2,CRES,6,5,11.0,...,2,NC,3,1,2+ adults with children,1.0,2.0,1.0,1.0,0.0
264228,7,5,4,1,R,3,CRES,6,4,11.0,...,2,NC,3,1,2+ adults with children,1.0,2.0,0.0,0.0,0.0
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,2,NC,3,1,2+ adults with children,1.0,2.0,0.0,0.0,0.0
264233,1,0,1,1,U,1,Other,1,5,5.0,...,2,DC,3,3,Single,0.0,3.0,1.0,1.0,0.0

In [ ]:
def driver(hhpdft_2017):
 if hhpdft_2017['DRIVER']== 1:
   return 1
 if hhpdft_2017['DRIVER']== 2:
   return 0

In [ ]:
hhpdft_2017['driver'] = hhpdft_2017.apply (lambda hhpdft_2017: driver(hhpdft_2017), axis=1)
hhpdft_2017.dropna()

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,HHSTATE,CENSUS_R,area,lifecycle,child,CategoryCRES,education,worker,medicalcondition,driver
0,3,5,3,1,T,2,Other,10,2,6.0,...,NC,3,1,Retired 0 children,0.0,3.0,0.0,0.0,0.0,1.0
1,3,5,3,1,T,2,Other,10,2,6.0,...,NC,3,1,Retired 0 children,0.0,3.0,0.0,1.0,0.0,1.0
2,3,5,3,1,T,2,Other,10,2,6.0,...,NC,3,1,Retired 0 children,0.0,3.0,0.0,0.0,0.0,1.0
3,2,4,2,2,R,2,Other,2,2,2.0,...,WI,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0,0.0,1.0
4,2,4,2,2,R,2,Other,2,0,2.0,...,WI,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,7,5,4,1,R,2,CRES,6,0,11.0,...,NC,3,1,2+ adults with children,1.0,2.0,1.0,0.0,0.0,1.0
264227,7,5,4,1,R,2,CRES,6,5,11.0,...,NC,3,1,2+ adults with children,1.0,2.0,1.0,1.0,0.0,1.0
264228,7,5,4,1,R,3,CRES,6,4,11.0,...,NC,3,1,2+ adults with children,1.0,2.0,0.0,0.0,0.0,1.0
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,NC,3,1,2+ adults with children,1.0,2.0,0.0,0.0,0.0,1.0
264233,1,0,1,1,U,1,Other,1,5,5.0,...,DC,3,3,Single,0.0,3.0,1.0,1.0,0.0,1.0

In [ ]:
hhpdft_2017

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,HHSTATE,CENSUS_R,area,lifecycle,child,CategoryCRES,education,worker,medicalcondition,driver
0,3,5,3,1,T,2,Other,10,2,6.0,...,NC,3,1,Retired 0 children,0.0,3.0,0.0,0.0,0.0,1.0
1,3,5,3,1,T,2,Other,10,2,6.0,...,NC,3,1,Retired 0 children,0.0,3.0,0.0,1.0,0.0,1.0
2,3,5,3,1,T,2,Other,10,2,6.0,...,NC,3,1,Retired 0 children,0.0,3.0,0.0,0.0,0.0,1.0
3,2,4,2,2,R,2,Other,2,2,2.0,...,WI,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0,0.0,1.0
4,2,4,2,2,R,2,Other,2,0,2.0,...,WI,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,NC,3,1,2+ adults with children,1.0,2.0,0.0,0.0,0.0,1.0
264230,7,5,4,1,R,2,CRES,6,0,11.0,...,NC,3,1,2+ adults with children,1.0,2.0,0.0,NaN,0.0,NaN
264231,7,5,4,1,R,2,CRES,6,2,11.0,...,NC,3,1,2+ adults with children,1.0,2.0,NaN,NaN,0.0,NaN
264232,7,5,4,1,R,1,CRES,6,0,11.0,...,NC,3,1,2+ adults with children,1.0,2.0,NaN,NaN,0.0,NaN
264233,1,0,1,1,U,1,Other,1,5,5.0,...,DC,3,3,Single,0.0,3.0,1.0,1.0,0.0,1.0

In [ ]:
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['R_AGE']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['R_AGE']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['R_AGE']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['R_AGE']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['R_AGE']==-1].index, inplace = True)

In [ ]:
'''hhpdft_2017_ext = hhpdft_2017[['CRES/No-CRES','area','medicalcondition','R_AGE','driver','education','worker','WTPERFIN', 'R_SEX']]
hhpdft_2017_ext

,CRES/No-CRES,area,medicalcondition,R_AGE,driver,education,worker,WTPERFIN,R_SEX
0,Other,1,0.0,67,1.0,1.0,0.0,206.690153,2
1,Other,1,0.0,66,1.0,1.0,1.0,197.075742,1
2,Other,1,0.0,28,1.0,1.0,0.0,219.514210,2
3,Other,1,0.0,55,1.0,3.0,1.0,63.185911,1
4,Other,1,0.0,49,1.0,2.0,1.0,58.665911,2
...,...,...,...,...,...,...,...,...,...
264229,CRES,1,0.0,18,1.0,1.0,0.0,213.514657,2
264230,CRES,1,0.0,14,NaN,1.0,NaN,133.448420,2
264231,CRES,1,0.0,12,NaN,NaN,NaN,133.448420,2
264232,CRES,1,0.0,8,NaN,NaN,NaN,133.448420,2
264233,Other,3,0.0,52,1.0,3.0,1.0,611.938240,1

In [ ]:
#secondpapersociodemographictable

In [ ]:
#hhpdft_2017_ext.to_csv('/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/secondpapersociodemographictable/2017content.csv')

In [ ]:
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['NUMADLT']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['NUMADLT']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['NUMADLT']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['NUMADLT']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['NUMADLT']==-1].index, inplace = True)

In [ ]:
'''hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHSIZE']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHSIZE']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHSIZE']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHSIZE']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHSIZE']==-1].index, inplace = True)

In [ ]:
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHVEHCNT']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHVEHCNT']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHVEHCNT']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHVEHCNT']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHVEHCNT']==-1].index, inplace = True)

In [ ]:
'''hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WRKCOUNT']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WRKCOUNT']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WRKCOUNT']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WRKCOUNT']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WRKCOUNT']==-1].index, inplace = True)

In [ ]:
'''hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HBPPOPDN']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HBPPOPDN']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HBPPOPDN']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HBPPOPDN']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HBPPOPDN']==-1].index, inplace = True)

In [ ]:
pd.to_numeric(hhpdft_2017['HEALTH'])

0         2
1         2
2         2
3         2
4         2
         ..
264229    1
264230    2
264231    2
264232    1
264233    1
Name: HEALTH, Length: 263738, dtype: int64

In [ ]:
'''hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HEALTH']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HEALTH']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HEALTH']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HEALTH']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HEALTH']==-1].index, inplace = True)

In [ ]:
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WORKER']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WORKER']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WORKER']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WORKER']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['WORKER']==-1].index, inplace = True)

In [ ]:
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['DRIVER']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['DRIVER']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['DRIVER']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['DRIVER']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['DRIVER']==-1].index, inplace = True)

In [ ]:
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['MEDCOND']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['MEDCOND']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['MEDCOND']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['MEDCOND']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['MEDCOND']==-1].index, inplace = True)

In [ ]:
'''hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['CONDTRAV']==-9].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['CONDTRAV']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['CONDTRAV']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['CONDTRAV']==97].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['CONDTRAV']==-1].index, inplace = True)

In [ ]:
max(hhpdft_2017['CNTTDTR'])

50

In [ ]:
def rail(hhpdft_2017):
 if hhpdft_2017['RAIL']== 1:
   return 1
 if hhpdft_2017['RAIL']== 2:
   return 0

In [ ]:
hhpdft_2017['rail'] = hhpdft_2017.apply (lambda hhpdft_2017: rail(hhpdft_2017), axis=1)
hhpdft_2017.dropna()

,HHSIZE,HHVEHCNT,DRVRCNT,WRKCOUNT,HBHUR,HEALTH,CRES/No-CRES,LIF_CYC,CNTTDTR,CNTTDHH,...,CENSUS_R,area,lifecycle,child,CategoryCRES,education,worker,medicalcondition,driver,rail
0,3,5,3,1,T,2,Other,10,2,6.0,...,3,1,Retired 0 children,0.0,3.0,0.0,0.0,0.0,1.0,0
1,3,5,3,1,T,2,Other,10,2,6.0,...,3,1,Retired 0 children,0.0,3.0,0.0,1.0,0.0,1.0,0
2,3,5,3,1,T,2,Other,10,2,6.0,...,3,1,Retired 0 children,0.0,3.0,0.0,0.0,0.0,1.0,0
3,2,4,2,2,R,2,Other,2,2,2.0,...,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0,0.0,1.0,0
4,2,4,2,2,R,2,Other,2,0,2.0,...,2,1,2+ adults 0 children,0.0,3.0,1.0,1.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,7,5,4,1,R,2,CRES,6,0,11.0,...,3,1,2+ adults with children,1.0,2.0,1.0,0.0,0.0,1.0,0
264227,7,5,4,1,R,2,CRES,6,5,11.0,...,3,1,2+ adults with children,1.0,2.0,1.0,1.0,0.0,1.0,0
264228,7,5,4,1,R,3,CRES,6,4,11.0,...,3,1,2+ adults with children,1.0,2.0,0.0,0.0,0.0,1.0,0
264229,7,5,4,1,R,1,CRES,6,0,11.0,...,3,1,2+ adults with children,1.0,2.0,0.0,0.0,0.0,1.0,0
264233,1,0,1,1,U,1,Other,1,5,5.0,...,3,3,Single,0.0,3.0,1.0,1.0,0.0,1.0,1

In [ ]:
hhpdft_2017['mode']

KeyError: ignored

take

In [ ]:
take = hhpdft_2017[['worker','area','R_AGE','R_SEX','driver','WRK_HOME','education','CNTTDTR','CategoryCRES','HHVEHCNT','rail','NUMADLT','medicalcondition','HHSTATE','CENSUS_R','lifecycle','child']]
take.dropna()

,worker,area,R_AGE,R_SEX,driver,WRK_HOME,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,lifecycle,child
0,0.0,1,67,2,1.0,-1,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0
1,1.0,1,66,1,1.0,2,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0
2,0.0,1,28,2,1.0,-1,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0
3,1.0,1,55,1,1.0,2,1.0,2,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0
4,1.0,1,49,2,1.0,2,1.0,0,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,50,2,1.0,-1,1.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0
264227,1.0,1,59,1,1.0,2,1.0,5,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0
264228,0.0,1,22,2,1.0,-1,0.0,4,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0
264229,0.0,1,18,2,1.0,-1,0.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0
264233,1.0,3,52,1,1.0,2,1.0,5,3.0,0,1,1,0.0,DC,3,Single,0.0

In [ ]:
take.CENSUS_R.value_counts()

3    102310
4     60193
1     37681
2     35605
Name: CENSUS_R, dtype: int64

In [ ]:
take['vehperadlt'] = take['HHVEHCNT']/take['NUMADLT']
take

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,worker,area,R_AGE,R_SEX,driver,WRK_HOME,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,lifecycle,child,vehperadlt
0,0.0,1,67,2,1.0,-1,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667
1,1.0,1,66,1,1.0,2,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667
2,0.0,1,28,2,1.0,-1,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667
3,1.0,1,55,1,1.0,2,1.0,2,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,2.000000
4,1.0,1,49,2,1.0,2,1.0,0,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,50,2,1.0,-1,1.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000
264227,1.0,1,59,1,1.0,2,1.0,5,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000
264228,0.0,1,22,2,1.0,-1,0.0,4,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000
264229,0.0,1,18,2,1.0,-1,0.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000
264233,1.0,3,52,1,1.0,2,1.0,5,3.0,0,1,1,0.0,DC,3,Single,0.0,0.000000

In [ ]:
take['year'] = 2017
take

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,worker,area,R_AGE,R_SEX,driver,WRK_HOME,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,lifecycle,child,vehperadlt,year
0,0.0,1,67,2,1.0,-1,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
1,1.0,1,66,1,1.0,2,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
2,0.0,1,28,2,1.0,-1,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
3,1.0,1,55,1,1.0,2,1.0,2,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,2.000000,2017
4,1.0,1,49,2,1.0,2,1.0,0,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,2.000000,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,50,2,1.0,-1,1.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264227,1.0,1,59,1,1.0,2,1.0,5,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264228,0.0,1,22,2,1.0,-1,0.0,4,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264229,0.0,1,18,2,1.0,-1,0.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264233,1.0,3,52,1,1.0,2,1.0,5,3.0,0,1,1,0.0,DC,3,Single,0.0,0.000000,2017

In [ ]:
take = take.dropna()
take

,worker,area,R_AGE,R_SEX,driver,WRK_HOME,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,lifecycle,child,vehperadlt,year
0,0.0,1,67,2,1.0,-1,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
1,1.0,1,66,1,1.0,2,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
2,0.0,1,28,2,1.0,-1,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
3,1.0,1,55,1,1.0,2,1.0,2,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,2.000000,2017
4,1.0,1,49,2,1.0,2,1.0,0,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,2.000000,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,50,2,1.0,-1,1.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264227,1.0,1,59,1,1.0,2,1.0,5,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264228,0.0,1,22,2,1.0,-1,0.0,4,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264229,0.0,1,18,2,1.0,-1,0.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264233,1.0,3,52,1,1.0,2,1.0,5,3.0,0,1,1,0.0,DC,3,Single,0.0,0.000000,2017

In [ ]:
take = take.drop(['WRK_HOME'], axis=1)
take

,worker,area,R_AGE,R_SEX,driver,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,medicalcondition,HHSTATE,CENSUS_R,lifecycle,child,vehperadlt,year
0,0.0,1,67,2,1.0,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
1,1.0,1,66,1,1.0,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
2,0.0,1,28,2,1.0,0.0,2,3.0,5,0,3,0.0,NC,3,Retired 0 children,0.0,1.666667,2017
3,1.0,1,55,1,1.0,1.0,2,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,2.000000,2017
4,1.0,1,49,2,1.0,1.0,0,3.0,4,0,2,0.0,WI,2,2+ adults 0 children,0.0,2.000000,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,50,2,1.0,1.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264227,1.0,1,59,1,1.0,1.0,5,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264228,0.0,1,22,2,1.0,0.0,4,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264229,0.0,1,18,2,1.0,0.0,0,2.0,5,0,4,0.0,NC,3,2+ adults with children,1.0,1.250000,2017
264233,1.0,3,52,1,1.0,1.0,5,3.0,0,1,1,0.0,DC,3,Single,0.0,0.000000,2017

In [ ]:
'''take['vehperadlt'] = take['HHVEHCNT']/take['NUMADLT']
take

,worker,area,children,R_AGE,R_SEX,driver,WRK_HOME,education,CNTTDTR,CategoryCRES,HHVEHCNT,rail,NUMADLT,vehperadlt
0,0.0,1,5.0,67,2,1.0,-1,1.0,2,3.0,5,0,3,1.666667
1,1.0,1,5.0,66,1,1.0,2,1.0,2,3.0,5,0,3,1.666667
2,0.0,1,5.0,28,2,1.0,-1,1.0,2,3.0,5,0,3,1.666667
3,1.0,1,2.0,55,1,1.0,2,3.0,2,3.0,4,0,2,2.000000
4,1.0,1,2.0,49,2,1.0,2,2.0,0,3.0,4,0,2,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264226,0.0,1,3.0,50,2,1.0,-1,2.0,0,2.0,5,0,4,1.250000
264227,1.0,1,3.0,59,1,1.0,2,2.0,5,2.0,5,0,4,1.250000
264228,0.0,1,3.0,22,2,1.0,-1,1.0,4,2.0,5,0,4,1.250000
264229,0.0,1,3.0,18,2,1.0,-1,1.0,0,2.0,5,0,4,1.250000
264233,1.0,3,1.0,52,1,1.0,2,3.0,5,3.0,0,1,1,0.000000

In [ ]:
take.to_csv('/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/newcountdatamodelcorrected/formodel2017corrected.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
formodel = pd.read_csv('/content/formodelfortrplengthcar.csv')
formodel

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[197240 rows x 29 columns]

In [ ]:
#formodel = formodel[formodel['TRPMILAD'] <= 75]

In [ ]:
#formodel = formodel[formodel['CNTTDTR'] <= 18]

In [ ]:
max(formodel.CNTTDTR)

18

In [ ]:
formodel.dropna

<bound method DataFrame.dropna of         Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[188142 rows x 29 columns]>

In [ ]:
formodel.isnull().values.any()

True

In [ ]:
formodel.isnull().sum().sum()

In [ ]:
formodel.dropna(axis=0, how="any", thresh=None, subset=None, inplace=False)

In [ ]:
formodel.isnull().values.any()

True

In [ ]:

formodel.isnull().values.any()

In [ ]:
formodel.drop(formodel[formodel['TRPTRANS']==-9].index, inplace = True)
formodel.drop(formodel[formodel['TRPTRANS']==-8].index, inplace = True)
formodel.drop(formodel[formodel['TRPTRANS']==-7].index, inplace = True)
formodel.drop(formodel[formodel['TRPTRANS']==-1].index, inplace = True)
formodel.drop(formodel[formodel['TRPTRANS']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[178723 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['area']==-9].index, inplace = True)
formodel.drop(formodel[formodel['area']==-8].index, inplace = True)
formodel.drop(formodel[formodel['area']==-7].index, inplace = True)
formodel.drop(formodel[formodel['area']==-1].index, inplace = True)
formodel.drop(formodel[formodel['area']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[178723 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['children']==-9].index, inplace = True)
formodel.drop(formodel[formodel['children']==-8].index, inplace = True)
formodel.drop(formodel[formodel['children']==-7].index, inplace = True)
formodel.drop(formodel[formodel['children']==-1].index, inplace = True)
formodel.drop(formodel[formodel['children']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[178723 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['R_AGE']==-9].index, inplace = True)
formodel.drop(formodel[formodel['R_AGE']==-8].index, inplace = True)
formodel.drop(formodel[formodel['R_AGE']==-7].index, inplace = True)
formodel.drop(formodel[formodel['R_AGE']==-1].index, inplace = True)
formodel.drop(formodel[formodel['R_AGE']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[178723 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['R_SEX']==-9].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-8].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-7].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-1].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[178677 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['driver']==-9].index, inplace = True)
formodel.drop(formodel[formodel['driver']==-8].index, inplace = True)
formodel.drop(formodel[formodel['driver']==-7].index, inplace = True)
formodel.drop(formodel[formodel['driver']==-1].index, inplace = True)
formodel.drop(formodel[formodel['driver']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[178677 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['WORKER']==-9].index, inplace = True)
formodel.drop(formodel[formodel['WORKER']==-8].index, inplace = True)
formodel.drop(formodel[formodel['WORKER']==-7].index, inplace = True)
formodel.drop(formodel[formodel['WORKER']==-1].index, inplace = True)
formodel.drop(formodel[formodel['WORKER']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197235     2341454       3.0   1.742901  ...     0       150       -1
197236     2341455       3.0  24.245619  ...     0        25       -1
197237     2341456       3.0  24.122958  ...     0        25       -1
197238     2341457       3.0  24.037096  ...     0        25       -1
197239     2341458       3.0  23.569869  ...     0        25       -1

[178677 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['WRK_HOME']==-9].index, inplace = True)
formodel.drop(formodel[formodel['WRK_HOME']==-8].index, inplace = True)
formodel.drop(formodel[formodel['WRK_HOME']==-7].index, inplace = True)
formodel.drop(formodel[formodel['WRK_HOME']==-1].index, inplace = True)
formodel.drop(formodel[formodel['WRK_HOME']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21431 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['education']==-9].index, inplace = True)
formodel.drop(formodel[formodel['education']==-8].index, inplace = True)
formodel.drop(formodel[formodel['education']==-7].index, inplace = True)
formodel.drop(formodel[formodel['education']==-1].index, inplace = True)
formodel.drop(formodel[formodel['education']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21431 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['HEALTH']==-9].index, inplace = True)
formodel.drop(formodel[formodel['HEALTH']==-8].index, inplace = True)
formodel.drop(formodel[formodel['HEALTH']==-7].index, inplace = True)
formodel.drop(formodel[formodel['HEALTH']==-1].index, inplace = True)
formodel.drop(formodel[formodel['HEALTH']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21431 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['DELIVER']==-9].index, inplace = True)
formodel.drop(formodel[formodel['DELIVER']==-8].index, inplace = True)
formodel.drop(formodel[formodel['DELIVER']==-7].index, inplace = True)
formodel.drop(formodel[formodel['DELIVER']==-1].index, inplace = True)
formodel.drop(formodel[formodel['DELIVER']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21416 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['TRPMILAD']==-9].index, inplace = True)
formodel.drop(formodel[formodel['TRPMILAD']==-8].index, inplace = True)
formodel.drop(formodel[formodel['TRPMILAD']==-7].index, inplace = True)
formodel.drop(formodel[formodel['TRPMILAD']==-1].index, inplace = True)
formodel.drop(formodel[formodel['TRPMILAD']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21406 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['HBPPOPDN']==-9].index, inplace = True)
formodel.drop(formodel[formodel['HBPPOPDN']==-8].index, inplace = True)
formodel.drop(formodel[formodel['HBPPOPDN']==-7].index, inplace = True)
formodel.drop(formodel[formodel['HBPPOPDN']==-1].index, inplace = True)
formodel.drop(formodel[formodel['HBPPOPDN']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21406 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['WORKER']==-9].index, inplace = True)
formodel.drop(formodel[formodel['WORKER']==-8].index, inplace = True)
formodel.drop(formodel[formodel['WORKER']==-7].index, inplace = True)
formodel.drop(formodel[formodel['WORKER']==-1].index, inplace = True)
formodel.drop(formodel[formodel['WORKER']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21406 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['driver']==-9].index, inplace = True)
formodel.drop(formodel[formodel['driver']==-8].index, inplace = True)
formodel.drop(formodel[formodel['driver']==-7].index, inplace = True)
formodel.drop(formodel[formodel['driver']==-1].index, inplace = True)
formodel.drop(formodel[formodel['driver']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21406 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['CONDTRAV']==-9].index, inplace = True)
formodel.drop(formodel[formodel['CONDTRAV']==-8].index, inplace = True)
formodel.drop(formodel[formodel['CONDTRAV']==-7].index, inplace = True)
formodel.drop(formodel[formodel['CONDTRAV']==-1].index, inplace = True)
formodel.drop(formodel[formodel['CONDTRAV']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[21406 rows x 29 columns]

In [ ]:
formodel.drop(formodel[formodel['mode']==1].index, inplace = True)
formodel.drop(formodel[formodel['mode']==2].index, inplace = True)
formodel.drop(formodel[formodel['mode']==2].index, inplace = True)
formodel.drop(formodel[formodel['mode']==4].index, inplace = True)
formodel.drop(formodel[formodel['mode']==5].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
0               59       4.0  12.393558  ...     0      1500       -1
1               60       4.0  12.155705  ...     0      1500       -1
2               61       4.0   0.670937  ...     0      1500       -1
3               62       3.0   1.188697  ...     0      1500       -1
4               63       3.0   2.771024  ...     0      1500       -1
...            ...       ...        ...  ...   ...       ...      ...
197172     2340192       3.0   8.668787  ...     0        25       -1
197208     2340783       3.0   3.488875  ...     0      5000       -1
197209     2340784       3.0   3.485654  ...     0      5000       -1
197234     2341453       3.0   1.798656  ...     0       150       -1
197235     2341454       3.0   1.742901  ...     0       150       -1

[18331 rows x 29 columns]

In [ ]:
formodel.dropna(how="any")

In [ ]:
list(formodel['mode'])

[3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 ...]

In [ ]:
formodel

In [ ]:
formodel.isnull().values.any()

In [ ]:
formodel.to_csv('formodelfortrplength3.csv')

In [ ]:
formodel.to_csv('/content/drive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/Dataformodelcorrectedcar.csv')

In [ ]:
formodel.drop(formodel[formodel['R_SEX']==-9].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-8].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-7].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-1].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==97].index, inplace = True)
formodel.dropna()

In [ ]:
formodel.drop(formodel[formodel['R_SEX']==-9].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-8].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-7].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==-1].index, inplace = True)
formodel.drop(formodel[formodel['R_SEX']==97].index, inplace = True)
formodel.dropna()

In [ ]:
formodel.drop(formodel[formodel['SAMEPLC']==-9].index, inplace = True)
formodel.drop(formodel[formodel['SAMEPLC']==-8].index, inplace = True)
formodel.drop(formodel[formodel['SAMEPLC']==-7].index, inplace = True)
formodel.drop(formodel[formodel['SAMEPLC']==-1].index, inplace = True)
formodel.drop(formodel[formodel['SAMEPLC']==97].index, inplace = True)
formodel.dropna()

        Unnamed: 0  TRPTRANS   TRPMILAD  ...  rail  HTEEMPDN  SAMEPLC
362           4856       4.0  19.359499  ...     1      1500        5
363           4857       4.0   0.080287  ...     1      1500        5
364           4858       4.0  19.504214  ...     1      1500        5
365           4859       4.0  20.109713  ...     1      1500        5
366           4860       4.0  36.457134  ...     1      1500        5
...            ...       ...        ...  ...   ...       ...      ...
196879     2337611       4.0   3.013000  ...     0      3000        1
196880     2337612       4.0  21.119994  ...     0      3000        1
196881     2337613       4.0  41.468339  ...     0      3000        1
197135     2339895       3.0   0.090174  ...     0       150        5
197136     2339896       3.0   0.093668  ...     0       150        5

[1009 rows x 29 columns]

In [ ]:
formodel['CNTTDTR']

362       0
363       0
364       0
365       0
366       0
         ..
196879    0
196880    0
196881    0
197135    0
197136    0
Name: CNTTDTR, Length: 1054, dtype: int64

In [ ]:
x_r_pmt = formodel.groupby(['CategoryCRES']).agg({'CNTTDTR':'sum'}).reset_index()
x_r_pmt

   CategoryCRES  CNTTDTR
0           1.0        0
1           2.0        0
2           3.0        0

In [ ]:
hhpdf_2017_urb = hhpdf_2017[hhpdf_2017['HBHUR'].isin(['U','C'])]
hhpdf_2017_urb

In [ ]:
hhpdf_2017_rur = hhpdf_2017[hhpdf_2017['HBHUR'] == 'R']
hhpdf_2017_rur

In [ ]:
hhpdf_2017_sub = hhpdf_2017[hhpdf_2017['HBHUR'] == 'S']
hhpdf_2017_sub

# Race

2017

Urban

In [ ]:
race_u = hhpdf_2017_urb[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_RACE']]

race_u['R_RACE'].astype(int)
filt = (race_u['R_RACE'] >=1) & (race_u['R_RACE'] < 97)
f_race = race_u[filt]
f_race['R_RACE'] = f_race.apply (lambda f_race: race_name(f_race),axis=1)
race1 = f_race.groupby(['CRES/No-CRES','R_RACE'])['WTPERFIN'].sum().rename('URBAN')
race1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CRES/No-CRES  R_RACE
CRES          American Indian or Alaska Native             4.063426e+05
              Asian                                        2.144498e+06
              Black or African American                    8.095355e+06
              Multiracial                                  1.884356e+06
              Native Hawaiian or other Pacific Islander    1.507283e+05
              White                                        1.771529e+07
Carless       American Indian or Alaska Native             1.384331e+05
              Asian                                        4.784859e+05
              Black or African American                    3.944569e+06
              Multiracial                                  5.507833e+05
              Native Hawaiian or other Pacific Islander    3.011555e+04
              White                                        3.110510e+06
Other         American Indian or Alaska Native             4.687917e+05
              Asian                                        5.814411e+06
              Black or African American                    7.818123e+06
              Multiracial                                  3.045026e+06
              Native Hawaiian or other Pacific Islander    2.921289e+05
              White                                        5.008913e+07
Name: URBAN, dtype: float64

In [ ]:
race2 = 100*(race1)/race1.groupby(level=0).sum()
race2

CRES/No-CRES  R_RACE
CRES          American Indian or Alaska Native              1.336804
              Asian                                         7.055067
              Black or African American                    26.632461
              Multiracial                                   6.199238
              Native Hawaiian or other Pacific Islander     0.495873
              White                                        58.280556
Carless       American Indian or Alaska Native              1.677388
              Asian                                         5.797793
              Black or African American                    47.796177
              Multiracial                                   6.673817
              Native Hawaiian or other Pacific Islander     0.364909
              White                                        37.689916
Other         American Indian or Alaska Native              0.694222
              Asian                                         8.610420
              Black or African American                    11.577669
              Multiracial                                   4.509305
              Native Hawaiian or other Pacific Islander     0.432607
              White                                        74.175777
Name: URBAN, dtype: float64

Rural

In [ ]:
race_r = hhpdf_2017_rur[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_RACE']]

race_r['R_RACE'].astype(int)
filt = (race_r['R_RACE'] >=1) & (race_r['R_RACE'] < 97)
f_race = race_r[filt]
f_race['R_RACE'] = f_race.apply (lambda f_race: race_name(f_race),axis=1)
race1 = f_race.groupby(['CRES/No-CRES','R_RACE'])['WTPERFIN'].sum().rename('RURAL')
race1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CRES/No-CRES  R_RACE
CRES          American Indian or Alaska Native             3.687728e+05
              Asian                                        7.362033e+04
              Black or African American                    1.699070e+06
              Multiracial                                  7.073480e+05
              Native Hawaiian or other Pacific Islander    4.502671e+04
              White                                        1.439138e+07
Carless       American Indian or Alaska Native             3.317725e+04
              Asian                                        2.859672e+02
              Black or African American                    3.187816e+05
              Multiracial                                  4.291452e+04
              White                                        1.065891e+06
Other         American Indian or Alaska Native             3.774519e+05
              Asian                                        2.845041e+05
              Black or African American                    1.354227e+06
              Multiracial                                  8.396576e+05
              Native Hawaiian or other Pacific Islander    3.758283e+04
              White                                        3.121428e+07
Name: RURAL, dtype: float64

In [ ]:
race2 = 100*(race1)/race1.groupby(level=0).sum()
race2

CRES/No-CRES  R_RACE
CRES          American Indian or Alaska Native              2.133458
              Asian                                         0.425915
              Black or African American                     9.829615
              Multiracial                                   4.092214
              Native Hawaiian or other Pacific Islander     0.260493
              White                                        83.258305
Carless       American Indian or Alaska Native              2.270780
              Asian                                         0.019573
              Black or African American                    21.818656
              Multiracial                                   2.937237
              White                                        72.953753
Other         American Indian or Alaska Native              1.106647
              Asian                                         0.834134
              Black or African American                     3.970444
              Multiracial                                   2.461783
              Native Hawaiian or other Pacific Islander     0.110189
              White                                        91.516803
Name: RURAL, dtype: float64

Suburban

In [ ]:
race_s = hhpdf_2017_sub[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_RACE']]
race_s['R_RACE'].astype(int)
filt = (race_s['R_RACE'] >=1) & (race_s['R_RACE'] < 97)
f_race = race_s[filt]
f_race['R_RACE'] = f_race.apply (lambda f_race: race_name(f_race),axis=1)
race1 = f_race.groupby(['CRES/No-CRES','R_RACE'])['WTPERFIN'].sum().rename('SUBURBAN')
race1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

CRES/No-CRES  R_RACE
CRES          American Indian or Alaska Native             1.047127e+05
              Asian                                        9.289098e+05
              Black or African American                    3.331914e+06
              Multiracial                                  5.461737e+05
              Native Hawaiian or other Pacific Islander    2.426042e+04
              White                                        8.329166e+06
Carless       American Indian or Alaska Native             4.770713e+04
              Asian                                        7.633811e+04
              Black or African American                    5.348739e+05
              Multiracial                                  4.670504e+04
              Native Hawaiian or other Pacific Islander    3.693004e+03
              White                                        7.146292e+05
Other         American Indian or Alaska Native             1.914908e+05
              Asian                                        4.026499e+06
              Black or African American                    4.929482e+06
              Multiracial                                  1.916624e+06
              Native Hawaiian or other Pacific Islander    1.282896e+05
              White                                        3.856427e+07
Name: SUBURBAN, dtype: float64

In [ ]:
race2 = 100*(race1)/race1.groupby(level=0).sum()
race2

CRES/No-CRES  R_RACE
CRES          American Indian or Alaska Native              0.789383
              Asian                                         7.002641
              Black or African American                    25.117827
              Multiracial                                   4.117362
              Native Hawaiian or other Pacific Islander     0.182889
              White                                        62.789898
Carless       American Indian or Alaska Native              3.350346
              Asian                                         5.361024
              Black or African American                    37.562784
              Multiracial                                   3.279972
              Native Hawaiian or other Pacific Islander     0.259350
              White                                        50.186525
Other         American Indian or Alaska Native              0.384855
              Asian                                         8.092382
              Black or African American                     9.907181
              Multiracial                                   3.851995
              Native Hawaiian or other Pacific Islander     0.257834
              White                                        77.505752
Name: SUBURBAN, dtype: float64

# Age

Urban

In [ ]:
age_u = hhpdf_2017_urb[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_AGE_IMP']]

age_u['R_AGE_IMP'].astype(int)
age_u['R_AGE_IMP'] = age_u.apply (lambda age_u: age_range(age_u),axis=1)
age1 = age_u.groupby(['CRES/No-CRES','R_AGE_IMP'])['WTPERFIN'].sum().rename('URBAN')
age1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

CRES/No-CRES  R_AGE_IMP
CRES          16-24        6.080001e+06
              25-39        7.843422e+06
              40-64        9.322263e+06
              5-15         6.257304e+06
              65+          4.170714e+06
              85+          5.660810e+05
Carless       16-24        1.173538e+06
              25-39        1.608110e+06
              40-64        3.367566e+06
              5-15         1.119780e+06
              65+          1.661524e+06
              85+          2.987798e+05
Other         16-24        7.840611e+06
              25-39        1.963131e+07
              40-64        2.576337e+07
              5-15         8.893304e+06
              65+          8.373664e+06
              85+          7.921082e+05
Name: URBAN, dtype: float64

In [ ]:
age2 = 100*(age1)/age1.groupby(level=0).sum()
age2

CRES/No-CRES  R_AGE_IMP
CRES          16-24        17.757123
              25-39        22.907334
              40-64        27.226408
              5-15         18.274951
              65+          12.180899
              85+           1.653284
Carless       16-24        12.715353
              25-39        17.423970
              40-64        36.487780
              5-15         12.132887
              65+          18.002712
              85+           3.237297
Other         16-24        10.997518
              25-39        27.535570
              40-64        36.136612
              5-15         12.474063
              65+          11.745198
              85+           1.111039
Name: URBAN, dtype: float64

Rural

In [ ]:
age_r = hhpdf_2017_rur[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_AGE_IMP']]

age_r['R_AGE_IMP'].astype(int)
age_r['R_AGE_IMP'] = age_r.apply (lambda age_r: age_range(age_r),axis=1)
age1 = age_r.groupby(['CRES/No-CRES','R_AGE_IMP'])['WTPERFIN'].sum().rename('RURAL')
age1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

CRES/No-CRES  R_AGE_IMP
CRES          16-24        2.608385e+06
              25-39        3.062635e+06
              40-64        5.079544e+06
              5-15         3.246404e+06
              65+          3.471309e+06
              85+          3.332370e+05
Carless       16-24        1.733042e+05
              25-39        2.453087e+05
              40-64        5.466930e+05
              5-15         3.184638e+05
              65+          2.039966e+05
              85+          3.554024e+04
Other         16-24        4.403035e+06
              25-39        5.549792e+06
              40-64        1.369920e+07
              5-15         4.995908e+06
              65+          5.518025e+06
              85+          3.473181e+05
Name: RURAL, dtype: float64

In [ ]:
age2 = 100*(age1)/age1.groupby(level=0).sum()
age2

CRES/No-CRES  R_AGE_IMP
CRES          16-24        14.652603
              25-39        17.204353
              40-64        28.534334
              5-15         18.236674
              65+          19.500077
              85+           1.871959
Carless       16-24        11.376840
              25-39        16.103700
              40-64        35.888571
              5-15         20.906090
              65+          13.391700
              85+           2.333099
Other         16-24        12.757512
              25-39        16.080166
              40-64        39.692544
              5-15         14.475323
              65+          15.988124
              85+           1.006332
Name: RURAL, dtype: float64

Suburban

In [ ]:
age_s = hhpdf_2017_sub[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_AGE_IMP']]

age_s['R_AGE_IMP'].astype(int)
age_s['R_AGE_IMP'] = age_s.apply (lambda age_s: age_range(age_s),axis=1)
age1 = age_s.groupby(['CRES/No-CRES','R_AGE_IMP'])['WTPERFIN'].sum().rename('SUBURBAN')
age1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

CRES/No-CRES  R_AGE_IMP
CRES          16-24        2.270089e+06
              25-39        3.250762e+06
              40-64        3.547521e+06
              5-15         2.853672e+06
              65+          2.060913e+06
              85+          3.167551e+05
Carless       16-24        1.367539e+05
              25-39        3.347060e+05
              40-64        4.794606e+05
              5-15         1.477700e+05
              65+          3.240461e+05
              85+          7.043672e+04
Other         16-24        6.538889e+06
              25-39        1.129274e+07
              40-64        1.949632e+07
              5-15         7.547741e+06
              65+          6.336969e+06
              85+          6.544631e+05
Name: SUBURBAN, dtype: float64

In [ ]:
age2 = 100*(age1)/age1.groupby(level=0).sum()
age2

CRES/No-CRES  R_AGE_IMP
CRES          16-24        15.875066
              25-39        22.733058
              40-64        24.808340
              5-15         19.956153
              65+          14.412268
              85+           2.215115
Carless       16-24         9.158609
              25-39        22.415750
              40-64        32.110177
              5-15          9.896370
              65+          21.701843
              85+           4.717250
Other         16-24        12.607003
              25-39        21.772441
              40-64        37.588976
              5-15         14.552072
              65+          12.217700
              85+           1.261807
Name: SUBURBAN, dtype: float64

# Gender

Urban

In [ ]:
gender_u = hhpdf_2017_urb[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_SEX_IMP']]

gender_u['R_SEX_IMP'].astype(int)
gender_u['R_SEX_IMP'] = gender_u.apply (lambda gender_u: gender_id(gender_u),axis=1)
gender1 = gender_u.groupby(['CRES/No-CRES','R_SEX_IMP'])['WTPERFIN'].sum().rename('URBAN')
gender1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

CRES/No-CRES  R_SEX_IMP
CRES          Female       1.810793e+07
              Male         1.613186e+07
Carless       Female       5.460780e+06
              Male         3.768518e+06
Other         Female       3.590790e+07
              Male         3.538646e+07
Name: URBAN, dtype: float64

In [ ]:
gender2 = 100*(gender1)/gender1.groupby(level=0).sum()
gender2

CRES/No-CRES  R_SEX_IMP
CRES          Female       52.885637
              Male         47.114363
Carless       Female       59.167880
              Male         40.832120
Other         Female       50.365694
              Male         49.634306
Name: URBAN, dtype: float64

Rural

In [ ]:
gender_r = hhpdf_2017_rur[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_SEX_IMP']]

gender_r['R_SEX_IMP'].astype(int)
gender_r['R_SEX_IMP'] = gender_r.apply (lambda gender_r: gender_id(gender_r),axis=1)
gender1 = gender_r.groupby(['CRES/No-CRES','R_SEX_IMP'])['WTPERFIN'].sum().rename('RURAL')
gender1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

CRES/No-CRES  R_SEX_IMP
CRES          Female       8.964380e+06
              Male         8.837135e+06
Carless       Female       8.244556e+05
              Male         6.988509e+05
Other         Female       1.670413e+07
              Male         1.780915e+07
Name: RURAL, dtype: float64

In [ ]:
gender2 = 100*(gender1)/gender1.groupby(level=0).sum()
gender2

CRES/No-CRES  R_SEX_IMP
CRES          Female       50.357398
              Male         49.642602
Carless       Female       54.122765
              Male         45.877235
Other         Female       48.399141
              Male         51.600859
Name: RURAL, dtype: float64

Suburban

In [ ]:
gender_s = hhpdf_2017_sub[['HOUSEID','PERSONID','CRES/No-CRES','WTPERFIN','R_SEX_IMP']]

gender_s['R_SEX_IMP'].astype(int)
gender_s['R_SEX_IMP'] = gender_s.apply (lambda gender_s: gender_id(gender_s),axis=1)
gender1 = gender_s.groupby(['CRES/No-CRES','R_SEX_IMP'])['WTPERFIN'].sum().rename('SUBURBAN')
gender1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

CRES/No-CRES  R_SEX_IMP
CRES          Female       7.671381e+06
              Male         6.628331e+06
Carless       Female       8.136616e+05
              Male         6.795118e+05
Other         Female       2.602411e+07
              Male         2.584301e+07
Name: SUBURBAN, dtype: float64

In [ ]:
gender2 = 100*(gender1)/gender1.groupby(level=0).sum()
gender2

CRES/No-CRES  R_SEX_IMP
CRES          Female       53.647104
              Male         46.352896
Carless       Female       54.492104
              Male         45.507896
Other         Female       50.174575
              Male         49.825425
Name: SUBURBAN, dtype: float64