<a href="https://colab.research.google.com/github/Subidghimire/Gini-coefficient-as-travel-time-reliability/blob/main/AVERAGETRIPLENGTH_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
###income levels from NHTS

In [ ]:
def label_income (hh):
 if hh['HHFAMINC']==1:
   return '10000'
 if hh['HHFAMINC']==2:
   return '12500'
 if hh['HHFAMINC']==3:
   return '20000'
 if hh['HHFAMINC']==4:
   return '30000'
 if hh['HHFAMINC']==5:
   return '42500'
 if hh['HHFAMINC']==6:
   return '62500'
 if hh['HHFAMINC']==7:
   return '87500'
 if hh['HHFAMINC']==8:
   return '112500'
 if hh['HHFAMINC']==9:
   return '137500'
 if hh['HHFAMINC']==10:
   return '175000'
 if hh['HHFAMINC']==11:
   return '200000'

In [ ]:
def equivalent_income1 (df):
 if ((df['HHSIZE']==1) & (df['label_income']<= 12500)):
   return 'Poor'
 if ((df['HHSIZE']==2) & (df['label_income']<= 15877)):
   return 'Poor'
 if ((df['HHSIZE']==3) & (df['label_income']<= 19515)):
   return 'Poor'
 if ((df['HHSIZE']==4) & (df['label_income']<= 25094)):
   return 'Poor'
 if ((df['HHSIZE']==5) & (df['label_income']<= 29714)):
   return 'Poor'
 if ((df['HHSIZE']==6) & (df['label_income']<= 33618)):
   return 'Poor'
 if ((df['HHSIZE']==7) & (df['label_income']<= 38173)):
   return 'Poor'
 if ((df['HHSIZE']==8) & (df['label_income']<= 42684)):
   return 'Poor'
 if ((df['HHSIZE']>=9) & (df['label_income']<= 50681)):
   return 'Poor'
 else:
   return 'Not-Poor'

In [ ]:
def equivalent_income2 (df):
 if ((df['HHSIZE']==1) & (df['label_income']<= 25000)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==2) & (df['label_income']<= 31754)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==3) & (df['label_income']<= 39030)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==4) & (df['label_income']<= 50188)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==5) & (df['label_income']<= 59428)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==6) & (df['label_income']<= 67236)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==7) & (df['label_income']<= 76346)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']==8) & (df['label_income']<= 85368)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 if ((df['HHSIZE']>=9) & (df['label_income']<= 101362)):
   if (df['equivalent_income']=="Poor"):
     return 'Poor'
   else:
     return 'Low-income'
 else:
   return 'Not-Poor'

In [ ]:
def CRES(df_1):
   if ((df_1['HHVEHCNT']==0)& ((df_1['equivalent_income']== "Low-income") | (df_1['equivalent_income']== "Poor"))):
     return 'Carless'
   if ((df_1['HHVEHCNT']>=1) & ((df_1['equivalent_income']== "Low-income") | (df_1['equivalent_income']== "Poor"))):
     return 'CRES'
   else:
     return 'Other'

In [ ]:
def race_name(df):
  if df['R_RACE'] == 1:
    return 'White'
  elif df['R_RACE'] == 2:
    return 'Black or African American'
  elif df['R_RACE'] == 3:
    return 'Asian'
  elif df['R_RACE'] == 4:
    return 'American Indian or Alaska Native'
  elif df['R_RACE'] == 5:
    return 'Native Hawaiian or other Pacific Islander'
  elif df['R_RACE'] == 6:
    return 'Multiracial'

In [ ]:
def age_range(df):
  if ((df['R_AGE_IMP'] >= 5) & (df['R_AGE_IMP'] <= 15)):
    return '5-15'
  elif ((df['R_AGE_IMP'] >= 16) & (df['R_AGE_IMP'] <= 24)):
    return '16-24'
  elif ((df['R_AGE_IMP'] >= 25) & (df['R_AGE_IMP'] <= 39)):
    return '25-39'
  elif ((df['R_AGE_IMP'] >= 40) & (df['R_AGE_IMP'] <= 64)):
    return '40-64'
  elif ((df['R_AGE_IMP'] >= 65) & (df['R_AGE_IMP'] <= 84)):
    return '65+'
  elif (df['R_AGE_IMP'] >= 85):
    return '85+'

In [ ]:
def gender_id(df):
  if (df['R_SEX_IMP'] == 1):
    return 'Male'
  if (df['R_SEX_IMP'] == 2):
    return 'Female'

In [ ]:
    hhdf_2017 = pd.read_csv('/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/hhpub2017.csv')
    perdf_2017 = pd.read_csv('/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/perpub2017.csv')
    tripdf_2017 = pd.read_csv('/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/trippub2017.csv')
    #vehdf_2017 = pd.read_csv('/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/vehpub2017.csv')

In [ ]:
    hhdf_2017F = hhdf_2017

    hhdf_2017F['HHFAMINC'] = hhdf_2017F['HHFAMINC'].astype(int)
    inc_filt = [1,2,3,4,5,6,7,8,9,10,11]
    hhdf_2017F = hhdf_2017F[hhdf_2017F['HHFAMINC'].isin(inc_filt)]

    hhdf_2017F['label_income'] = hhdf_2017F.apply (lambda hhdf_2017F: label_income(hhdf_2017F), axis=1)
    hhdf_2017F['label_income'] = pd.to_numeric(hhdf_2017F['label_income'], downcast="float")
    hhdf_2017F['equivalent_income'] = hhdf_2017F.apply (lambda hhdf_2017F: equivalent_income1(hhdf_2017F), axis=1)
    hhdf_2017F['equivalent_income'] = hhdf_2017F.apply (lambda hhdf_2017F: equivalent_income2(hhdf_2017F), axis=1)
    hhdf_2017F['CRES/No-CRES'] = hhdf_2017F.apply (lambda hhdf_2017F: CRES(hhdf_2017F), axis=1)

    cols_to_use = hhdf_2017F.columns.difference(perdf_2017.columns)
    cols_to_use = cols_to_use.tolist()
    cols_to_use.append('HOUSEID')

    hhpdf_2017 = pd.merge(hhdf_2017F[cols_to_use], perdf_2017,on='HOUSEID',how='right')
    hhpdf_2017.dropna()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,BIKE,BIKE2SAVE,BUS,CAR,CNTTDHH,CRES/No-CRES,HHRELATD,PARA,PC,PLACE,...,SMPLSRCE,WTPERFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN
0,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,2,206.690153,T,50,1500,750,750,20,750,300
1,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,2,197.075742,T,50,1500,750,750,20,750,300
2,5.0,4.0,4.0,1.0,6.0,Other,1.0,5.0,2.0,2.0,...,2,219.514210,T,50,1500,750,750,20,750,300
3,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,2,63.185911,R,5,300,300,150,5,300,300
4,4.0,4.0,5.0,1.0,2.0,Other,1.0,5.0,1.0,2.0,...,2,58.665911,R,5,300,300,150,5,300,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264229,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,2,213.514657,R,20,50,50,25,20,300,50
264230,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,2,133.448420,R,20,50,50,25,20,300,50
264231,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,2,133.448420,R,20,50,50,25,20,300,50
264232,5.0,5.0,5.0,1.0,11.0,CRES,1.0,5.0,1.0,3.0,...,2,133.448420,R,20,50,50,25,20,300,50
264233,2.0,2.0,2.0,5.0,5.0,Other,2.0,5.0,1.0,2.0,...,1,611.938240,U,70,30000,30000,5000,70,30000,17000

In [ ]:
tripdf_2017

,HOUSEID,PERSONID,TDTRPNUM,STRTTIME,ENDTIME,TRVLCMIN,TRPMILES,TRPTRANS,TRPACCMP,TRPHHACC,...,OBHTNRNT,OBPPOPDN,OBRESDN,DTHTNRNT,DTPPOPDN,DTRESDN,DTEEMPDN,DBHTNRNT,DBPPOPDN,DBRESDN
0,30000007,1,1,1000,1015,15,5.244,3,0,0,...,20,750,300,50,750,300,350,30,300,300
1,30000007,1,2,1510,1530,20,5.149,3,0,0,...,30,300,300,50,1500,750,750,20,750,300
2,30000007,2,1,700,900,120,84.004,6,0,0,...,40,1500,750,50,1500,750,750,20,750,300
3,30000007,2,2,1800,2030,150,81.628,6,0,0,...,20,750,300,40,1500,750,750,40,1500,750
4,30000007,3,1,845,900,15,2.250,3,0,0,...,20,750,300,50,750,300,350,60,750,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,1,810,837,27,1.168,1,0,0,...,70,30000,17000,70,7000,7000,5000,80,17000,17000
923568,50515573,1,2,1320,1328,8,0.238,1,0,0,...,80,17000,17000,70,7000,7000,5000,60,3000,3000
923569,50515573,1,3,1415,1420,5,0.238,1,0,0,...,60,3000,3000,70,7000,7000,5000,80,17000,17000
923570,50515573,1,4,1820,1845,25,0.867,1,0,0,...,80,17000,17000,60,30000,30000,5000,70,30000,30000
923571,50515573,1,5,1848,1855,7,0.325,1,0,0,...,70,30000,30000,70,30000,30000,5000,70,30000,17000

In [ ]:
tripdf_2017 = tripdf_2017[['HOUSEID','WTTRDFIN','TRPTRANS','TRPMILAD','TRPHHVEH']]

In [ ]:
tripdf_2017

         HOUSEID       WTTRDFIN  TRPTRANS   TRPMILAD  TRPHHVEH
0       30000007   75441.905796         3   5.847584         1
1       30000007   75441.905796         3   5.741650         1
2       30000007   71932.645806         6  90.178294         1
3       30000007   71932.645806         6  87.627658         1
4       30000007   80122.686739         3   2.508975         1
...          ...            ...       ...        ...       ...
923567  50515573  223357.457435         1   1.168000         2
923568  50515573  223357.457435         1   0.238000         2
923569  50515573  223357.457435         1   0.238000         2
923570  50515573  223357.457435         1   0.867000         2
923571  50515573  223357.457435         1   0.325000         2

[923572 rows x 5 columns]

In [ ]:
tripdf_2017.dropna()
tripdf_2017

         HOUSEID       WTTRDFIN  TRPTRANS   TRPMILAD  TRPHHVEH
0       30000007   75441.905796         3   5.847584         1
1       30000007   75441.905796         3   5.741650         1
2       30000007   71932.645806         6  90.178294         1
3       30000007   71932.645806         6  87.627658         1
4       30000007   80122.686739         3   2.508975         1
...          ...            ...       ...        ...       ...
923567  50515573  223357.457435         1   1.168000         2
923568  50515573  223357.457435         1   0.238000         2
923569  50515573  223357.457435         1   0.238000         2
923570  50515573  223357.457435         1   0.867000         2
923571  50515573  223357.457435         1   0.325000         2

[923572 rows x 5 columns]

In [ ]:
hhpdf_2017 = hhpdf_2017[['HOUSEID','HBHUR', 'CRES/No-CRES','HHVEHCNT']]

In [ ]:
hhpdft_2017 = pd.merge(hhpdf_2017, tripdf_2017,on='HOUSEID',how='outer')
hhpdft_2017 = hhpdft_2017.dropna()
hhpdft_2017

,HOUSEID,HBHUR,CRES/No-CRES,HHVEHCNT,WTTRDFIN,TRPTRANS,TRPMILAD,TRPHHVEH
0,30000007,T,Other,5,75441.905796,3.0,5.847584,1.0
1,30000007,T,Other,5,75441.905796,3.0,5.741650,1.0
2,30000007,T,Other,5,71932.645806,6.0,90.178294,1.0
3,30000007,T,Other,5,71932.645806,6.0,87.627658,1.0
4,30000007,T,Other,5,80122.686739,3.0,2.508975,1.0
...,...,...,...,...,...,...,...,...
2341542,50515573,U,Other,0,223357.457435,1.0,1.168000,2.0
2341543,50515573,U,Other,0,223357.457435,1.0,0.238000,2.0
2341544,50515573,U,Other,0,223357.457435,1.0,0.238000,2.0
2341545,50515573,U,Other,0,223357.457435,1.0,0.867000,2.0
2341546,50515573,U,Other,0,223357.457435,1.0,0.325000,2.0

In [ ]:
#hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['HHVEHCNT']==0].index, inplace = True)

In [ ]:
hhpdft_2017 = hhpdft_2017[['HBHUR', 'CRES/No-CRES','WTTRDFIN','TRPTRANS','TRPMILAD','HHVEHCNT','TRPHHVEH']]

In [ ]:
hhpdft_2017

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH
0,T,Other,75441.905796,3.0,5.847584,5,1.0
1,T,Other,75441.905796,3.0,5.741650,5,1.0
2,T,Other,71932.645806,6.0,90.178294,5,1.0
3,T,Other,71932.645806,6.0,87.627658,5,1.0
4,T,Other,80122.686739,3.0,2.508975,5,1.0
...,...,...,...,...,...,...,...
2341542,U,Other,223357.457435,1.0,1.168000,0,2.0
2341543,U,Other,223357.457435,1.0,0.238000,0,2.0
2341544,U,Other,223357.457435,1.0,0.238000,0,2.0
2341545,U,Other,223357.457435,1.0,0.867000,0,2.0
2341546,U,Other,223357.457435,1.0,0.325000,0,2.0

In [ ]:
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['TRPTRANS']==-1].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['TRPTRANS']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['TRPTRANS']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['TRPTRANS']==-9].index, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
'''hhpdft_2017 = hhpdft_2017[hhpdft_2017['TRPTRANS'].isin([3,4,5,6])]
hhpdft_2017 = hhpdft_2017.dropna()
hhpdft_2017

        HBHUR CRES/No-CRES      WTTRDFIN  TRPTRANS   TRPMILAD  HHVEHCNT
0           T        Other  75441.905796       3.0   5.847584         5
1           T        Other  75441.905796       3.0   5.741650         5
2           T        Other  71932.645806       6.0  90.178294         5
3           T        Other  71932.645806       6.0  87.627658         5
4           T        Other  80122.686739       3.0   2.508975         5
...       ...          ...           ...       ...        ...       ...
2341537     R         CRES  77932.849893       5.0   0.870893         5
2341538     R         CRES  77932.849893       5.0   0.870893         5
2341539     R         CRES  77932.849893       5.0  10.662586         5
2341540     R         CRES  48708.673375       5.0  10.164136         5
2341541     R         CRES  48708.673375       5.0  10.662586         5

[1940373 rows x 6 columns]

In [ ]:
hhpdft_2017['TRPTRANS'].value_counts()

3.0     917913
4.0     579749
6.0     260716
5.0     192822
1.0     187891
10.0     45321
2.0      20036
11.0     14107
97.0      8554
16.0      7321
17.0      6131
18.0      4581
8.0       4546
19.0      4172
13.0      3796
15.0      2735
7.0       1757
9.0       1731
12.0      1096
20.0      1067
14.0       254
Name: TRPTRANS, dtype: int64

In [ ]:
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['TRPTRANS']==-1].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['TRPTRANS']==-7].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['TRPTRANS']==-8].index, inplace = True)
hhpdft_2017.drop(hhpdft_2017[hhpdft_2017['TRPTRANS']==-9].index, inplace = True)

In [ ]:
def mode (data_1):
 if data_1['TRPTRANS']==1:
   return 'Walk'
 if data_1['TRPTRANS']==2:
   return 'Bike'
 if data_1['TRPTRANS']==3:
   return 'Car'
 if data_1['TRPTRANS']==4:
   return 'Car'
 if data_1['TRPTRANS']==5:
   return 'Car'
 if data_1['TRPTRANS']==6:
   return 'Car'
 if data_1['TRPTRANS']==7:
   return 'Other'
 if data_1['TRPTRANS']==8:
   return 'Other'
 if data_1['TRPTRANS']==9:
   return 'Other'
 if data_1['TRPTRANS']==10:
   return 'Transit'
 if data_1['TRPTRANS']==11:
   return 'Transit'
 if data_1['TRPTRANS']==12:
   return 'Transit'
 if data_1['TRPTRANS']==13:
   return 'Transit'
 if data_1['TRPTRANS']==14:
   return 'Transit'
 if data_1['TRPTRANS']==15:
   return 'Transit'
 if data_1['TRPTRANS']==16:
   return 'Transit'
 if data_1['TRPTRANS']==17:
   return 'Other'
 if data_1['TRPTRANS']==18:
   return 'Other'
 if data_1['TRPTRANS']==19:
   return 'Other'
 if data_1['TRPTRANS']==20:
   return 'Other'
 if data_1['TRPTRANS']==97:
   return 'Other'

In [ ]:
hhpdft_2017['mode'] = hhpdft_2017.apply (lambda hhpdft_2017: mode(hhpdft_2017), axis=1)
hhpdft_2017

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        HBHUR CRES/No-CRES       WTTRDFIN  TRPTRANS  mode
0           T        Other   75441.905796       3.0   Car
1           T        Other   75441.905796       3.0   Car
2           T        Other   71932.645806       6.0   Car
3           T        Other   71932.645806       6.0   Car
4           T        Other   80122.686739       3.0   Car
...       ...          ...            ...       ...   ...
2341542     U        Other  223357.457435       1.0  Walk
2341543     U        Other  223357.457435       1.0  Walk
2341544     U        Other  223357.457435       1.0  Walk
2341545     U        Other  223357.457435       1.0  Walk
2341546     U        Other  223357.457435       1.0  Walk

[2266296 rows x 5 columns]

In [ ]:
#hhpdft_2017_walk = hhpdft_2017[hhpdft_2017['TRPTRANS'].isin([26])]

In [ ]:
hhpdft_2017_bike = hhpdft_2017.copy()

In [ ]:
hhpdft_2017_bike

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH
0,T,Other,75441.905796,3.0,5.847584,5,1.0
1,T,Other,75441.905796,3.0,5.741650,5,1.0
2,T,Other,71932.645806,6.0,90.178294,5,1.0
3,T,Other,71932.645806,6.0,87.627658,5,1.0
4,T,Other,80122.686739,3.0,2.508975,5,1.0
...,...,...,...,...,...,...,...
2341542,U,Other,223357.457435,1.0,1.168000,0,2.0
2341543,U,Other,223357.457435,1.0,0.238000,0,2.0
2341544,U,Other,223357.457435,1.0,0.238000,0,2.0
2341545,U,Other,223357.457435,1.0,0.867000,0,2.0
2341546,U,Other,223357.457435,1.0,0.325000,0,2.0

In [ ]:
'''hhpdf_2017.drop(hhpdf_2017[hhpdf_2017['NWALKTRP']==-1].index, inplace = True)
hhpdf_2017.drop(hhpdf_2017[hhpdf_2017['NWALKTRP']==-9].index, inplace = True)
hhpdf_2017.drop(hhpdf_2017[hhpdf_2017['NWALKTRP']==-7].index, inplace = True)

In [ ]:
'''hhpdf_2017.drop(hhpdf_2017[hhpdf_2017['NBIKETRP']==-1].index, inplace = True)
hhpdf_2017.drop(hhpdf_2017[hhpdf_2017['NBIKETRP']==-9].index, inplace = True)
hhpdf_2017.drop(hhpdf_2017[hhpdf_2017['NBIKETRP']==-7].index, inplace = True)

In [ ]:
'''hhpdf_2017['Weightedbike'] = hhpdf_2017['NBIKETRP']*hhpdf_2017['WTPERFIN']

In [ ]:
'''hhpdf_2017['Weightedwalk'] = hhpdf_2017['NWALKTRP']*hhpdf_2017['WTPERFIN']

In [ ]:
########Modal Distribution#############

In [ ]:
hhpdft_2017.HBHUR.value_counts()

S     546534
T     522189
R     494723
C     443285
U     257754
-9      1811
Name: HBHUR, dtype: int64

In [ ]:
hhpdft_2017_urb_bike = hhpdft_2017_bike[hhpdft_2017_bike['HBHUR'].isin(['U'])]
hhpdft_2017_urb_bike = hhpdft_2017_urb_bike.dropna()
hhpdft_2017_urb_bike

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH
129,U,Other,101378.333286,1.0,0.251,2,2.0
130,U,Other,101378.333286,1.0,0.248,2,2.0
131,U,Other,101378.333286,1.0,0.248,2,2.0
132,U,Other,101378.333286,1.0,0.251,2,2.0
133,U,Other,101378.333286,1.0,0.664,2,2.0
...,...,...,...,...,...,...,...
2341542,U,Other,223357.457435,1.0,1.168,0,2.0
2341543,U,Other,223357.457435,1.0,0.238,0,2.0
2341544,U,Other,223357.457435,1.0,0.238,0,2.0
2341545,U,Other,223357.457435,1.0,0.867,0,2.0
2341546,U,Other,223357.457435,1.0,0.325,0,2.0

In [ ]:
hhpdft_2017_rur_bike = hhpdft_2017_bike[hhpdft_2017_bike['HBHUR'].isin(['R','T'])]
hhpdft_2017_rur_bike = hhpdft_2017_rur_bike.dropna()
hhpdft_2017_rur_bike

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH
0,T,Other,75441.905796,3.0,5.847584,5,1.0
1,T,Other,75441.905796,3.0,5.741650,5,1.0
2,T,Other,71932.645806,6.0,90.178294,5,1.0
3,T,Other,71932.645806,6.0,87.627658,5,1.0
4,T,Other,80122.686739,3.0,2.508975,5,1.0
...,...,...,...,...,...,...,...
2341537,R,CRES,77932.849893,5.0,0.870893,5,1.0
2341538,R,CRES,77932.849893,5.0,0.870893,5,1.0
2341539,R,CRES,77932.849893,5.0,10.662586,5,1.0
2341540,R,CRES,48708.673375,5.0,10.164136,5,1.0
2341541,R,CRES,48708.673375,5.0,10.662586,5,1.0

In [ ]:
hhpdft_2017_sub_bike = hhpdft_2017_bike[hhpdft_2017_bike['HBHUR'].isin(['C','S'])]
hhpdft_2017_sub_bike = hhpdft_2017_sub_bike.dropna()
hhpdft_2017_sub_bike

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH
22,C,Other,21522.690513,4.0,3.785764,2,1.0
23,C,Other,21522.690513,4.0,3.785764,2,1.0
24,C,Other,21522.690513,4.0,1.180891,2,1.0
25,C,Other,21522.690513,4.0,1.130711,2,1.0
26,C,Other,21522.690513,3.0,4.784894,2,1.0
...,...,...,...,...,...,...,...
2341450,S,Other,100066.168932,4.0,9.564213,1,1.0
2341451,S,Other,100066.168932,4.0,9.897628,1,1.0
2341452,S,Other,100066.168932,4.0,1.239991,1,1.0
2341453,S,Other,11986.630305,3.0,1.798656,1,1.0
2341454,S,Other,11986.630305,3.0,1.742901,1,1.0

In [ ]:
#####urban#####

In [ ]:
hhpdft_2017_urb_bike['weightedlength'] = hhpdft_2017_urb_bike['TRPMILAD'] * hhpdft_2017_urb_bike['WTTRDFIN']
hhpdft_2017_urb_bike

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH,weightedlength
129,U,Other,101378.333286,1.0,0.251,2,2.0,25445.961655
130,U,Other,101378.333286,1.0,0.248,2,2.0,25141.826655
131,U,Other,101378.333286,1.0,0.248,2,2.0,25141.826655
132,U,Other,101378.333286,1.0,0.251,2,2.0,25445.961655
133,U,Other,101378.333286,1.0,0.664,2,2.0,67315.213302
...,...,...,...,...,...,...,...,...
2341542,U,Other,223357.457435,1.0,1.168,0,2.0,260881.510284
2341543,U,Other,223357.457435,1.0,0.238,0,2.0,53159.074870
2341544,U,Other,223357.457435,1.0,0.238,0,2.0,53159.074870
2341545,U,Other,223357.457435,1.0,0.867,0,2.0,193650.915596
2341546,U,Other,223357.457435,1.0,0.325,0,2.0,72591.173666

In [ ]:
urb = hhpdft_2017_urb_bike.groupby(['CRES/No-CRES'])['weightedlength'].sum().rename('Triplength')
urb

CRES/No-CRES
CRES       4.779119e+11
Carless    6.320512e+10
Other      1.389043e+12
Name: Triplength, dtype: float64

In [ ]:
urb = pd.DataFrame(urb)
urb

                Triplength
CRES/No-CRES
CRES          4.779119e+11
Carless       6.320512e+10
Other         1.389043e+12

In [ ]:
urb['weight'] = hhpdft_2017_urb_bike.groupby(['CRES/No-CRES'])['WTTRDFIN'].sum().rename('weight')
urb

                Triplength        weight
CRES/No-CRES
CRES          4.779119e+11  5.274036e+10
Carless       6.320512e+10  1.067975e+10
Other         1.389043e+12  1.290282e+11

In [ ]:
urb['weightedtriplength'] = urb['Triplength']/urb['weight']
urb

                Triplength        weight  weightedtriplength
CRES/No-CRES
CRES          4.779119e+11  5.274036e+10            9.061597
Carless       6.320512e+10  1.067975e+10            5.918219
Other         1.389043e+12  1.290282e+11           10.765420

In [ ]:
urb_bike = pd.DataFrame(urb)
urb_bike['year'] = 2017
urb_bike['area'] = "Urban"
urb_bike

                Triplength        weight  weightedtriplength  year   area
CRES/No-CRES
CRES          4.779119e+11  5.274036e+10            9.061597  2017  Urban
Carless       6.320512e+10  1.067975e+10            5.918219  2017  Urban
Other         1.389043e+12  1.290282e+11           10.765420  2017  Urban

In [ ]:
###########suburban############

In [ ]:
hhpdft_2017_sub_bike['weightedlength'] = hhpdft_2017_sub_bike['TRPMILAD'] * hhpdft_2017_sub_bike['WTTRDFIN']
hhpdft_2017_sub_bike

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH,weightedlength
22,C,Other,21522.690513,4.0,3.785764,2,1.0,81479.837689
23,C,Other,21522.690513,4.0,3.785764,2,1.0,81479.837689
24,C,Other,21522.690513,4.0,1.180891,2,1.0,25415.949371
25,C,Other,21522.690513,4.0,1.130711,2,1.0,24335.951522
26,C,Other,21522.690513,3.0,4.784894,2,1.0,102983.794853
...,...,...,...,...,...,...,...,...
2341450,S,Other,100066.168932,4.0,9.564213,1,1.0,957054.123741
2341451,S,Other,100066.168932,4.0,9.897628,1,1.0,990417.675449
2341452,S,Other,100066.168932,4.0,1.239991,1,1.0,124081.168894
2341453,S,Other,11986.630305,3.0,1.798656,1,1.0,21559.828114
2341454,S,Other,11986.630305,3.0,1.742901,1,1.0,20891.513541

In [ ]:
sub = hhpdft_2017_sub_bike.groupby(['CRES/No-CRES'])['weightedlength'].sum().rename('Triplength')
sub

CRES/No-CRES
CRES       8.926559e+11
Carless    4.184583e+10
Other      3.700337e+12
Name: Triplength, dtype: float64

In [ ]:
sub = pd.DataFrame(sub)
sub

                Triplength
CRES/No-CRES
CRES          8.926559e+11
Carless       4.184583e+10
Other         3.700337e+12

In [ ]:
sub['weight'] = hhpdft_2017_sub_bike.groupby(['CRES/No-CRES'])['WTTRDFIN'].sum().rename('weight')
sub

                Triplength        weight
CRES/No-CRES
CRES          8.926559e+11  1.239457e+11
Carless       4.184583e+10  1.200581e+10
Other         3.700337e+12  3.226732e+11

In [ ]:
sub['weightedtriplength'] = sub['Triplength']/sub['weight']
sub

                Triplength        weight  weightedtriplength
CRES/No-CRES
CRES          8.926559e+11  1.239457e+11            7.201993
Carless       4.184583e+10  1.200581e+10            3.485465
Other         3.700337e+12  3.226732e+11           11.467754

In [ ]:
sub_bike = pd.DataFrame(sub)
sub_bike['year'] = 2017
sub_bike['area'] = "Suburban"
sub_bike

                Triplength        weight  weightedtriplength  year      area
CRES/No-CRES
CRES          8.926559e+11  1.239457e+11            7.201993  2017  Suburban
Carless       4.184583e+10  1.200581e+10            3.485465  2017  Suburban
Other         3.700337e+12  3.226732e+11           11.467754  2017  Suburban

In [ ]:
############Rural###################

In [ ]:
hhpdft_2017_rur_bike['weightedlength'] = hhpdft_2017_rur_bike['TRPMILAD'] * hhpdft_2017_rur_bike['WTTRDFIN']
hhpdft_2017_rur_bike

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH,weightedlength
0,T,Other,75441.905796,3.0,5.847584,5,1.0,4.411529e+05
1,T,Other,75441.905796,3.0,5.741650,5,1.0,4.331610e+05
2,T,Other,71932.645806,6.0,90.178294,5,1.0,6.486763e+06
3,T,Other,71932.645806,6.0,87.627658,5,1.0,6.303289e+06
4,T,Other,80122.686739,3.0,2.508975,5,1.0,2.010258e+05
...,...,...,...,...,...,...,...,...
2341537,R,CRES,77932.849893,5.0,0.870893,5,1.0,6.787118e+04
2341538,R,CRES,77932.849893,5.0,0.870893,5,1.0,6.787118e+04
2341539,R,CRES,77932.849893,5.0,10.662586,5,1.0,8.309657e+05
2341540,R,CRES,48708.673375,5.0,10.164136,5,1.0,4.950816e+05
2341541,R,CRES,48708.673375,5.0,10.662586,5,1.0,5.193604e+05

In [ ]:
rur = hhpdft_2017_rur_bike.groupby(['CRES/No-CRES'])['weightedlength'].sum().rename('Triplength')
rur

CRES/No-CRES
CRES       1.176294e+12
Carless    3.460875e+10
Other      4.079428e+12
Name: Triplength, dtype: float64

In [ ]:
rur = pd.DataFrame(rur)
rur

                Triplength
CRES/No-CRES
CRES          1.176294e+12
Carless       3.460875e+10
Other         4.079428e+12

In [ ]:
rur['weight'] = hhpdft_2017_rur_bike.groupby(['CRES/No-CRES'])['WTTRDFIN'].sum().rename('weight')
rur

                Triplength        weight
CRES/No-CRES
CRES          1.176294e+12  1.095070e+11
Carless       3.460875e+10  5.585199e+09
Other         4.079428e+12  2.874088e+11

In [ ]:
rur['weightedtriplength'] = rur['Triplength']/rur['weight']
rur

                Triplength        weight  weightedtriplength
CRES/No-CRES
CRES          1.176294e+12  1.095070e+11           10.741724
Carless       3.460875e+10  5.585199e+09            6.196511
Other         4.079428e+12  2.874088e+11           14.193816

In [ ]:
rur_bike = pd.DataFrame(rur)
rur_bike['year'] = 2017
rur_bike['area'] = "Rural"
rur_bike

                Triplength        weight  weightedtriplength  year   area
CRES/No-CRES
CRES          1.176294e+12  1.095070e+11           10.741724  2017  Rural
Carless       3.460875e+10  5.585199e+09            6.196511  2017  Rural
Other         4.079428e+12  2.874088e+11           14.193816  2017  Rural

In [ ]:
#######append#############

In [ ]:
append1 = urb_bike.append(sub_bike, ignore_index = False)
append1

                Triplength        weight  weightedtriplength  year      area
CRES/No-CRES
CRES          4.779119e+11  5.274036e+10            9.061597  2017     Urban
Carless       6.320512e+10  1.067975e+10            5.918219  2017     Urban
Other         1.389043e+12  1.290282e+11           10.765420  2017     Urban
CRES          8.926559e+11  1.239457e+11            7.201993  2017  Suburban
Carless       4.184583e+10  1.200581e+10            3.485465  2017  Suburban
Other         3.700337e+12  3.226732e+11           11.467754  2017  Suburban

In [ ]:
append2 = append1.append(rur_bike, ignore_index=False)
append2

                Triplength        weight  weightedtriplength  year      area
CRES/No-CRES
CRES          4.779119e+11  5.274036e+10            9.061597  2017     Urban
Carless       6.320512e+10  1.067975e+10            5.918219  2017     Urban
Other         1.389043e+12  1.290282e+11           10.765420  2017     Urban
CRES          8.926559e+11  1.239457e+11            7.201993  2017  Suburban
Carless       4.184583e+10  1.200581e+10            3.485465  2017  Suburban
Other         3.700337e+12  3.226732e+11           11.467754  2017  Suburban
CRES          1.176294e+12  1.095070e+11           10.741724  2017     Rural
Carless       3.460875e+10  5.585199e+09            6.196511  2017     Rural
Other         4.079428e+12  2.874088e+11           14.193816  2017     Rural

In [ ]:
append2.to_csv('/content/gdrive/Shareddrives/STRIDE_Projects/STRIDE_Travel_Behavior/Code/firstpaperdescriptives/AVERAGETRIPLENGTH2017FINAL.csv')

##################TRPLENGTHINPERSONALLYOWNEDVEHICLES######################

In [ ]:
hhpdft_2017_rur_bike

,HBHUR,CRES/No-CRES,WTTRDFIN,TRPTRANS,TRPMILAD,HHVEHCNT,TRPHHVEH,weightedlength
0,T,Other,75441.905796,3.0,5.847584,5,1.0,4.411529e+05
1,T,Other,75441.905796,3.0,5.741650,5,1.0,4.331610e+05
2,T,Other,71932.645806,6.0,90.178294,5,1.0,6.486763e+06
3,T,Other,71932.645806,6.0,87.627658,5,1.0,6.303289e+06
4,T,Other,80122.686739,3.0,2.508975,5,1.0,2.010258e+05
...,...,...,...,...,...,...,...,...
2341537,R,CRES,77932.849893,5.0,0.870893,5,1.0,6.787118e+04
2341538,R,CRES,77932.849893,5.0,0.870893,5,1.0,6.787118e+04
2341539,R,CRES,77932.849893,5.0,10.662586,5,1.0,8.309657e+05
2341540,R,CRES,48708.673375,5.0,10.164136,5,1.0,4.950816e+05
2341541,R,CRES,48708.673375,5.0,10.662586,5,1.0,5.193604e+05